{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="sign-in.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="enter-otp-resume" method="POST">
            <h1 class="govuk-heading-xl">Enter your password</h1>
            <p class="govuk-body">Enter your password to sign in.<p>
            <!-- Enter Password -->
            <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
            data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                <div class="govuk-form-group">
                    <label for="password" class="gem-c-label govuk-label">Password</label>
                    <div id="password-hint" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
                        It must be at least 8 characters long and must include at least one number.
                    </div>
                    <div class="gem-c-show-password__input-wrapper">
                        <input name="user[password]" class="gem-c-input govuk-input gem-c-input--with-password govuk-!-width-two-thirds"
                        id="password" type="password" autocomplete="new-password" aria-describedby="hint-password">
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                    </div> <!-- /. gem-c-show-password__input-wrapper -->
                    <div class="govuk-!-padding-bottom-2"></div>
                    <a href="check-email.html" class="govuk-link">I've forgotten my password</a>
                </div> <!-- /. govuk-form-group -->
            </div> <!-- /. gem-c-show-password -->
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form> <!-- /. form -->
    </div> <!-- /. govuk-grid-column-two-thirds -->
</div> <!-- /. govuk-grid-row -->

{% endblock %}