{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="enter-password-post-reset" method="POST">
            <h1 class="govuk-heading-xl">Reset your password</h1>
            <!-- Enter Password -->
            <div class="gem-c-show-password" data-module="show-password" data-disable-form-submit-check="false"
            data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                <div class="govuk-form-group">
                    <label for="password" class="gem-c-label govuk-label">Enter a new password</label>
                    <div id="password-hint" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
                        It must be at least 8 characters long and must include at least one number.
                    </div>
                    <div class="gem-c-show-password__input-wrapper">
                        <input name="user[password]" class="gem-c-input govuk-input gem-c-input--with-password govuk-!-width-two-thirds"
                        id="password" type="password" autocomplete="new-password" aria-describedby="hint-password">
                        <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
                    </div> <!-- /. gem-c-show-password__input-wrapper -->
                    <div class="govuk-!-padding-bottom-2"></div>
                    <!-- How to make a secure password -->
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">How to create a secure password</span>
                        </summary>
                        <div class="govuk-details__text">
                            A good way to create a secure and memorable password is to use 3 random words. You can use numbers,
                            symbols and spaces.
                        </div>
                    </details>
                </div> <!-- /. govuk-form-group -->
            </div> <!-- /. gem-c-show-password -->
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form> <!-- /. form -->
    </div> <!-- /. govuk-grid-column-two-thirds -->
</div> <!-- /. govuk-grid-row -->

{% endblock %}
