{% extends "layout_handover_child.html" %}s

{% block title %}
{{ super() }}
{% endblock %}

{% block menu %}
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-top-2">
                <li>There is limited sharing outside of departments </li>
                <li>Current legislation and the time taken to get agreements in place are significant barriers to sharing data within government</li>
            </ul>

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-one-half">

                            <blockquote>
                                <p><i>We now can't significantly improve experience for users unless we change legislation, we are now treating that and the consultation as a deliverable</i>.</p>
                            </blockquote>

                        </div>

                        <div class="govuk-grid-column-one-half">

                            <blockquote>
                                <p><i>We are not able to share at the moment due to Data protection and GDPR. We get enquiries from social services if a baby has been born they need information regarding the birth information - and we then have to direct them to request a copy, they have to purchase the certificate. It seems silly they are having to pay us as a service to get that information.</i></p>
                            </blockquote>

                        </div>

                    </div>

                </div>
            </details>

        </div>
    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <p>Most of the services included within the research told us that they are reliant on manual processes to support their online service.</p>
            <p>The service and data research also highlighted the use data from 3rd parties, (e.g. Ordnance Survey data, 3rd party address lookups and use of Experian data).</p>

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-top-4 govuk-!-padding-bottom-4">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li><b>Third party data</b> is widely used as it’s easier to obtain than data from other government services - but this comes at a financial cost. </li>
                <li>There is often a <b>high reliance on manual processes</b> to acquire or make use of data - preventing services from becoming fully digitised. </li>
                <li>This reliance on manual processes, means that in many cases there are <b>limits on service capacity</b> - many services have backlogs or wouldn’t be able to accept more applications without “breaking the service”.</li>
            </ul>

        </div>
    </div>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-full">

                            <blockquote>
                                <p><i>We use Companies House and the Charities Commission [data], ideally we want APIs to automate some of those tasks</i>.</p>
                            </blockquote>

                        </div>

                    </div>

                </div>
            </details>

        </div>

    </div>

</div>

<!-- <div class="govuk-grid-column-full govuk-!-padding-bottom-8 govuk-!-padding-top-8">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            <h3 class="govuk-heading-m">Perceived challenges of cross government services</h3>

        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Differences in data assurance standards across government could make consuming data from some government services difficult
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Some services may only be willing to be source of data in the future, rather than a consumer</li>
                    </ul>
                </li>
                <li>Current legislation and resource commitment were also seen as future challenges</li>
            </ul>

        </div>

        <div class="govuk-grid-column-one-third govuk-!-padding-bottom-8 govuk-!-padding-top-4">

            <blockquote>
                <p><i>Identity Assurance level 4/3 - the highest levels - most other departments aren't there - the stakes are high - I can't see how we leverage the trust with other departments</i></p>
                <p><b>Home Office</b></p>
            </blockquote>

        </div>

    </div>
</div>

<div class="govuk-grid-column-full govuk-!-padding-bottom-8 govuk-!-padding-top-8">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            <h3 class="govuk-heading-m">Future expectations of cross government services</h3>

        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-padding-top-4">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>A culture of trust</li>
                <li>All data is on the table</li>
                <li>Everything in one place</li>
                <li>A level playing field</li>
            </ul>

        </div>

        <div class="govuk-grid-column-one-third govuk-!-padding-bottom-8 govuk-!-padding-top-4">

            <blockquote>
                <p><i>A life circumstance led approach</i></p>
                <p><b>DWP - PIP</b></p>
            </blockquote>

        </div>

    </div>
    <div class="govuk-grid-row govuk-!-padding-top-4">

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8 govuk-!-padding-top-4">

            <blockquote>
                <p><i>As a result of that transparency you can use the account to facilitate a conversation with DWP, or HMRC, it becomes your way into talking to government, it becomes a safe and trusted place</i></p>
                <p><b>MOJ - LPA</b></p>
            </blockquote>

        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8 govuk-!-padding-top-4">

            <blockquote>
                <p><i>I think all data should be on the table, you're working in government, you have trust and respect and autonomy, to access the data and metadata to service citizens with the minimum number of contact points</i></p>
                <p><b>MOD - Forces Compensation and War Pension Scheme</b></p>
            </blockquote>

        </div>

    </div>
</div> -->
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    <div class="govuk-grid-row  govuk-!-padding-bottom-4">

        <div class="govuk-grid-column-full">

            <p>The GOV.UK account was perceived as a mechanism to help overcome differences in resources and levels of technical maturity.</p>
            <p>Some services commented that a centrally developed account could help the services transform at different rates.</p>

        </div>

    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-one-half">

                            <blockquote>
                                <p><i>The MOD and DWP and transforming at different rates, we want to go from X platform to Y, but Y is not compatible with what DWP are developing</i>.</p>
                            </blockquote>

                        </div>

                        <div class="govuk-grid-column-one-half">

                            <blockquote>
                                <p><i>The account could enable us both to accelerate our transformation - to lean on - whichever platform we do or DWP do, we could use the account to enable data sharing</i></p>
                            </blockquote>

                        </div>

                    </div>

                </div>
            </details>

        </div>
    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    <div class="govuk-grid-row  govuk-!-padding-bottom-4">

        <div class="govuk-grid-column-full">

            <p>Services had various assumptions about how the GOV.UK account could benefit them.</p>
            <p>The benefits of joining up services were often specific to the service and the needs of their end users - these additional service-centric benefits covered in detail in each of the <a href="../case-study/">case studies</a>.</p>

            <p>However, across the sessions, services shared the expectation that they could benefit from from data sharing within the GOV account in the following ways: </p>

        </div>
    </div>
    <div class="govuk-grid-row  govuk-!-padding-bottom-4">

        <div class="govuk-grid-column-two-thirds">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li><b>Help enable services to keep accurate records</b>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Reduce fraud and misuse of the service</li>
                        <li>Improve communication by only sending out relevant information</li>
                    </ul>
                </li>
                <li><b>Empowers services</b> to exchange data freely</li>
                <li><b>Reduce manual processing</b></li>
                <li><b>Cost savings</b> (e.g. use of 3rd party data, development costs, staff costs)</li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    <div class="govuk-grid-row  govuk-!-padding-bottom-4">

        <div class="govuk-grid-column-full">

            <h3 class="govuk-heading-m">5.1 Differences in data assurance standards across government could make consuming data from some government services difficult.</h3>

        </div>
    </div>
    <div class="govuk-grid-row  govuk-!-padding-bottom-4">

        <div class="govuk-grid-column-two-thirds">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Some services may only be willing to be a source of data in the future, rather than a consumer of data, and may not see the benefits of participating in data sharing activity within the context of a GOV.UK account. </li>
                <li>Despite hesitation from some services, there was also acknowledgement that different services require different levels of adherence to standards “why would a government department move up to the highest standard because that’s going to have an impact on the usability of their service?”</li>
            </ul>

        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-full">

                            <blockquote>
                                <p><i>Identity Assurance level 4/3 - the highest levels - most other departments aren't there - the stakes are high - I can't see how we leverage the trust with other departments</i>.</p>
                            </blockquote>

                        </div>

                    </div>

                </div>
            </details>

        </div>
    </div>

    <div class="govuk-grid-row  govuk-!-padding-bottom-2 govuk-!-padding-top-8">

        <div class="govuk-grid-column-full">

            <h3 class="govuk-heading-m">5.2 Current legislation and data sharing policy were also seen as significant future challenges.</h3>

        </div>

    </div>

    <div class="govuk-grid-row  govuk-!-padding-bottom-4">

        <div class="govuk-grid-column-two-thirds">

            <p>In particular: </p>

            <br />

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li><b>The time it takes to get agreements in place stifles innovation</b>: It currently takes 18 months - 2 years </li>
                <li><b>Services spoke about individual consent</b>: “user needs and user rights”</li>
                <li><b>Changes are needed</b>: Some services believe that without changes to policy and legislation, this future work to join up government services may not be possible.</li>

            </ul>

        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-full">

                            <blockquote>
                                <p><i>I worry about all the data sharing agreements, taking 18 months for it to go through. Can we get a DSA done in time that won't stifle innovations for 12, 24 months</i>.</p>
                            </blockquote>

                        </div>

                    </div>

                </div>
            </details>

        </div>
    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row  govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-full">

            <p>We heard during research that many departments are already <a href="../data/insights.html#trans-4">developing their own single sign on account functionality</a>, aiming to make multiple services within their government department accessible within one account. </p>

            <p>Some services commented that this creates competing priorities about where to allocate resources in future.</p>
            <p>Some services felt that they could only practically commit resources when the benefit of integrating with the GOV.UK account can be realised for their service.</p>

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-one-half">

                            <blockquote>
                                <p><i>There will be an optimal tipping point, where other services have joined, and it'll make it easier for our users, but why would I as a product manager would I make that leap before then</i>.</p>
                            </blockquote>

                        </div>
                        <div class="govuk-grid-column-one-half">

                            <blockquote>
                                <p><i>Of course we want to adopt it but is that enough of a benefit against other priorities we might have?</i></p>
                            </blockquote>

                        </div>

                    </div>

                </div>
            </details>

        </div>
    </div>


</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row  govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-full">

            <p>Service users expect that differences in resources and levels of technical maturity could be overcome by joining up services, which they anticipate would empower services to exchange data freely.</p>
            <p>The following expectations were shared by services: </p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>The creation of a culture of trust</li>
                <li>All data is on the table</li>
                <li>Everything is in one place</li>
                <li>A level playing field for services</li>
            </ul>

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-one-half">

                            <blockquote>
                                <p><i>As a result of that transparency you can use the account to facilitate a conversation with DWP, or HMRC, it becomes your way into talking to the government, it becomes a safe and trusted place</i>.</p>
                            </blockquote>
                            <br />
                            <blockquote>
                                <p><i>A life circumstance led approach</i></p>
                            </blockquote>

                        </div>
                        <div class="govuk-grid-column-one-half">

                            <blockquote>
                                <p><i>I think all data should be on the table, you're working in government, you have trust and respect and autonomy, to access the data and metadata to service citizens with the minimum number of contact points.</i></p>
                            </blockquote>

                        </div>

                    </div>

                </div>
            </details>

        </div>
    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-two-thirds">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li><b>Services with low digital maturity</b> are heavily reliant on manual back-office processes to support their digital services. </li>
                <li><b>Back-office considerations</b> - there are lots of different systems and processes - “can they all work together?” </li>
                <li><b>Cultural considerations</b> - educating the organisation about how this is going to change. Persuading senior leadership teams to invest personal capital into the programme and giving confidence that it’s going to deliver.</li>
            </ul>

        </div>
    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[8] %}
{% block section9 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row  govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-full">

            <p>Many services acknowledged that without the data-led features being in place the full value of other features will be difficult to realise. </p>

            <p>Data-led features would enable some of the features to become a reality.</p>

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-full center">

                            <div class="video-container">
                                <video style="width: 100%;" controls>
                                    <source src="../../../public/videos/themes/Core%20vs%20value%20added.mp4" type="video/mp4">
                                </video>
                            </div>

                        </div>

                    </div>

                </div>
            </details>

        </div>
    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[9] %}
{% block section10 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row  govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-full">

            <p>Service users are unclear in their expectations of the future operating model.</p>
            <p>Many speculated about what would happen if the data is wrong somewhere, and the user needs to change it. </p>

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>What is the support mechanism?</li>
                <li>If the user contacts the contact centre - who's contact centre is this?</li>
                <li>Will the GOV.UK GDS contact centre need to resolve this or the service the data has come from?</li>
                <li>How will this be explained to the user?</li>
            </ul>

        </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-top-4">

        <div class="govuk-grid-column-full">

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Services expect that the operating model would be established, functional and well understood before features are implemented
                </strong>
            </div>

        </div>

    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[10] %}
{% block section11 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row  govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-full">

            <p>Some of the services felt that a number of the proposed features would need to be carefully considered from a user engagement perspective.</p>


            <p>Getting users to engage with their GOV.UK account to manage their data and account settings was seen by many as a difficult challenge to overcome in the future - in particular with features such as profile completion, notifications and reminders. </p>

            <p>Services felt that it would be important to explore how to strike a healthy balance between the government knowing a great deal about the user while also helping them. </p>

        </div>
    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[11] %}
{% block section12 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row  govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-two-thirds">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li><b>Some data will only ever be service specific</b> - some services speculated about how useful it would be to save some types of data within the account if it’s unlikely to be reused. They also raised that it could become unmanageable if large amounts of data are saved to the account. </li>
                <li><b>Some types of data will need to be excluded</b> - there will be exceptions to data sharing (e.g. special forces personnel) where the data is too sensitive to share across government services. </li>
                <li><b>GDPR - Users should only provide information that is necessary</b> - there is a risk of asking for data without an explicit need - such as <a href="../features/09.html"> completing your profile</a></li>
                <li>Services had concerns about the risk of <b>making too many assumptions based on data</b> - such as <a href="../features/16.html"> derived data</a></li>

            </ul>

        </div>
    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[12] %}
{% block section13 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row  govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-full">
            <p>Services felt strongly that individuals need to have control of their data, otherwise they felt that there is a risk of creating data silos. </p>
            <p>Some services also commented that having ‘hygiene checks’ in place, such as renewing consent permissions periodically was an important consideration. </p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-full ">
                            <blockquote>
                                <p>It really needs to be a personal data store, rather than an aggregated data store, yet another silos</p>
                            </blockquote>
                        </div>

                    </div>

                </div>
            </details>

        </div>
    </div>

</div>
{% endblock %}
{% else %}
{% endif %}
