{% extends "layout_handover_child.html" %}

{% set thispage = "Service user needs" %}

{% block title %}
{{ super() }}



<p class="govuk-body-l">
    These are based on evidence derived across the service, data and technical research findings.
</p>

<ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-top-8 govuk-!-padding-top-8 highlight" style="padding: 5% !important;">

    <li class="govuk-!-padding-top-4 govuk-!-padding-top-4">As the SMT for a service, I need absolute clarity on the future vision of the account and the realities of how this impacts my services, so that I am able to make decisions about buying into the account proposition and when the best time to do this is.</li>
    <li class="govuk-!-padding-top-4 govuk-!-padding-top-4">As a service owner, I need to understand the roadmap and value proposition from cross-government features, so that against my service’s competing programs and priorities I can understand how to best deliver value to my end users.</li>
    <li class="govuk-!-padding-top-4 govuk-!-padding-top-4">As a service owner, I need to understand the operating model and its capabilities, so that I am confident that GDS has a clearly defined support mechanism.</li>
    <li class="govuk-!-padding-top-4 govuk-!-padding-top-4">As a service owner, I need the GOV.UK account to have a clearly defined support mechanism for users, so that if end users encounter problems with data saved in the GOV.UK account (which is re-used in the service journey) they know who to contact to get help with this issue and the don’t end up with a poor customer outcome.</li>
    <li class="govuk-!-padding-top-4 govuk-!-padding-top-4">As a service owner/technical lead, I need to understand the realities of how my service could be impacted by cross-government services, so that I can fully understand the resourcing implications of the account proposition. </li>
    <li class="govuk-!-padding-top-4 govuk-!-padding-top-4">As a service owner, I need to understand the challenges of integrating into each feature, so that I can allocate sufficient time/resources on my roadmap to support integration activity at feature level.</li>
    <li class="govuk-!-padding-top-4 govuk-!-padding-top-4">As a service owner, I need to understand if data saved in the GOV.UK account has already been verified by another service and to what level of verification so that our service can decide how it can use the data. </li>
    <li class="govuk-!-padding-top-4 govuk-!-padding-top-4">As a service owner, I need to understand the standards and capabilities my systems must meet (to enable data sharing via the GOV.UK account) so that I can procure the right supporting services and build compatible systems according to this framework, allowing our service to onboard easily to the account in future.</li>
    <li class="govuk-!-padding-top-4 govuk-!-padding-top-4">As a service technical lead, I need to understand what standards apply to the data my service collects (to enable data sharing via the GOV.UK account), so that I can align my service data model, allowing our service to onboard easily to the account in future.</li>
    <li class="govuk-!-padding-top-4 govuk-!-padding-top-4">As a service owner/technical lead, I need to prevent sensitive personal information being shared with other services via the GOV.UK account, so that I can protect the privacy of my service users.</li>

</ol>
{% endblock %}
