{% extends "layout_handover_child.html" %}s

{% block title %}
{{ super() }}
<!-- Subheading -->

{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <p>
        We conducted user research with service users to explore the feasibility of joining up services across government, whilst identifying what service features would help make the GOV.UK account more personalised.
    </p>

</div>

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8 govuk-!-padding-top-2">
    <p>In order to explore this concept we conducted initial exploratory moderated interviews followed by a second research round of research which was focussed on discussing and prioritising features that could be enabled after the account has the capability to save and reuse data.</p>

    <p>We created an online card sort using Optimal Workshop to elicit discussions and explore expectations around the features. </p>

    <p>We ran 16 research sessions over the 2 rounds of research from October 2021 - December 2021 with 11 different government services and spoke to 24 user research participants within these sessions.
    </p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-two-thirds">

    <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>Services only share limited data outside of their own government departments - current legislation and the time to get agreements in place are significant barriers to sharing data. Many services instead use third party data (at a cost to the service) and have a high reliance on manual processes to make use of data - preventing services from becoming fully digitised.</li>
        <li>Service users identified differences in data assurance standards, current legislation and resource commitment as the key challenges around joining up data cross government services.</li>
        <li>The future expectation of cross government services is a level playing field for services could be created and that all data should be on the table. </li>
        <li>Service users felt that differences in resources and levels of technical maturity could be overcome through joining up services within the GOV.UK account empowering services to exchange data freely. Keeping accurate records (preventing fraud and potential misuse of services) and cost reductions were also seen as potential benefits. </li>
        <li>Service users saw the hypothetical account features as either core or value added features - without the data led features and the underlying data being in place it was felt that the full value of other features will be difficult to realise. </li>
        <li>User adoption and user reactions were considerations raised by services users. </li>
        <li>Some data will only ever be service specific and some data needs to be excluded. </li>
        <li>Service users need to be clear on what the operating model and support mechanism is for end users.</li>

    </ol>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
