{% extends "layout_handover_child.html" %}s

{% block title %}
{{ super() }}
<!-- Subheading -->

{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <p class="govuk-body-l">
        We conducted user research with service users to explore the feasibility of joining up services across government, whilst identifying what service features would help make the GOV.UK account more personalised.
    </p>

</div>

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8 govuk-!-padding-top-2">
    <p>In order to explore this concept, we conducted some moderated and exploratory interviews, followed by a second round of research. </p>

    <p>The second round focused on discussing and prioritising features that could be enabled after the account has the capability to save and reuse data. We created an online card sort using Optimal Workshop to elicit discussion and explore expectations around the features. </p>

</div>
<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <p>We ran 16 research sessions over the 2 rounds of research, starting in October 2021 and running through to December 2021. Overall we spoke to 11 different government services and spoke to 24 user research participants within these sessions. </p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-full">

    <ol class="govuk-list govuk-list--number govuk-list--spaced  govuk-heading-m">
        <li class="govuk-!-padding-bottom-8 govuk-!-padding-top-8">Services only share limited data outside of their own government departments, with current legislation and the time to get agreements in place acting as significant barriers to sharing data. <br /><br />

            Many services use third party data (at a cost to the service) and have a high reliance on manual processes to make use of data, preventing services from becoming fully digitised.</li>
        <li class="govuk-!-padding-bottom-8">Service users identified differences in data assurance standards, with current legislation and resource commitment as the key challenges around joining up data cross government services.
        </li>
        <li class="govuk-!-padding-bottom-8">The future expectation of cross government services is that a level playing field will be implemented for all services, with all data available on the table.
        </li>
        <li class="govuk-!-padding-bottom-8">Service users felt that differences in resources and levels of technical maturity could be overcome by joining up services within the GOV.UK account, empowering services to exchange data freely. <br /><br />

            Keeping accurate records (preventing fraud and potential misuse of services) and cost reductions were also seen as potential benefits.
        </li>
        <li class="govuk-!-padding-bottom-8">Service users saw the hypothetical account features as either core or value added features. This means that without the data led features and the underlying data being in place, it was felt that the full value of other features will be difficult to realise.
        </li>
        <li class="govuk-!-padding-bottom-8">User adoption and user reactions were considerations raised by services users. </li>
        <li class="govuk-!-padding-bottom-8">Some data will only ever be service specific and some data needs to be excluded. </li>
        <li class="govuk-!-padding-bottom-8">Service users need to be clear on what the operating model and support mechanism is for end users. </li>

    </ol>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
