{% extends "layout_round-3.html" %}

{% block pageTitle %}
Childcare calculator
{% endblock %}

{% set serviceName %}
Childcare calculator
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}

<a href="../childcare-step-by-step" class="govuk-breadcrumbs__link govuk-back-link">Back</a>

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/round-3/childcare-calculator/spinner-calculator-results" method="POST">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="calculator-consent-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which information do you want to save to your GOV.UK account?
                        </h1>
                    </legend>
                    <!-- <p>You entered the following information into the Childcare costs calculator. </p> -->

                    <p>Your GOV.UK account allows you to save any information you've entered and reuse it across other GOV.UK services in the future, saving you time.</p>

                    <p>Any information you provide can be used to prefill forms and personalise your account, such as tailored help content.</p>

                    <br />

                    <p><b>Select the information you entered into the Childcare Calculator that you'd like to save to your GOV.UK account:</b></p>

                    <div id="calculator-consent-hint" class="govuk-hint">

                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent" name="calculator-consent" type="checkbox" value="france">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent">
                                Your address
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-2" name="calculator-consent" type="checkbox" value="portugal">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-2">
                                Your date of birth
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-3" name="calculator-consent" type="checkbox" value="spain">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-3">
                                Your child(ren)'s name and date of birth
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-4" name="calculator-consent" type="checkbox" value="france">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-4">
                                Your childcare costs
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-5" name="calculator-consent" type="checkbox" value="portugal">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-5">
                                If you live with a partner
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-6" name="calculator-consent" type="checkbox" value="spain">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-6">
                                Your employment status
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-7" name="calculator-consent" type="checkbox" value="portugal">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-7">
                                Your average weekly hours worked
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-8" name="calculator-consent" type="checkbox" value="spain">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-8">
                                Your average weekly pay
                            </label>
                        </div>
                        <div class="govuk-checkboxes__divider">or</div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-5" name="calculator-consent" type="checkbox" value="none" data-behaviour="exclusive">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-5">
                                No, I don't want to save any information to my GOV.UK account
                            </label>

                        </div>
                    </div>

                </fieldset>
            </div>
            <p>You can still continue with the Childcare Calculator even if you don't want to save information, but it won't be saved to your GOV.UK account for future use.
            </p>
            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form> <!-- /. form -->

        <br />

    </div> <!-- /. govuk-grid-column-two-thirds -->

    <div class="govuk-grid-column-one-third">

    </div>

</div> <!-- /. govuk-grid-row -->

{% endblock %}
