    <style>
        .no-mar-bot {
            margin-bottom: 0px;
        }

        .orange-bg {
            background-color: #f47738 !important;
        }

        .dark-grey-bg {
            background-color: #505a5f !important;
        }

        #account {
            color: white;
            float: right;
            padding: 2px 5px;
            margin: 0px;
        }

        #account .form {
            margin: 0px !important;
        }

        .govuk-header__container {
            padding-bottom: 10px;
        }

        .step-by-step-panel {
            color: #0b0c0c;
            position: relative;
            padding: 5px 20px;
            background: #f3f2f1;
            border-bottom: solid 1px #1d70b8;
            margin-top: 5px
        }

        .current_level {
            font-weight: bold !important;
        }

        .gem-c-step-nav__step--active .gem-c-step-nav__circle--number {
            background-color: #0b0c0c;
        }

        .location-form {
            padding: 15px;
            margin: 30px 0;
            background: #f3f2f1;
        }

        .govukacc-panel {
            padding: 10px;
            background: #f47738;
            border-radius: 5px;
            color: white !important;
            margin-bottom: 10px;
        }

        .govukacc-panel p {
            color: white !important;
            font-size: 1.15rem;
        }

        .govuk-header__accpanel {
            font-family: "GDS Transport", arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            font-weight: 700;
            font-size: 24px;
            line-height: 1;
        }

    </style>
