<style>
    html {
        scroll-behavior: smooth !important;
    }

    .govuk-template__body {
        background: none;
        scroll-behavior: smooth !important;
    }

    .govuk-heading-xl,
    .govuk-heading-l,
    .govuk-heading-m,
    .govuk-heading-s,
    p,
    a,
    .govuk-list,
    .govuk-details,
    .govuk-accordion__section-button,
    .govuk-tag {
        font-family: Poppins, sans-serif !important;
    }

    .govuk-list,
    p,
    .govuk-breadcrumbs__link {
        font-weight: 300;
    }

    a {
        font-weight: 400;
    }

    a:hover {
        transition: 1s all ease;
    }

    .tag-link {
        text-decoration: none;
    }

    .tag-link:hover>.govuk-tag {
        box-shadow: 5px 5px 27px 5px rgba(0, 0, 0, 0.18);
        padding: 10px;
        transition: 0.5s all ease;
        border: 2px solid rgba(0, 0, 0, 0.02);
    }

    .govuk-heading-xl {
        font-weight: 900;
    }

    .govuk-heading-l {
        font-weight: 700;
    }

    .govuk-body-s {
        font-weight: 200;
        font-size: 0.75rem
    }

    .section-number {
        color: #e0e0e0;
        font-size: 5rem;
    }

    .grey {
        color: #e0e0e0;
    }

    #project-name,
    #hippo-digital {
        min-height: 2vmax !important;
        padding-top: 3vmax !important;
    }

    blockquote:before {
        display: block;
        padding-left: 10px;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: -20px;
        top: -20px;
        color: #7a7a7a;
    }

    blockquote {
        margin: 0.25em 0;
        padding: 0.35em 40px;
        position: relative;
    }


    .highlight {
        margin: 0.25em 0;
        padding: 1.5em !important;
        position: relative;
        border-left: 7px solid #5694ca;
        background-color: rgb(233, 242, 253);
    }

    .highlight-header {
        color: #5694ca;
        font-weight: bold;
    }

    .example {
        margin: 0.25em 0;
        padding: 1.5em !important;
        position: relative;
        border-left: 7px solid #f499be;
        background-color: rgba(244, 153, 190, 0.1);
    }

    .example-header {
        color: #d53880;
        font-weight: bold;
    }

    #hippo-digital,
    #vision {
        padding-bottom: 2vmax !important;
    }

    .team-thumbnail {
        max-width: 90%;
        border-radius: 50%;
        filter: invert(5%) sepia(6%) saturate(311%) hue-rotate(131deg) brightness(101%) contrast(101%);
    }

    .team-thumbnail:hover {
        box-shadow: 5px 5px 27px 5px rgba(0, 0, 0, 0.38);
        transition: 1.5s;
        transform: scale(1.05);
    }

    .graph {
        max-width: 100%;
        padding: 0px;
    }

    .graph-title {
        color: #aaa;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .panel-image {
        max-width: 80%;
        padding: 40px;
    }

    .panel-image:hover {
        /* filter: invert(34%) sepia(64%) saturate(942%) hue-rotate(173deg) brightness(96%) contrast(92%); */
        transition: 2.5s;
        transform: scale(1.2);
    }

    .feature-image {
        max-width: 90%;
    }

    .shadow {
        box-shadow: 5px 5px 27px 5px rgba(0, 0, 0, 0.38);
    }

    .hr-hand {
        min-width: 80%;
        max-width: 90%;
        padding: 20px;
    }

    .center {
        text-align: center;
    }

    .comment {
        color: orange !important;
        font-family: "Courier New" !important;
        font-weight: bold;
    }

    .no-padd {
        padding: 0px;
    }

    .next-chapter {
        float: right;
        background: #f0f0f0;
        padding: 10px;
        text-align: right;
    }

    .previous-chapter {
        background: #f0f0f0;
        padding: 10px;
        float: left;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-family: Poppins, sans-serif !important;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #f0f0f0;
        color: black;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    #myBtn:hover {
        box-shadow: 5px 5px 27px 5px rgba(0, 0, 0, 0.38);
        transition: 1.5s;
        transform: scale(1.2);
    }

    .govuk-details__text {
        border-left: #f0f0f0 0px solid;
        margin-top: 10px;
    }

    .example .govuk-details__summary:before {
        border-left-color: #d53880;
    }

    .example.govuk-details[open]>.govuk-details__summary:before {
        border-top-color: #d53880;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media (max-width: 40.0525em) {
        .hide-on-mobile {
            display: none;
        }
    }

</style>
