<!-- <ol class="govuk-list govuk-list--number">
    {% for item in hubmenu %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% else %}
    <li>Menu is empty</li>
    {% endfor %}
</ol> -->

<h2 class="govuk-heading-s grey">Background</h2>

<ol class="govuk-list govuk-list--number">
    {% for i in range(0, 1) %}
    <li><a href="{{ hubmenuURLs[i] }}">{{ hubmenutitles[i] }}</a></li>
    {% else %}
    <li>Menu is empty</li>
    {% endfor %}
</ol>

<h2 class="govuk-heading-s grey">Research &amp; insights</h2>

<ol start="2" class="govuk-list govuk-list--number">
    {% for i in range(1, 5) %}
    <li><a href="{{ hubmenuURLs[i] }}">{{ hubmenutitles[i] }}</a></li>
    {% else %}
    <li>Menu is empty</li>
    {% endfor %}
</ol>

<h2 class="govuk-heading-s grey">Next steps</h2>

<ol start="6" class="govuk-list govuk-list--number">
    {% for i in range(5, 7) %}
    <li><a href="{{ hubmenuURLs[i] }}">{{ hubmenutitles[i] }}</a></li>
    {% else %}
    <li>Menu is empty</li>
    {% endfor %}
</ol>

<h2 class="govuk-heading-s grey">Supporting documents</h2>

<ol start="9" class="govuk-list govuk-list--number">
    {% for i in range(7, 11) %}
    <li><a href="{{ hubmenuURLs[i] }}">{{ hubmenutitles[i] }}</a></li>
    {% else %}
    <li>Menu is empty</li>
    {% endfor %}
</ol>
