{% if "00" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][00]['name'] }}
</strong> <br /><br />
{% endif %}

{% if  "01" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][01]['name'] }}
</strong> <br /><br />
{% endif %}

{% if "02" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][02]['name'] }}
</strong> <br /><br />
{% endif %}

{% if  "03" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][03]['name'] }}
</strong> <br /><br />
{% endif %}

{% if "04" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][04]['name'] }}
</strong> <br /><br />
{% endif %}

{% if  "05" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][05]['name'] }}
</strong> <br /><br />
{% endif %}

{% if "06" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][06]['name'] }}
</strong> <br /><br />
{% endif %}

{% if  "07" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][07]['name'] }}
</strong> <br /><br />
{% endif %}

{% if "08" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][08]['name'] }}
</strong> <br /><br />
{% endif %}

{% if  "09" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][09]['name'] }}
</strong> <br /><br />
{% endif %}

{% if  "10" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][10]['name'] }}
</strong> <br /><br />
{% endif %}

{% if "11" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][11]['name'] }}
</strong> <br /><br />
{% endif %}

{% if  "12" in teams %}
<strong class="govuk-tag govuk-tag">
    {{ data['teams'][12]['name'] }}
</strong> <br /><br />
{% endif %}
