{% if "00" in teams %}
<a href="../people/teams/01.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][00]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if  "01" in teams %}
<a href="../people/teams/02.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][01]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if "02" in teams %}
<a href="../people/teams/03.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][02]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if "03" in teams %}
<a href="../people/teams/04.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][03]['name'] }}
    </strong>
</a>
<br /><br />
{% endif %}

{% if "04" in teams %}
<a href="../people/teams/05.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][04]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if  "05" in teams %}
<a href="../people/teams/06.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][05]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if "06" in teams %}
<a href="../people/teams/07.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">

        {{ data['teams'][06]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if  "07" in teams %}
<a href="../people/teams/08.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][07]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if "08" in teams %}
<a href="../people/teams/09.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][08]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if  "09" in teams %}
<a href="../people/teams/10.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][09]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if  "10" in teams %}
<a href="../people/teams/11.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][10]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if "11" in teams %}
<a href="../people/teams/12.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][11]['name'] }}
    </strong></a> <br /><br />
{% endif %}

{% if  "12" in teams %}
<a href="../people/teams/13.html" class="tag-link">
    <strong class="govuk-tag govuk-tag">
        {{ data['teams'][12]['name'] }}
    </strong></a> <br /><br />
{% endif %}
