<div class="govuk-grid-column-two-thirds">

    <p>Explore the feasibility of joining up services across government, and discover which features within a GOV.UK account will serve a better and personalised experience for the user</p>

    <br />

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Not in scope
            </span>
        </summary>
        <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
                <li>Explore technical architecture and technical solutions </li>
                <li>Explore ownership of data</li>
                <li>A deep dive in to legislation and governance (however we captured insights that came out of research)</li>
            </ul>
        </div>
    </details>

</div>
<div class="govuk-grid-column-one-third  hide-on-mobile">

    <p><img class="panel-image" src="../../../public/images/research/scope.svg"></p>

</div>
