{% extends "layout_phase-2-round-2.html" %}

{% block pageTitle %}
{% include "../includes/service-1-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "../includes/service-1-name.html" %}
{% endset%}


{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a href="childcare-provider" class="govuk-breadcrumbs__link">Back</a>
        </li>
    </ol>
</div>
<!-- {% include "../includes/childcare-step-by-step-breadcrumb.html" %} -->
{% endblock %}}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="are-you-in-paid-work" method="POST">
            <h1 class="govuk-heading-xl">What is your National Insurance number?</h1>

            <p class="govuk-body">It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.<p>

                    {% if data['signing'] == "yes" %}
                    {% include "../forms/NIN-signed-in.html" %}
                    {% else %}
                    {% include "../forms/NIN-signed-out.html" %}
                    {% endif %}

                    <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

        <!-- /. form -->
    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">

    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
