{% extends "layout_phase-2-round-1.html" %}

{% block pageTitle %}
{% include "includes/auth-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "includes/auth-name.html" %}
{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <nav aria-label="Account management">
            <ul class="accounts-menu" style="margin-left: 15px;">
                <li class="accounts-menu__item">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="index.html">Your account</a>
                </li>
                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-1/account/account-manage.html">Your settings</a>
                </li>
                <li class="accounts-menu__item accounts-menu__item--current" style="margin-left: 0px;">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="account-manage-data." style="padding-left: 15px;">Your data</a>
                </li>
                <!-- <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="#">Security and privacy</a>
                </li> -->
            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <h1 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-4">Your data</h1>

        <p>Manage how and where your data is used.</p>
        <p><i>@sam - re sentence above, this page wont allow them to control the 'how and where its used' per se - that's done vias the consents when filling in forms. Here they can edit and delete, and view usage log.</i></p>

        <div class="accounts-panel">

            <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Saved data</h2>

            <p>Your saved data can be used to prefill forms across government services, saving you time.</p>

            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#personal">
                            Personal
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#family">
                            Family
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#employment">
                            Employment
                        </a>
                    </li>


                </ul>
                <div class="govuk-tabs__panel" id="personal">

                    <table class="govuk-table">
                        <!-- <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Data item</th>
                                <th scope="col" class="govuk-table__header">Cases opened</th>
                                <th scope="col" class="govuk-table__header">Cases closed</th>
                            </tr>
                        </thead> -->
                        <tbody class="govuk-table__body">
                            {% if data['full-name'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Name<br />{% include "phase-2-round-1/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">{{ data['full-name'] }}</td>
                                <td class="govuk-table__cell right">
                                    <p class="govuk-body-s"><a href="#">View usage</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" style="color: #d4351c;">Delete</a></p>
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['date-of-birth-day'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Date of birth<br />{% include "phase-2-round-1/includes/verified.html" %}</td>
                                <td class="govuk-table__cell"> {{ data['date-of-birth-day'] }}-{{ data['date-of-birth-month'] }}-{{ data['date-of-birth-year'] }}</td>
                                <td class="govuk-table__cell right">
                                    <p class="govuk-body-s"><a href="#">View usage</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" style="color: #d4351c;">Delete</a></p>
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['town-of-birth'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Place of birth</td>
                                <td class="govuk-table__cell"> {{ data['town-of-birth'] }}</td>
                                <td class="govuk-table__cell right">
                                    <p class="govuk-body-s"><a href="#">View usage</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" style="color: #d4351c;">Delete</a></p>
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['address-line-1'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Address</td>
                                <td class="govuk-table__cell">
                                    <p>
                                        {{ data['address-line-1'] }} <br />

                                        {{ data['address-line-2'] }} <br />

                                        {{ data['address-town'] }} <br />

                                        {{ data['address-county'] }} <br />

                                        {{ data['address-postcode'] }} <br />
                                    </p>
                                    <p class="govuk-body-s"><a href="#">View address history</a></p>
                                </td>
                                <td class="govuk-table__cell right">
                                    <p class="govuk-body-s"><a href="#">View usage</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" style="color: #d4351c;">Delete</a></p>
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                        </tbody>
                    </table>

                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="family">

                    <table class="govuk-table">
                        <!--       <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Case manager</th>
                                <th scope="col" class="govuk-table__header">Cases opened</th>
                                <th scope="col" class="govuk-table__header">Cases closed</th>
                            </tr>
                        </thead> -->
                        <tbody class="govuk-table__body">

                            {% if data['partner-check'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Live with partner</td>
                                <td class="govuk-table__cell">
                                    <p>
                                        {{ data['partner-check'] }}
                                    </p>

                                </td>
                                <td class="govuk-table__cell right">
                                    <p class="govuk-body-s"><a href="#">View usage</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" style="color: #d4351c;">Delete</a></p>
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['child-1-name'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Child(ren)<br />{% include "phase-2-round-1/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p><b>Full name:</b> <br />{{ data['child-1-name'] }}</p>
                                    <p><b>Date of birth:</b> <br />
                                        {{ data['child-1-date-of-birth-day'] }}/{{ data['child-1-date-of-birth-month'] }}/{{ data['child-1-date-of-birth-year'] }}
                                    </p>
                                    <p><b>Gender:</b> <br />{{ data['child-gender'] }}</p>
                                    <p><b>Birth certificate number:</b> <br />{{ data['child-birth-cert-number'] }}</p>
                                    <p><b>Child/parent relationship:</b> <br />{{ data['child-relationship'] }}</p>
                                </td>
                                <td class="govuk-table__cell right">
                                    <p class="govuk-body-s"><a href="#">View usage</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" style="color: #d4351c;">Delete</a></p>
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                        </tbody>
                    </table>

                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="employment">

                    <table class="govuk-table">
                        <!--  <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Case manager</th>
                                <th scope="col" class="govuk-table__header">Cases opened</th>
                                <th scope="col" class="govuk-table__header">Cases closed</th>
                            </tr>
                        </thead> -->
                        <tbody class="govuk-table__body">
                            {% if data['NIN'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">National Insurance number<br />{% include "phase-2-round-1/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>
                                        {{ data['NIN'] }}
                                    </p>

                                </td>
                                <td class="govuk-table__cell right">
                                    <p class="govuk-body-s"><a href="#">View usage</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" style="color: #d4351c;">Delete</a></p>

                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['employment-status'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Employment status</td>
                                <td class="govuk-table__cell"> {{ data['employment-status'] }}</td>
                                <td class="govuk-table__cell right">
                                    <p class="govuk-body-s"><a href="#">View usage</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" style="color: #d4351c;">Delete</a></p>
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}
                        </tbody>
                    </table>

                </div>

            </div>



        </div>
        <br />
        <div class="accounts-panel">

            <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Saved documents</h2>


            <p>You can upload documents (such as your passport or driving licence), to make it easier to attach to forms and applications.</p>

            <br />

            <div class="govuk-form-group" style="padding: 10px; background: #f0f0f0;">
                <label class="govuk-label" for="file-upload-1">
                    Upload a file
                </label>
                <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
            </div>

        </div>

        <br>
        <br>
    </div>
</div>


{% endblock %}
