{% extends "layout_round-1.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<a href="enter-otp.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        {% if data['refer'] == "calculator" %}
        <form action="/round-1/childcare-calculator/what-youll-need" method="POST">
            <!-- Success Panel -->
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    You have created your GOV.UK account

                </h1>
            </div>
            <h2 class="govuk-heading-m">What you can do with your GOV.UK account</h2>

            <p>You can use your GOV.UK account to sign in to all online government services.</p>

            <p>Any information you provide in the Childcare calculator can be saved to your account and used to fill in any future applications or forms, saving you time.</p>

            <p>You can choose whether to share your data with each service you use. You can review and change the sharing permissions of your data in your account dashboard.</p>
            <br />

            <button class="govuk-button" data-module="govuk-button">Continue to childcare calculator</button>

            {% elif data['refer'] == "universal" %}
            <form action="/round-1/universal-credit/pre-population" method="POST">
                <!-- Success Panel -->
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        You have created your GOV.UK account

                    </h1>
                </div>
                <h2 class="govuk-heading-m">What you can do with your GOV.UK account</h2>

                <p>You can use your GOV.UK account to sign in to all online government services.</p>

                <p>Any information you provide in the Childcare calculator can be saved to your account and used to fill in any future applications or forms, saving you time.</p>

                <p>You can choose whether to share your data with each service you use. You can review and change the sharing permissions of your data in your account dashboard.</p>
                <br />

                <button class="govuk-button" data-module="govuk-button">Continue to Universal Credit</button>

                {% else %}
                <form action="/round-1/govuk-home" method="POST">
                    <!-- Success Panel -->
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            You have successfully created your GOV.UK Account
                        </h1>
                    </div>
                    <h1 class="govuk-heading-m">What happens next</h1>

                    <p>stuff....</p>
                    <button class="govuk-button" data-module="govuk-button">Return to GOV.UK homepage</button>

                    {% endif %}
                </form>

    </div> <!-- /. govuk-grid-column-two-thirds -->
</div> <!-- /. govuk-grid-row -->


{% endblock %}
