{% extends "layout_handover.html" %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-one-half">

    <p class="govuk-body-l">Using multiple government services to complete a task can be a fragmented and laborious user experience.</p>

    <p class="govuk-body-l">Users need to understand and navigate the structure of government to work out what's relevant to them.</p>

    <p class="govuk-body-l">They will often need to input the same information many times, across each service.
    </p>

</div>
<div class="govuk-grid-column-one-half hide-on-mobile">

    <p><img class="panel-image" src="../../../public/images/research/disconnected.svg" style="max-width: 55%;" alt="Disconnected and fragmented lines"></p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8 govuk-!-padding-top-8">

    <div class="govuk-grid-row highlight">

        <h3 class="govuk-heading-l">Phase 1</h3>


        <p class="govuk-body-l">Exploring users needs, expectations and perceived benefits of a seamless, joined up and personalised experience when completing sequential tasks across more than one government service</p>


    </div>

    <div class="govuk-grid-row govuk-!-padding-top-8">

        <div class="govuk-grid-column-full">

            <h4 class="govuk-heading-m">Objectives</h4>

        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">1</h4>
            <p>{{ data['objectives']['objective1'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">2</h4>
            <p>{{ data['objectives']['objective2'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">3</h4>
            <p>{{ data['objectives']['objective3'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">4</h4>
            <p>{{ data['objectives']['objective4'] }}</p>
            <br />
        </div>

    </div>

</div>

<div class="govuk-grid-column-full govuk-!-padding-top-8 govuk-!-padding-bottom-8">

    <div class="govuk-grid-row highlight">

        <h3 class="govuk-heading-l">Phase 2</h3>

        <p class="govuk-body-l">Exploring the feasibility of joining up services across government, and what features within a GOV.UK account will serve a better and personalised experience for the user</p>

    </div>

    <div class="govuk-grid-row govuk-!-padding-top-8">

        <div class="govuk-grid-column-full">

            <h4 class="govuk-heading-m">Objectives</h4>

        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">1</h4>
            <p>{{ data['objectives']['objective1'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">2</h4>
            <p>{{ data['objectives']['objective2'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">3</h4>
            <p>{{ data['objectives']['objective3'] }}</p>
            <br />
        </div>
        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">4</h4>
            <p>{{ data['objectives']['objective4'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">5</h4>
            <p>{{ data['objectives']['objective5'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">6</h4>
            <p>{{ data['objectives']['objective6'] }}</p>
            <br />
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-4">

        <div class="govuk-grid-column-two-thirds">

            <details class="govuk-details " data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What's not in the Phase 2 scope
                    </span>
                </summary>

                <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Usability testing of the dashboard and account space as the scope of our work was to understand the value creating an account adds to users in regards to a joined up and personalised journey across GOV.UK, and to consider the design challenges that may come about in the future. <br><br>Detailed UI design and testing of presenting the account to users would duplicate work carried out within the Accounts Team.
                        </li>
                        <li>Explore technical architecture and technical solutions as the Manage Your Data Team are moving in to an Alpha where they are exploring the feasibility of PODS</li>
                        <li>Explore ownership of data as PODS is a solution that allows users to own their data </li>
                        <li>A deep dive in to legislation and governance (however we captured insights that came out of research)</li>
                    </ul>
                </div>

            </details>

        </div>

    </div>

</div>

<div class="govuk-grid-column-full govuk-!-padding-top-8 govuk-!-padding-bottom-8">

    <div class="govuk-grid-row highlight">

        <h3 class="govuk-heading-l">Phase 3</h3>
        <p class="govuk-body-l"> Collaborating with other teams across the programme to share our knowledge and insights, while making suggestions for the next steps</p>
        <p class="govuk-body-l"> Creating an implementation roadmap for future account features, based on findings from phase 1 and 2</p>

    </div>

    <div class="govuk-grid-row govuk-!-padding-top-8">

        <div class="govuk-grid-column-full">

            <h4 class="govuk-heading-m">Objectives</h4>

        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">1</h4>
            <p>Communicate recommendations for prioritised features to relevant teams</p>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        View details
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Provide actionable design, data and technical recommendations to the relevant teams required to deliver prioritised features.</li>
                        <li>Allow future teams to pick up the work with recommended next steps linked to clear user-led evidence.</li>
                    </ul>
                </div>
            </details>

        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">2</h4>
            <p>Recommend an approach for implementing the prioritised features</p>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        View details
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Recommend options for implementing prioritised features informed by research, design and tech findings. </li>
                        <li>Provide the programme with an understanding of where process gaps exist and what steps will need to be taken in order to implement prioritised features, including any legal, cultural and governance challenges.</li>
                    </ul>
                </div>
            </details>

        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">3</h4>
            <p>Knowledge sharing across teams within the wider programme</p>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        View details
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>Collaborate with teams to ensure outputs are targeted, digestible and ready to handover to the teams likely to implement the features.</p>
                </div>
            </details>

        </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-8">

        <div class="govuk-grid-column-two-thirds">

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What's not in the Phase 3 scope
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Strategies for onboarding services - the roadmap for onboarding services to cross government features is complicated and best sits within the accounts/onboarding team. X-Gov Services sits within the account rather than being a separate product.
                        </li>
                        <li>Research with services or end users
                            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                                <li>services have a lack of readiness to engage in technical conversations
                                </li>
                                <li>avoiding duplication - phase 2 research generated a lot of insights from end users and services, which are not fully incorporated into the hub
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </details>

        </div>

    </div>

</div>

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}


{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}

{% endblock %}
{% else %}
{% endif %}
