{% extends "layout_handover.html" %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-two-thirds">



    <p class="govuk-body-l">The user experience for tasks that span multiple services is fragmented.</p>

    <p class="govuk-body-l">Users have to understand and navigate the structure of government to work out what is relevant to them, and input the same information across services. </p>



</div>
<div class="govuk-grid-column-one-third hide-on-mobile">

    <p><img class="panel-image" src="../../../public/images/research/disconnected.svg"></p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <h3 class="govuk-heading-m">Phase 1</h3>

    <blockquote>
        <p class="govuk-body-l">Exploring users needs, expectations and perceived benefits of a seamless, joined up and personalised experience when completing sequential tasks across more than one government service</p>
    </blockquote>

    <div class="govuk-grid-row govuk-!-padding-top-8">

        <div class="govuk-grid-column-full">

            <h4 class="govuk-heading-s">Objectives</h4>

        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">1</h4>
            <p>{{ data['objectives']['objective1'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">2</h4>
            <p>{{ data['objectives']['objective2'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">3</h4>
            <p>{{ data['objectives']['objective3'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">4</h4>
            <p>{{ data['objectives']['objective4'] }}</p>
            <br />
        </div>

    </div>

</div>

<div class="govuk-grid-column-full govuk-!-padding-top-8 govuk-!-padding-bottom-8">

    <h3 class="govuk-heading-m">Phase 2</h3>

    <blockquote>
        <p class="govuk-body-l">Exploring the feasibility of joining up services across government, and what features within a GOV.UK account will serve a better and personalised experience for the user</p>
    </blockquote>

    <div class="govuk-grid-row govuk-!-padding-top-8">

        <div class="govuk-grid-column-full">

            <h4 class="govuk-heading-s">Objectives</h4>

        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">1</h4>
            <p>{{ data['objectives']['objective1'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">2</h4>
            <p>{{ data['objectives']['objective2'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">3</h4>
            <p>{{ data['objectives']['objective3'] }}</p>
            <br />
        </div>
        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">4</h4>
            <p>{{ data['objectives']['objective4'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">5</h4>
            <p>{{ data['objectives']['objective5'] }}</p>
            <br />
        </div>

        <div class="govuk-grid-column-one-half">
            <!-- Objective -->
            <h4 class="govuk-heading-s">6</h4>
            <p>{{ data['objectives']['objective6'] }}</p>
            <br />
        </div>
    </div>
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What's not in Phase 2 scope
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Usability testing of the account page as the scope of our work was to understand the value creating an account adds to users in regards to a joined up and personalised journey across gov.uk. Presenting the account to users would also duplicate work carried out within the Accounts Team</li>
                        <li>Explore technical architecture and technical solutions as the Manage Your Data Team are moving in to an Alpha where they are exploring the feasibility of PODS</li>
                        <li>Explore ownership of data as PODS is a solution that allows users to own their data </li>
                        <li>A deep dive in to legislation and governance (however we captured insights that came out of research)</li>
                    </ul>
                </div>
            </details>

        </div>

    </div>

</div>

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-full govuk-!-padding-top-4">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">Phase 1</h3>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">
            <p>Phase 1 focussed on research solely with users, this was to help us to understand what, if any, are the needs and perceived benefits of {{ data['maintitle'] }}.</p>
            <p>In order to do this, we focussed our research on a small, linear user journey.</p>

        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8 center hide-on-mobile">

            <img class="panel-image" src="../../../public/images/research/phase-1-journey.png">

        </div>
    </div>
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">Phase 2</h3>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

            <p>Phase 2 introduced research with services.</p>
            <p>Once we discovered that users deemed {{ data['maintitle'] }} to be of high benefit and value, we needed to understand the feasibility of joining up services and creating personalisation across government.</p>


        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8 center hide-on-mobile">

            <img class="panel-image" src="../../../public/images/research/phase-2-journey.png">

        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-padding-top-8">

            <ol class="govuk-list govuk-list--number">
                <li>We defined our objectives and key results as a team [link to]</li>
                <li>We defined our features backlog to test within research lead by our research findings within phase 1, the features backlog is made up of 33 <a href="../features/">features</a></li>
                <li>We decided on an approach that would best allow us to our features with <a href="../user-research#approach">end users</a> and <a href="../service-research#approach">services</a></li>
                <!--    <li>Using our agreed approaches, we continued to research perceived benefits of X-Gov Services with both end users and services, whilst testing each feature within our backlog</li> -->
                <li>Once our research concluded, we measured each feature on a matrix of user impact, value and complexity of adoption for services</li>
                <li>Finally, we used our research findings and matrix to prioritise features to do conduct a ‘deep dive’ in to within <a href="../phase-3/">phase 3</a></li>

            </ol>

        </div>
    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}


{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}

{% endblock %}
{% else %}
{% endif %}
