<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>At present, there is a gap in user insights around the implications of solid PODS to the end user. We recommend further consideration on this, as well as consultation with a range of prospective users. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>A secure, sustainable and scalable tech solution which will meet user needs for cross-government transactions, and ensure that there is no additional cognitive effort required from users in order to understand how to use the account. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>There is already an appetite for the use of solid PODS, some procurement has already gone ahead. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>We don’t know what we don’t know - as a fairly new innovation we do not know enough about the risks of solid PODS and the implications to the end user. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p><i>N/a</i></p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../features/18">{{ data['features']['18'] }}</a> </p>
<p><a href="../user-research/insights.html#{{ data['userinsightsmenu'][07]['anchor'] }}">{{ data['userinsightsmenu'][07]['title'] }} </a></p>
