<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Some users in research did not understand the difference between the GOV.UK account and the GOV.UK website. We believe that this confusion contributes to user assumptions about the way in which their data is shared across government. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>This could create an opportunity for communications and branding teams to explore users’ own language. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>The account has already been named and launched as the GOV.UK account. If there were any change to this, there could be some work required with existing services and end users. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>We cannot say for sure. We cannot predict if there will be any future confusion or impact. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>Any change would entail agreement and alignment between programmes and teams. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../features/08">{{ data['features']['08'] }}</a> </p>
<p><a href="../user-research/insights.html#{{ data['userinsightsmenu'][03]['anchor'] }}">{{ data['userinsightsmenu'][03]['title'] }} </a></p>
