<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Service teams were unclear about certain aspects of the long-term vision for the GOV.UK account. Key prerequisites of the GOV.UK and possible future features (operating model, data standards, technical architecture, adoption strategy) do not appear to be a current area of focus.</p>
<p> However, this is information that services need to have to fully understand the proposition and how this impacts them and their end users. </p>

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Services need absolute clarity on the future vision of the account, and the realities of how it would impact them before they are able to buy-in to the proposition.
    </strong>
</div>


<p>Without this detailed knowledge and understanding, services in the research felt that their senior leadership teams may be reluctant to prioritise or commit to integrating into the GOV.UK account. Services spoke of needing advanced visibility and confidence in the changes happening and the future vision.</p>

<p>As features are added to the GOV.UK account this communication and education needs to continue as changes will fundamentally impact service roadmaps and delivery priorities. </p>



<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>By effectively communicating and sharing the long term vision for the GOV.UK account it will help with the understanding, promote engagement and enthusiasm of service teams. It will also help services to buy into the benefits and future opportunities of the GOV.UK account</p>


<p>With a clear view of the direction of travel of the GOV.UK account, senior leadership teams can clearly understand the potential future benefits to their services and make informed decisions about how to prioritise resources and their roadmaps. </p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Within GDS many teams are actively recruiting and engaging with services for user research - there is a high risk of services being contacted by multiple teams working in the GOV.UK account/GDS space which can easily lead to disengagement and confusion.</li>
    <li>Clear alignment between teams at GDS is needed to track which services have been contacted for research and which services are already actively participating in research to prevent this situation from occurring. </li>
    <li>Many of the recruitment briefs around the GOV.UK account sound similar to service teams so clear communication and alignment between GDS teams about recruitment briefs and the future vision of the GOV.UK account is essential.</li>

</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Without this visibility it may be difficult for SMTs to have confidence in the GOV.UK account programme.</li>
    <li>This may create a barrier to services integrating into the GOV.UK account if ambiguities remain about the long-term vision and capabilities of the account.</li>

</ul>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../service-research/insights">Service research insights </a></p>
<p><a href="../data/insights">Data research insights </a></p>
