<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Most of the services we spoke to are either planning, supporting or currently undergoing a digital transformation. Further research is needed to understand how their transformation activity aligns with the GOV.UK account roadmap - particularly for departments that are developing their own SSO account functionality. </p>



<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>An understanding of competing programmes and priorities within departments that GDS needs to be aware of.</li>
    <li>An understanding of the expected timescales for the transformation work that is being undertaken</li>
    <li>Explore whether these services have an understanding of the capabilities they need to be working toward, and standards they will need to meet to onboard to the GOV.UK account in future and benefit from cross-government features.</li>
    <li>An understanding of whether opportunities exist to engage with services undergoing a digital transformation to allow GOV.UK account integration to be included in their roadmaps. </li>
    <li>An understanding of how to develop an integration plan that is compatible with services undergoing a digital transformation. </li>
    <li>Help to identify the realities of how service roadmaps are impacted by each feature. Services need to fully understand these realities in order to buy into the account proposition. It also provides useful insights for GDS that can be used to feed into an adoption plan. </li>
    <li>Findings from this research would directly feed into an onboarding plan for each feature. It would allow an understanding about what support services require and what challenges services may face as they integrate into the account and each new feature. </li>
    <li>A richer understanding of service needs and capabilities of services undergoing a digital transformation would inform the delivery roadmap for the GOV.UK account, including the various points services can onboard.</li>

</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>These services are likely to have their own transformation roadmaps and may not be willing to engage with GDS programmes without a full and detailed understanding of the account benefits and future vision. </li>
    <li>Services may not have the capacity to engage</li>
    <li>Services may already be engaging with other GDS programmes, a coordinated approach will be required</li>

</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Risk of GDS having a lack of awareness of competing accounts and apps being developed.</li>
    <li>For these services undergoing a digital transformation, there's a risk of misalignment as the integration plan may not be compatible with the changes they are making, creating a 2 tier system. </li>
    <li>These services undergoing a digital transformation may not be willing to engage with GDS programmes without a full and detailed understanding of the account benefits and future vision. </li>
    <li>Without a clear view of the direction of travel of the GOV.UK account, senior leadership teams can’t clearly understand the potential future benefits to their services, buy into the proposition and make informed decisions about how to prioritise resources and their roadmaps. </li>
    <li>The services most able to join and onboard won’t have been engaged.</li>
    <li>Risk of relationship damage.</li>
    <li>Services may transform in a way that does not align with the GOV.UK account and makes it difficult for them to onboard at a later date.</li>

</ul>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Within GDS many teams are actively recruiting and engaging with services for user research - there is a high risk of services being contacted by multiple teams working in the GOV.UK account/GDS space which can easily lead to disengagement and confusion. </li>
    <li>Clear alignment between teams at GDS is needed to track which services have been contacted for research and which services are already actively participating in research to prevent this situation from occurring. </li>
    <li>Many of the recruitment briefs around the GOV.UK account sound similar to service teams so clear communication and alignment between GDS teams about recruitment briefs and the future vision of the GOV.UK account is essential.</li>

</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../service-research/insights.html#{{ data['serviceinsightsmenu'][05]['anchor'] }}">{{ data['serviceinsightsmenu'][05]['title'] }} </a></p>

<p><a href="../data/insights.html#{{ data['datainsightsmenu'][01]['anchor'] }}">{{ data['datainsightsmenu'][01]['title'] }} </a></p>
<p><a href="../data/insights.html#{{ data['datainsightsmenu'][02]['anchor'] }}">{{ data['datainsightsmenu'][02]['title'] }} </a></p>
