<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>In the second round of the cross-government service research, we provided services with a short description of each feature that could potentially be available in future (once the account has the capability to save and reuse data).</p>

<p>Any features associated with account setup were excluded from this research. We focused on exploring 13 key features that could be enabled after the account has the capability to save and reuse data.</p>

<p>As this was an initial exploratory piece of research into cross-government features, we explored service perceptions and expectations around how these features would work based on a short description.</p>

<p>We conducted 2 short card sorting exercises based around feature value and perceived complexity of adoption to explore these topics with participants. Due to the time constraints of the project, we did not have the opportunity to conduct further rounds of research into the features and were not able to share any wireframes or prototypes with services. We also did not have the opportunity to do further research into the features with participants from technical roles. </p>

<p>We recommend dedicated research sessions using a prototype to explore each feature and any integration and onboarding considerations with services. This research should be an ongoing process where continuous feedback and validation from a wide range of services is obtained before the feature goes into development. </p>

<p>We recommend that this research is also conducted with individuals from service teams who are in technical and non-technical roles to ensure that service needs are fully understood across the different disciplines.
</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>This will allow interactive, in-depth exploration into service needs, expectations, perceived value, complexity and any perceived risks associated with each feature.</li>
    <li>There is much to still learn around the integration challenges at feature level and service level as well as identifying any potential problems for services. </li>
    <li>Further research also needs to explore expectations and service needs around onboarding and the availability of resources to support any integration activities.</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Engagement and recruiting services has been challenging within the cross-government services programme - our experience has been that many services teams are reluctant to engage or unable to support our user research due to their own service commitments. In some cases engagement has also been challenging as services and their SMT have not yet brought into the future vision and benefits of the GOV.UK account. </li>
    <li>Further research needs to be conducted with a wide range of services with differing levels of technical maturity so that service needs, integration challenges and onboarding considerations are comprehensive and representative. </li>
    <li>Initially the recruitment of participants from service teams needs to be aligned within the GOV.UK account program of work. Beyond this, the research needs to also include a diverse range of services that are not yet onboarding to allow for the research to be representative of cross-government services.</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Without fully understanding the complexity of features, there may be service considerations around how features are developed/implemented that have not been considered which prevent or obstruct the objective of achieving a seamless cross-government service experience. </li>
    <li>Resource commitment needs to be understood so that service teams can allocate sufficient time/resource on their roadmap to support implementation. </li>
    <li>There is a significant risk that services will not be able to integrate features with the GOV.UK account. </li>
    <li>Without understanding service needs around onboarding it will be difficult to effectively communicate what services need to know in order to onboard a particular feature. </li>
    <li>If services do integrate features, there may be unforeseen problems that services encounter downstream. </li>
    <li>There may be unforeseen risks associated with features - unless these are understood these risks can’t be mitigated or avoided.</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Within GDS many teams are actively recruiting and engaging with services for user research - there is a high risk of services being contacted by multiple teams working in the GOV.UK account/GDS space which can easily lead to disengagement and confusion. </li>
    <li>Clear alignment between teams at GDS is needed to track which services have been contacted for research and which services are already actively participating in research to prevent this situation from occurring. </li>
    <li>Many of the recruitment briefs around the GOV.UK account sound similar to service teams so clear communication and alignment between GDS teams about recruitment briefs and the future vision of the GOV.UK account is essential.</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../service-research/insights.html#{{ data['serviceinsightsmenu'][05]['anchor'] }}">{{ data['serviceinsightsmenu'][05]['title'] }} </a></p>

<p><a href="../data/insights.html#{{ data['datainsightsmenu'][01]['anchor'] }}">{{ data['datainsightsmenu'][01]['title'] }} </a></p>
