<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>By researching service user needs, it demonstrates that GDS are listening to service teams and have a genuine interest in supporting them to use cross-government services. It ensures that service needs and expected outcomes for each feature are understood.</p>

<p>These user needs can also be used as a tool to provide structure to project planning and delivery as well as giving the team a clear idea of what needs to be done to be successful. By understanding these needs, it can help GDS create features that services can more easily integrate into. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Evidence based user needs - based on key roles in service teams. Provide an understanding of which roles within service teams are involved in the onboarding, integration and ongoing management of the service involvement with the different cross-government service features. </li>
    <li>Visibility of common needs/views.</li>
    <li>Understand common constraints.</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Engagement and recruiting services has been challenging within the cross-government services programme - our experience has been that many services teams are reluctant to engage or unable to support our user research due to their own service commitments. </li>
    <li>Further research needs to be conducted with a wide range of services with differing levels of technical maturity so that service needs, integration challenges and onboarding considerations are comprehensive and representative. </li>
    <li>Initially the recruitment of participants from service teams needs to be aligned with the GOV account onboarding team. Beyond this, the research needs to also include a diverse range of services that are not yet onboarding to allow for the research to be representative of cross-government services.</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>There is a risk of inefficiency within the project team.</li>
    <li>There will not be clear visibility of common service needs and constraints - the team will not have the relevant knowledge of what needs to be done in order to be successful in the rollout of cross-government services without this input. </li>
    <li>Findings can be unexpected - critical information for decision making may be missed.</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p><i>N/a</i></p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../user-research/user-needs">Examples of end-user needs </a></p>
