<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>In phase 2 of our project, we found a wide variation in the usage of data dictionaries and adherence to the mandatory and recommended information standards.</p>

<p>We found that many services did not have a data dictionary, although services that were larger or had recently undergone a digital transformation were more likely to.</p>

<p>Having an accurate picture of the data items that services record and validate, and the identity profiles required for their users will enable greater understanding of the data needs of services across government.
</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Understanding of service data needs</li>
    <li>Supporting the development of a cross-government data dictionary</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Getting sufficient engagement across services to ensure enough coverage to get a representative understanding</li>
    <li>Services may not be willing to share their internal data dictionaries</li>
    <li>Services without technical teams may not recognise the terms, but may still have data validation and identity verification requirements built into their processes</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>Any solutions developed for cross-government data sharing may not include services’ data needs, making it harder for services to adopt.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>Outputs of this work would feed into CIFU, manage your data and accounts information.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../data/survey">Technical and data readiness survey</a></p>
<p><a href="../data/insights">Data research insights</a></p>
