<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>In our service and data research, the services that participated in qualitative research tended to be less digitally mature. Services that are more digitally mature may have different needs and priorities, and may have greater readiness to onboard future account features.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>A richer understanding of service needs and capabilities would inform the delivery roadmap for the GOV.UK account, including the various points services can onboard, and competing programmes within departments that GDS needs to be aware of.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>These services are likely to have their own transformation roadmaps and may not be willing to engage with GDS programmes</li>
    <li>Services may not have the capacity to engage</li>
    <li>Services may already be engaging with other GDS programmes, a coordinated approach will be required</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Services most able to join and onboard won’t have been engaged</li>
    <li>Risk of relationship damage</li>
    <li>Risk of competing accounts and apps being developed</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>How to engage these teams, given they are likely to already have features in place/have met some of their needs.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../data/survey">Technical and data readiness survey</a></p>
<p><a href="../data/insights">Data research insights</a></p>
