<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>In our data research we found that many services need similar types of data about their users e.g. name, date of birth etc. They also need information that is more specific to the service or department e.g. fish processing plant.</p>

<p>Some data will only ever be service specific - storing and sharing data with high reuse potential should be prioritised when developing solutions for data sharing across government. </p>

<p>This would maximise user benefit for these features:</p>

<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>
        <a href="../features/06">{{ data['features']['06'] }}</a>
    </li>
    <li>
        <a href="../features/08">{{ data['features']['08'] }}</a>
    </li>
    <li>
        <a href="../features/15">{{ data['features']['15'] }}</a>
    </li>
    <li>
        <a href="../features/21">{{ data['features']['21'] }}</a>
    </li>
</ul>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Enabling cross-government data sharing via the GOV.UK account will be a significant programme of work, focusing on the data that can be easily reused can bring benefits earlier to large groups of users.</p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>Services may require the same information about a user e.g. name, but record it in several different ways. This would need to be understood, standardised or mapped across for services to benefit from cross-government data sharing.</p>

<p>Not all services require data about their users, these services may not benefit from this approach or from cross-government data sharing in general.</p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>Solutions may focus on solving a single data sharing use case, delivering benefits only to users experiencing a particular government journey.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p><i>N/a</i></p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><i>N/a</i></p>
