<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>For services to be able to share data across government, via the GOV.UK account and without significant manual data processing, services must be sharing data in the same or compatible formats.</p>

<p>Our research found that many services, particularly the less digitally mature, do not have a data dictionary in place, presenting an opportunity to develop a cross-government dictionary for services to adopt as part of their digital transformation roadmap.</p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Developing a data dictionary will enable:</p>

<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Services undergoing a digital transformation to move towards greater conformance and compatibility in the data they record</li>
    <li>Programmes within GDS to have sight of the data items used for cross-government data sharing, and build them into cross-government features</li>

</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>The scale of cross-government services means this will require significant resourcing to develop, tool and for ongoing maintenance</li>
    <li>Requires buy in from services</li>
    <li>Services may be reluctant or unable to make changes to their systems to conform with the data dictionary, or may not have the resource to develop internal data models</li>

</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>A lack of consistency in the data recorded by services would make it very difficult for users’ data to be reused across multiple services in cross-government account features.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p><i>N/a</i></p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><i>N/a</i></p>
