<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Our research identified that many services are heavily reliant on manual back-office processes to support their digital services. </p>

<p>These services may be actively planning their digital transformation and it is important the services have an understanding of the capabilities they need to be working towards and standards they will need to meet to onboard to the GOV.UK account and benefit from cross-government features.
</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Putting this in place will support services to work towards a unified goal, particularly services that may be several years away from being able to join the GOV.UK account. </p>

<p>This will help ensure services continue to onboard to the account and cross-government features as and when they can and understand where they sit in the overall onboarding roadmap.
</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Requires technical architecture of GDS programmes currently in discovery phase?</li>
    <li>Services may be disheartened by seeing where they sit on the roadmap</li>
    <li>Services may be reluctant to be constrained in their procurement options</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>Services may transform in a way that does not align with the GOV.UK account and makes it difficult for them to onboard at a later date.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p><i>N/a</i></p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><i>N/a</i></p>
