<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Under GDPR users should only provide information that is necessary, but many of the future account features will give greater value as more user data is available. A balance will need to be reached between minimising the use of data and maximising benefit from account features.
</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Guidance for all programmes and services working in this area</li>
    <li>An understanding of the boundaries for personalisation with future account features</li>
    <li>A better understanding of if a feature presents benefits within acceptable minimal data use</li>

</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>IG is a challenging area for cross-government data sharing, any changes are likely to require a lengthy process to agree </li>
    <li>Legislative change is likely to be required to enable the storage of users account data for future account features for a personalised experience</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>Current guidance puts the emphasis on minimal use of data, restricting the benefits of future account features.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Knock-on impact on other programmes</li>
    <li>Privacy group concerns</li>

</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><i>N/a</i></p>
