<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Consider how a feature will react when the account (and data within it) gets very large. UI must tolerate future scale and growth.
    Be aware of tipping points when features could become more overhead than the goal they are supporting</p>




<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>

<p>Features must make sense to the end user - particularly in the event that features are not rolled out to all services.

    Features must be clear and simple to operate as the account and data within it grows. </p>



<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>Ownership and alignment of GOV.UK account area and features. </p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>Risk that elements of the GOV.UK account and related features are built per team/programme, without the end-to-end user experience in mind.
    Also significant redesigns may be required if the design patterns dont tolerate new features and the expansion of capabilities.
</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p><i>N/a</i> </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><i>N/a</i> </p>
