<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>If the GOV.UK account offers the ability to upload documents, further research will be needed to understand how users expect to interact with this. Controls may be required to manage the risk of upload of inappropriate files and documents.</p>

<p>Through user research we heard that users may wish to use an area to upload hospital letters, and documents which detail the past three years’ address details. This suggests that users may need a way to categorise different types of documents and information.</p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Any proposed document store will be utilised as intended by GOV.UK accounts and its related features. </p>

<p>Users are given the option to categorise documents in a way that best meets their needs. </p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}
<p>Work will be required to understand user needs, expectations and requirements if this feature is progressed in the future. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Possible storage implications if large files are uploaded. </li>
    <li>Possible ethical implications if inappropriate files are uploaded. </li>
    <li>Possible security implications if sensitive data is uploaded.</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../features/18">{{ data['features']['18'] }}</a> </p>
