<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>We must clearly describe what the feature enables, and what it does not enable. </p>

<p>Ensure your feature and content does not create new unmet expectations for related features.
</p>

<p>This is to reduce the risk of scenarios where users assume they have completed a certain action or transaction (examples cited below). This is crucial in order to reduce the risk of adverse human impact, particularly those who are in receipt of a benefit or service.
</p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>We believe clarity will encourage trust in the GOV.UK account and minimise negative impact to users. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>Users believe that their data is shared across government due to the branding of the account. They do not know the difference between the website and the account, which is reflected in their language. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>Risk of negative impact to users. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>We know that users don’t read stuff. This is a common user insight which is government - wide. We cannot rely on content alone to clearly convey what a feature does, and does not do, so this should be considered as part of design. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../features/08">{{ data['features']['08'] }}</a> </p>
<p><a href="../user-research/insights.html#{{ data['userinsightsmenu'][05]['anchor'] }}">{{ data['userinsightsmenu'][05]['title'] }} </a></p>
