<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Some features could lead to both user-perceived positive and negative outcomes. For example, a positive outcome could be a scenario where a user receives a new entitlement. A perceived negative outcome could be a benefit being turned off.
</p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Clarity in user experience. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>Complexity of cross-government services and policies and rules needed to ensure accuracy and fairness to users. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>Risk of negative human impact if benefits or services are withdrawn in scenarios where this is unexpected by the user. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p><i>N/a</i> </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><i>N/a</i> </p>
