<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Users should have the ability to view transactions and progress when interacting with features within a GOV.UK account.
</p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>We believe that clarity and transparency displayed in transactional tasks will encourage trust in the service. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p><i>N/a</i> </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>If users are not clear what has been actioned through their GOV.UK account there could be a reluctance to engage with it. s</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p><i>N/a</i> </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><i>N/a</i> </p>
