<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>The customer support operating model needs to be established and functional to support the rollout of the features.Given the integrated nature of how features within the GOV.UK account will need to work with existing service journeys, it is essential that GDS have a clearly defined support mechanism for users.
</p>
<p>If users encounter problems with data when interacting with individual service journeys which are re-using data saved in the GOV.UK account, routes of support need to be clearly defined and communicated. </p>

<p>Evidence from existing research highlights that service teams do not have any awareness of how the operating model would work to support additional features within the GOV.UK account. </p>

<p>Participants were also unclear about who their service users would need to contact (if for example their data was incorrect or they encountered problems within the service journey). Many services questioned whether the user would need to contact their service directly to rectify the problem, or whether they would need to contact GDS. </p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Research needs to be conducted to allow GDS to understand: </p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>How the operating model should work to simultaneously support cross-government services, drive value and maintain a good customer experience. </li>
    <li>Understand when the end user should contact the GDS contact centre vs the service contact centre. </li>
    <li>Define what capabilities the customer support operating model needs to have. </li>
    <li>Understand the needs of services from the operating model. </li>
    <li>Understand the needs of end users from the operating model. </li>
    <li>Understand what IT architecture is needed to support the operating model.</li>
    <li>Understand to what extent the operating model needs to scale up to support end users across the GOV.UK account as additional services integrate cross-government service features.</li>

</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Within GDS many teams are actively recruiting and engaging with services for user research - there is a high risk of services being contacted by multiple teams working in the GOV.UK account/GDS space which can easily lead to disengagement and confusion. </li>
    <li>Clear alignment between teams at GDS is needed to track which services have been contacted for research and which services are already actively participating in research to prevent this situation from occurring. </li>
    <li>Many of the recruitment briefs around the GOV.UK account sound similar to service teams so clear communication and alignment between GDS teams about recruitment briefs and the future vision of the GOV.UK account is essential. </li>
    <li>Full service design for an operational model to support GOV.UK accounts, end users, and service users.</li>
</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<ul class="govuk-list govuk-list--bullet  govuk-list--spaced">
    <li>Ambiguity around customer support responsibilities can result in poor customer outcomes through task duplication, inefficient support processes and oversight of service support duties. </li>
    <li>Users will have a poor experience of GOV.UK if they are unclear about how to get help with their GOV.UK account, the data and functionality within it. </li>
    <li>This may create a barrier to services integrating into the GOV.UK account if they are unclear about the long term support mechanism for their service users. </li>
    <li>Properly defining and allocating the user support required for cross-government services, to effectively serve customers is a key challenge that needs to be solved in order for the GOV.UK account to be a success.</li>

</ul>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>User research would be required for both end users and service users. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../user-research/insights.html#{{ data['userinsightsmenu'][10]['anchor'] }}">{{ data['userinsightsmenu'][10]['title'] }} </a></p>
<p><a href="../service-research/insights.html#{{ data['serviceinsightsmenu'][09]['anchor'] }}">{{ data['serviceinsightsmenu'][09]['title'] }} </a></p>
