<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>For clarity and control, users must always control the final ‘go’ step. For example, passing information to services.</p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Greater clarity to the end user in what has occurred as part of a transaction. We believe transparency and control encourages trust in the service.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>N/A</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>Possible user reluctance to interact with the account.</p>
<p>Possible liability if users are not given express control over the final ‘go’ step. </p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>N/A</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../user-research/insights.html#{{ data['userinsightsmenu'][10]['anchor'] }}">{{ data['userinsightsmenu'][10]['title'] }} </a></p>
<p><a href="../service-research/insights.html#{{ data['serviceinsightsmenu'][09]['anchor'] }}">{{ data['serviceinsightsmenu'][09]['title'] }} </a></p>
