<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>We believe this is a must, rather than a ‘nice to have’. Not all users wish to save and use all of their data within their GOV.UK account. </p>

<p>We have tested this pattern with numerous end users - we have high confidence that it is appreciated by users. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>This enables users control over exactly which pieces of information they share and use. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>N/A</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>N/A</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>N/A</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../user-research/insights.html#{{ data['userinsightsmenu'][10]['anchor'] }}">{{ data['userinsightsmenu'][10]['title'] }} </a></p>
<p><a href="../service-research/insights.html#{{ data['serviceinsightsmenu'][09]['anchor'] }}">{{ data['serviceinsightsmenu'][09]['title'] }} </a></p>
