<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>User research suggests that not everyone will be interested in creating a GOV.UK account, or adding data to it. Further exploration of how best to compel users to create and use a GOV.UK account will be needed in the future.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Greater understanding of:</p>

<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>optimal conditions for creating an account</li>
    <li>placement of the GOV.UK account within cross-government journeys </li>
    <li>content and messaging which best describes the account and enables adoption</li>

</ul>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>Any work around compelling users to add their data to an account should be carried out in alignment with data policy teams to ensure that data is being collected and processed as appropriate and when needed. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>Possible impact on adoption and engagement. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../user-research/insights.html#{{ data['userinsightsmenu'][01]['anchor'] }}">{{ data['userinsightsmenu'][01]['title'] }} </a></p>
