<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Concerns around privacy and security was a clear theme coming through in our user insights. Although this may seem like an obvious one, it’s worth reiterating in line with service standard 9. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Encourages end user trust in the service. </p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>N/A</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>Compromised end user data or attributes.<p>

        <h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
        <p>N/A</p>

        <h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
        <p><a href="../user-research/insights.html#{{ data['userinsightsmenu'][10]['anchor'] }}">{{ data['userinsightsmenu'][10]['title'] }} </a></p>
        <p><a href="../service-research/insights.html#{{ data['serviceinsightsmenu'][09]['anchor'] }}">{{ data['serviceinsightsmenu'][09]['title'] }} </a></p>
