<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Users expect a way to get in touch to resolve problems. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Support for all users of GOV.UK accounts and cross-government transactions.</p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>Full service design for an operational model to support GOV.UK accounts, end users, and service users. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>There would be insufficient support for users of the GOV.UK account and cross-government transactions if an operational model is not implemented. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>User research would be required for both end users and service users. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../user-research/insights.html#{{ data['userinsightsmenu'][10]['anchor'] }}">{{ data['userinsightsmenu'][10]['title'] }} </a></p>
<p><a href="../service-research/insights.html#{{ data['serviceinsightsmenu'][09]['anchor'] }}">{{ data['serviceinsightsmenu'][09]['title'] }} </a></p>
