<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>Not all users understood what this was, or why it was relevant. The use of the term ‘past data’ was confusing for some and created an expectation of an archive. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Further research will help better understand how to describe legacy data, in the event that this feature is progressed by the programme. </p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p>Legacy data is likely to be inconsistently structured, and there are also legal considerations of using data in a way that differs from why it was initially captured. These challengesd will also need understanding as well as the exploration into user benefits.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>No implications identified at present, as it’s dependent on legacy data progressing as a feature.</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>This will not add value at the current time. This could be a future piece of research. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../features/05">{{ data['features']['05'] }}</a> </p>
