<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>This was not fully explored in our piece of work due to the limitations of user testing. We can’t prove or disprove whether a personalised navigation would work in a user testing session because there is no real life task for the user. </p>

<p>We recommend further alignment with the Whole User Journeys team, and the Step by Step journeys team. </p>

<p>This piece could be explored with multivariate testing where possible, as this is likely to give a clearer picture of optimised task completion. Usability testing sessions are highly influenced by the prototype flow. </p>


<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>Whether personalised navigation is valuable and usable. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p><i>N/a</i></p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>No implications identified at present..</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>This will not add value at the current time. This could be a future piece of research. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../features/22">{{ data['features']['22'] }}</a> </p>
