<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['why'] }} </h3>
<p>In user research we explored the concept of adding employer data to the GOV.UK account. If this work progresses, further exploration could be done in order to understand whether users are willing to add other types of data to their GOV.UK account. </p>

<p>We would advise against a survey for this piece of work - users should not be asked to hypothetically predict which external data sources they would/wouldn’t add to their GOV.UK account in the future. </p>




<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['what'] }}</h3>
<p>This will provide a greater understanding of whether external data is acceptable, valuable and usable. It will also give an indication of whether there are any types of external data which users would be unwilling to connect to an account. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['who'] }}</h3>
{% include "recommendations/includes/logic-teams-recommendations.html" %}

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['challenges'] }}</h3>
<p><i>N/a</i></p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['consequences'] }}</h3>
<p>No implications identified at present..</p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['considerations'] }}</h3>
<p>This will not add value at the current time. This could be a future piece of research. </p>

<h3 class="govuk-heading-s govuk-!-padding-top-8">{{ data['recommendationheadings']['more'] }}</h3>
<p><a href="../features/12">{{ data['features']['12'] }}</a> </p>
