{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="enter-mobile-number.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="../check-answers-4-complete-resume" method="POST">
            <h1 class="govuk-heading-xl">Check your phone</h1>
            <p class="govuk-body">We sent a code to <span id="phoneNumber">07123456789</span>.</p>
            <!-- OTP input -->
            <div class="govuk-form-group">
                <label class="govuk-label" for="otp-input">Enter the 6 digit security code</label>
                <input class="govuk-input govuk-!-width-one-quarter" id="otp-input" name="otp-input" type="number">
            </div>
            <p class="govuk-body"><a href="request-new-otp.html">Request a new code</a> if you:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>didn’t receive a code</li>
                <li>need a new code</li>
            </ul>
                <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div> <!-- /. govuk-grid-column-two-thirds -->
</div> <!-- /. govuk-grid-row -->

<script>
    var phoneNumber = document.getElementById('phoneNumber').innerText;
    if (phoneNumber) {
        document.getElementById("phoneNumber").innerText = "*******" + phoneNumber.slice(7);
    }
</script>

{% endblock %}