{% extends "layout_handover.html" %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-4">
    <p class="hide-on-mobile"><img src="../../../public/images/team/leah.svg" class="team-thumbnail"> </p>
    <p><b>Leah Thompson</b> <br />
        Product <br />
    </p>
</div>
<div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-4">
    <p class="hide-on-mobile"><img src="../../../public/images/team/adam.svg" class="team-thumbnail"> </p>
    <p><b>Adam Friday</b> <br />
        Delivery
    </p>
</div>
<div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-4">
    <p class="hide-on-mobile"><img src="../../../public/images/team/jon.svg" class="team-thumbnail"> </p>
    <p><b>Jon Maher</b> <br />
        Design
    </p>
</div>
<div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-4">
    <p class="hide-on-mobile"><img src="../../../public/images/team/sam.svg" class="team-thumbnail"> </p>
    <p><b>Sam Robinson</b> <br />
        Content
    </p>
</div>
<div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-4">
    <p class="hide-on-mobile"><img src="../../../public/images/team/ruth.svg" class="team-thumbnail"> </p>
    <p><b>Ruth Taylor</b> <br />
        Research - End users
    </p>
</div>
<div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-4">
    <p class="hide-on-mobile"><img src="../../../public/images/team/amy.svg" class="team-thumbnail"> </p>
    <p><b>Amy Barrs</b> <br />
        Research - Services
    </p>
</div>
<div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-4">
    <p class="hide-on-mobile"><img src="../../../public/images/team/kasmyn.svg" class="team-thumbnail"> </p>
    <p><b>Kasmyn Chen</b> <br />
        Business Analysis
    </p>
</div>
<div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-4">
    <p class="hide-on-mobile"><img src="../../../public/images/team/jonny.svg" class="team-thumbnail"> </p>
    <p><b>Jonny Edwards</b> <br />
        Data
    </p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-full hide-on-mobile">

    <p><img class="panel-image" src="../../../public/images/research/stakeholders.svg"></p>

</div>
<div class="govuk-grid-column-one-third govuk-!-padding-bottom-4">
    <p><a href="#">
            <b>Leanne Cummings</b></a> <br />
        <b>Director of Strategy</b> <br />
        GOV.UK
    </p>
</div>
<div class="govuk-grid-column-one-third govuk-!-padding-bottom-4">
    <p><a href="#"><b>
                Robert Rankine</b></a> <br />
        <b>Head of Product</b> <br />
        GOV.UK
    </p>
</div>
<div class="govuk-grid-column-one-third govuk-!-padding-bottom-4">
    <p>
        <a href="mailto:andrew.leimdorfer@digital.cabinet-office.gov.uk"><b>Andrew Leimdorfer</b></a> <br />
        <b>Senior Product Manager</b> <br />
        GOV.UK Accounts
    </p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-two-thirds">
    <p>We've engaged with a number of teams within the programme, providing clarity and insight into the problem we’re trying to solve whilst also communicating the scope of our project.</p>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Teams and contacts identified
            </span>
        </summary>
        <div class="govuk-details__text">

            {% include "includes/team-tabs.html" %}
        </div>
    </details>
</div>
<div class="govuk-grid-column-one-third hide-on-mobile">
    <p><img class="panel-image" src="../../../public/images/research/venn-4.svg"></p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-full">

    <ul class="govuk-list govuk-list--bullet">
        <li>Team sprint planning sessions</li>
        <li>Retrospectives</li>
        <li>Fortnightly project update meetings with our <a href="#stakeholders">key stakeholders</a> </li>
        <li>Fortnightly show and tells for GDS Leads and external teams</li>
        <li>End user and service research playbacks to external teams</li>
    </ul>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}

{% endblock %}
{% else %}
{% endif %}


{% if pagemenu[6] %}
{% block section7 %}

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}

{% endblock %}
{% else %}
{% endif %}

<br /><br />
