{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<style>
    #back-link {
        cursor: pointer;
    }
</style>
<a href="../create-password.html" class="govuk-back-link" id="back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <!-- Main Body Content -->

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Privacy notice</h1>
        <p class="govuk-body">GOV.UK (or www.gov.uk) is provided by the <a href="https://www.gov.uk/government/organisations/government-digital-service" target="_blank" class="govuk-link">Government Digital Service</a> (GDS), part of the Cabinet Office.<p>
        <p class="govuk-body">The Cabinet Office is the data controller for any personal information processed by GOV.UK Accounts.<p>
        <p class="govuk-body">
            The <a href="https://www.gov.uk/help/privacy-notice" class="govuk-link">GOV.UK privacy notice</a> explains how your personal information is collected and processed when you use GOV.UK. This privacy notice specifically covers GOV.UK Account and explains any uses of personal information that are not covered in the GOV.UK privacy notice.
        </p>
        <!-- What data do we collect -->

        <h3 class="govuk-heading-m">What data we collect</h3>
        <p class="govuk-body">The personal data we collect from you includes:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>email address</li>
            <li>phone number</li>
        </ul>
        <p class="govuk-body">
            Services that you use while logged in to your GOV.UK Account may collect data relevant to that service.
        </p>
        <p class="govuk-body">
            We use analytics software to help us understand how you use GOV.UK Account.
        </p>

        <!-- Why we need your data -->

        <h3 class="govuk-heading-m">Why we need your data</h3>
        <p class="govuk-body">We use your infomration to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>create a GOV.UK Account</li>
            <li>log you in to a service</li>
            <li>let you save your progress on services and finish them later</li>
        </ul>
        <p class="govuk-body">We may also analytics data to help:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>make sure the account is meeting the needs of its users</li>
            <li>make improvements to the account</li>
        </ul>

        <!-- Our legal basis for processing your data -->

        <h3 class="govuk-heading-m">Our legal basis for processing your data</h3>
        <p class="govuk-body">
            The legal basis for processing your data in relation to account security is our legitimate interests, and the legitimate interests of our users, in ensuring the security and integrity of the GOV.UK Account.
        </p>
        <p class="govuk-body">The legal basis for processing anonymised data for analytics is your consent.</p>
        <p class="govuk-body">
            The legal basis for processing your data for processing all other personal data is that it’s necessary to enable you to use your GOV.UK account. 
        </p>


        <!-- What we do with your data -->

        <h3 class="govuk-heading-m">What we do with your data</h3>
        <p class="govuk-body">The data we collect may be shared with other government departments, agencies and public bodies. It may also be shared with our technology suppliers, for example our hosting provider.</p>
        <p class="govuk-body">We will not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sell or rent your data to third parties</li>
          <li>share your data with third parties for marketing purposes</li>
        </ul>
        <p class="govuk-body">We will share your data if we are required to do so by law - for example, by court order, or to prevent fraud or other crime.</p>

        <!-- How long we keep your data -->

        <h3 class="govuk-heading-m">How long we keep your data</h3>
        <p class="govuk-body">We will keep your GOV.UK Account and any associated data for as long as you need your account. However, we may decide to delete your account if you do not sign in for 2 years.</p>
        <p class="govuk-body">If you delete information from your account or delete your account entirely, they will be permanently deleted.</p>
        <p class="govuk-body">We will keep your feedback data for 2 years. We will delete access log data after 120 days.</p>

        <!-- Children’s privacy protection -->

        <h3 class="govuk-heading-m">Children’s privacy protection</h3>

        <p class="govuk-body">Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. We do not intentionally collect or maintain data about anyone under the age of 13.</p>

        <!-- Where your data is processed and stored -->

        <h3 class="govuk-heading-m">Where your data is processed and stored</h3>

        <p class="govuk-body">
            All information associated with GOV.UK Account is stored in the <a href="/eu-eea" class="govuk-link">European Economic Area</a> (<abbr title="European Economic Area" style="text-decoration: none;">EEA</abbr>). Data collected by Google Analytics and LUX may be transferred outside the <abbr title="European Economic Area" style="text-decoration: none;">EEA</abbr> for processing.
        </p>

        <p class="govuk-body">Data collected by analytics software may be transferred outside the EEA for processing.</p>

        <!-- How we protect your data and keep it secure -->

        <h3 class="govuk-heading-m">How we protect your data and keep it secure</h3>

        <p class="govuk-body">We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data - for example, we protect your data using varying levels of encryption.</p>

        <p class="govuk-body">We also make sure that any third parties that we deal with keep all personal data they process on our behalf secure.</p>

        <p class="govuk-body">As the owner of your GOV.UK Account, you also have some responsibility for the security of your account. For example you should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            choose a strong password for your account and ensure you keep it secure - the UK’s National Cyber Security Centre (NCSC) provides <a href="https://www.ncsc.gov.uk/cyberaware/home" target="_blank" class="govuk-link">advice on keeping your online accounts secure</a>
          </li>
          <li>contact us if you think your GOV.UK Account has been compromised</li>
        </ul>

        <!-- Your rights -->

        <h3 class="govuk-heading-m">Your rights</h3>
        <p class="govuk-body">You can delete your GOV.UK account and the information in it at any time.</p>
        <p class="govuk-body">You have the right to request:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>information about how your personal data is processed</li>
            <li>a copy of that personal data</li>
            <li>that anything inaccurate in your personal data is corrected immediately</li>
        </ul>
        <p class="govuk-body">You can also:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>raise an objection about how your personal data is processed</li>
            <li>request that your personal data is erased if there is no longer a justification for it</li>
            <li>ask that the processing of your personal data is restricted in certain circumstances</li>
        </ul>

        <p class="govuk-body">If you have any of these requests, get in contact with our Privacy Team.</p>

        <!-- Contact us or make a complaint -->

        <h3 class="govuk-heading-m">Contact us or make a complaint</h2>
        <p class="govuk-body">Contact the Privacy Team if you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>have a question about anything in this privacy notice</li>
            <li>think that your personal data has been misused or mishandled</li>
        </ul>

        <div class="contact" style="border-left: 1px solid #b1b4b6; padding-left: 15px;">
            <p class="govuk-body">Privacy Team<br>
            <a href="mailto:gds-privacy-office@digital.cabinet-office.gov.uk" class="govuk-link">
                gds-privacy-office@digital.cabinet-office.gov.uk
            </a>
            </p>
        </div>

        <p class="govuk-body">
            You can also contact our Data Protection Officer (<abbr title="Data Protection Officer" style="text-decoration: none;">DPO</abbr>):
        </p>

        <div class="contact" style="border-left: 1px solid #b1b4b6; padding-left: 15px;">
            <p>Data Protection Officer<br>
            <a href="mailto:DPO@cabinetoffice.gov.uk">DPO@cabinetoffice.gov.uk</a><br>
            Cabinet Office<br>
            70 Whitehall<br>
            London <br>
            SW1A 2AS
            </p>
        </div>

        <p class="govuk-body">The <abbr title="Data Protection Officer" style="text-decoration: none;">DPO</abbr> provides independent advice and monitoring of our use of personal information.</p>
        <p class="govuk-body">You can also make a complaint to the Information Commissioner, who is an independent regulator.</p>

        <div class="contact" style="border-left: 1px solid #b1b4b6; padding-left: 15px;">
            <p>Information Commissioner<br>
            <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br>
            Telephone: 0303 123 1113<br>
            Textphone: 01625 545860<br>
            Monday to Friday, 9am to 4:30pm<br>
            <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
        </div>
            
        <div class="address" style="border-left: 1px solid #b1b4b6; padding-left: 15px;">
            <div class="adr org fn"><p>
                Information Commissioner's Office
                <br>Wycliffe House
                <br>Water Lane
                <br>Wilmslow
                <br>Cheshire SK9 5AF
                <br>
                </p>
            </div>
        </div>

        <!-- Changes to this policy -->
        <h3 class="govuk-heading-m">Changes to this policy</h3>

        <p class="govuk-body">We may change this privacy policy. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy policy will apply to you and your data immediately.</p>

        <p class="govuk-body">If these changes affect how your personal data is processed, <abbr title="Government Digital Service" style="text-decoration: none;">GDS</abbr> will take reasonable steps to let you know.</p>

        <p class="govuk-body-s">Last updated 16 June 2021</p>

    </div> <!-- /. govuk-grid-column-two-thirds -->
    <!-- Related Content -->
    <div class="govuk-grid-column-one-third">
        <div class="related-content">
            <h1 class="govuk-heading-s">Related content</h1>
            <a class="govuk-link" href="about-govuk.html">About GOV.UK</a>
            <div class="govuk-!-padding-bottom-3"></div>
            <a class="govuk-link" href="terms-and-conditions.html">Terms and conditions</a>
        </div> <!-- /. related-content -->
    </div> <!-- /. govuk-grid-column-one-third -->
</div> <!-- /. govuk-grid-column-two-thirds -->
</div> <!-- /. govuk-grid-row -->

<script>
    function goBack() {
    window.history.back();
}
</script>

{% endblock %}