{% extends "layout_phase-2-round-3.html" %}

{% block pageTitle %}
{% include "../includes/service-4-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "../includes/service-4-name.html" %}
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
<a href="start.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="spinner-retrieving-data" method="POST">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset" aria-describedby="-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Choose departments
                        </h1>
                    </legend>

                    <p>
                        The following GOV.UK departments have personal information stored about you. This information was saved when you used their services in the past, for example applying for a passport.
                    </p>

                    <p>Select the departments you want to retrieve information from. You can then review that information and choose to save it in your {% include "includes/auth-name.html" %}.</p>

                    <br />

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                More about how your {% include "includes/auth-name.html" %} uses your information
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            Any information you save can be used to prefill forms and applications when using services. It will also be used to personalise your experience across GOV.UK.
                        </div>
                    </details>

                    <br /><br />

                    <!-- {% include "../includes/global-push-warning.html" %}

                    <br /> -->

                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                <b>Her Majesty's Revenue and Customs (HMRC)</b><br />Taxes and state support
                            </label>
                        </div>

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                <b>Driver and Vehicle Licensing Agency (DVLA)</b><br />Driver licences and vehicle records
                            </label>
                        </div>

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                <b>The Department for Work and Pensions (DWP)</b><br />Welfare, pensions and child maintenance
                            </label>
                        </div>

                    </div>

                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>


        </form> <!-- /. form -->
    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">

    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
