{% extends "layout_phase-2-round-3.html" %}

{% block pageTitle %}
{% include "../includes/service-4-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "../includes/service-4-name.html" %}
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
<a href="start.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="spinner-retrieving-data" method="POST">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset" aria-describedby="-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Choose services/departments(?)
                        </h1>
                    </legend>

                    <p class="govuk-body">
                        The following government department / or services (@Kas?) hold information in their systems about you.
                        <p>

                            <p>You can add that data to your GOV.UK account.</p>

                            <p>A sentence here explaining that this data can then be used to personalise your experience, and also be used in forms you need to fill in.</p>
                            <p>But also explain that if these items are changed, then it wont automatically update the services/departments with the new information <b>(Global push explainer)</b></p>

                            <br />

                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                                    <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                        DWP
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                                    <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                        HMRC
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                                    <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                        DVLA
                                    </label>
                                </div>

                            </div>

                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>


        </form> <!-- /. form -->
    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">

    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
