{% extends "layout_phase-2-round-3.html" %}

{% block pageTitle %}
{% include "../includes/service-4-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "../includes/service-4-name.html" %}
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}

<a href="choose-services.html" class="govuk-breadcrumbs__link govuk-back-link">Back</a>

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="data-clash" method="POST">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="calculator-consent-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which information do you want to save to your {% include "includes/auth-name.html" %}?
                        </h1>
                    </legend>

                    <br />

                    <p>Saving this information will allow you to:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>prefill forms and applications saving you time</li>
                        <li>personalise your experience across GOV.UK</li>
                    </ul>

                    <br />

                    <table class="govuk-table">
                        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> -->
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Information requested</th>
                                <th scope="col" class="govuk-table__header">Your details</th>
                                <th scope="col" class="govuk-table__header">Department</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                                Living status
                                            </label>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell">
                                        Live with partner
                                    </td>
                                    <td class="govuk-table__cell">DWP</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                                Employment status
                                            </label>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell">
                                        Employed
                                    </td>
                                    <td class="govuk-table__cell">HMRC</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                                Address
                                            </label>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell">
                                        12 This Ol' House <br />
                                        Old Street <br />
                                        Previoustown <br />
                                        West Yorkshire <br />
                                        LS1 1AB
                                    </td>
                                    <td class="govuk-table__cell">DVLA</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                                A data item
                                            </label>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell">
                                        The answer
                                    </td>
                                    <td class="govuk-table__cell">Department here</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                                A data item
                                            </label>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell">
                                        The answer
                                    </td>
                                    <td class="govuk-table__cell">Department here</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                                A data item
                                            </label>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell">
                                        The answer
                                    </td>
                                    <td class="govuk-table__cell">Department here</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="calculator-consent-11" name="calculator-consent" type="checkbox" value="portugal">
                                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-11">
                                                A data item
                                            </label>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell">
                                        The answer
                                    </td>
                                    <td class="govuk-table__cell">Department here</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="select-all" type="checkbox">
                                            <label class="govuk-label govuk-checkboxes__label" for="select-all">
                                                <b>Select all</b>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell"></td>
                                    <td class="govuk-table__cell"></td>
                                </tr>
                            </div>
                        </tbody>
                    </table>

                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form> <!-- /. form -->

        <br />

    </div> <!-- /. govuk-grid-column-two-thirds -->

    <div class="govuk-grid-column-one-third">

    </div>

</div> <!-- /. govuk-grid-row -->

{% include "phase-2-round-3/includes/select-all.js" %}

{% endblock %}
