{% extends "layout_handover.html" %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <h3 class="govuk-heading-m">Clarity and transparency</h3>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Always prioritise ensuring the user’s <b>expectations</b> and the capability of the feature are aligned
            <ul class="govuk-list govuk-list--bullet">

                <li>Clearly describe what the feature <b>does</b> and what it <b>does not</b> enable</li>
                <li>Ensure your feature and content does not create new unmet expectations for <b>related features</b>
                    <br /><br />
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Example observed in research
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            An example of this that we observed in user research was around personalised and curated content. <br /><br />When users saw information that had been curated for them on an ‘eligibility page’ they assumed it was accurate and that the amounts cited were the specific amounts they would receive as part of a benefit claim.
                        </div>
                    </details>
                </li>
            </ul>
        </li>
        <li>Ensure the user can see <b>why</b> something is happening (for example, be specific about how a page is being personalised, or why a service is being suggested)</li>
        <li>Be clear about <b>impact</b> to the user - some features could lead to both user-perceived positive and negative outcomes (for example, a new entitlement versus a benefit being turned off)</li>
        <li>Ensure the user can review <b>what</b> has happened and when</li>
        <li>Be clear about <b>responsibilities</b> - as the account becomes feature rich, it may allude to a shift in responsibilities away from the user</li>
    </ul>

</div>
<div class="govuk-grid-column-one-third">


</div>
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <h3 class="govuk-heading-m">Control and consent</h3>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Ensure the feature gives the user control and seeks their permission</li>
        <li>Most of all, users need to retain control of:
            <ul class="govuk-list govuk-list--bullet">
                <li>Their data - nothing should go in or out of the account without <b>permission</b> and notification</li>
                <li>The use of <b>data</b> - all features must be user controllable</li>
                <li>Who gets to <b>see</b> their data - for example, for the information passed to services, users must always control the final ‘GO’ step</li>
            </ul>
        </li>
    </ul>
</div>
<div class="govuk-grid-column-one-third">



</div>

<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <h3 class="govuk-heading-m">UI scalability</h3>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Consider how a feature will <b>scale</b> when the account (and data within it) gets very large
            <ul class="govuk-list govuk-list--bullet">
                <li>How will the UI tolerate this?</li>
                <li>Will the UI still be clear and simple to use?</li>
            </ul>
        </li>
        <li>Be aware of <b>tipping points</b> when using the UI could become more overhead than the efficiency and/or accuracy goals they are supporting</li>
    </ul>
</div>
<div class="govuk-grid-column-one-third">



</div>

<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <h3 class="govuk-heading-m">Understand the needs of citizen users</h3>

    <ul class="govuk-list govuk-list--bullet">
        <li>As described in our <a href="../user-research/approach.html">approach to user needs</a>, our user needs have been collated as an output of our rounds of research with Universal Credit claimants. We recommend continued learning in relation to other types of service users and their needs</li>
        <li>Understand how GOV.UK account features would impact user needs, either positively or adversely.</li>
        <li>Employ tech solutions which truly meet user needs.</li>
    </ul>

</div>
<div class="govuk-grid-column-one-third">



</div>

<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <h3 class="govuk-heading-m">Continue user research to understand how users might interact with features in order to serve their personal preferences and needs</h3>

    <p>Understand how users would interact with a feature through observation and discussion.</p>

    <p>An example of this is our work around a place to <a href="../features/18">upload documents</a>.</p>

    <p>User research participants envisaged that they may use this as a space to upload previous address documents, letters with reference numbers, etc. </p>

    <p>Consider how the feature should be best used and designed with clarity.</p>

</div>
<div class="govuk-grid-column-one-third">

</div>



<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <h3 class="govuk-heading-m">Continue usability testing </h3>

    <p>Continue usability testing as the programme of work progresses. The designs we have used as part of our work are primarily for concept testing. </p>

</div>
<div class="govuk-grid-column-one-third">



</div>

<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <h3 class="govuk-heading-m">Create a secure service which protects users’ privacy</h3>

    <p>Concerns around privacy and security was a clear theme coming through in our user insights. In direct echo of service standard 9 - provide a secure service. </p>

</div>
<div class="govuk-grid-column-one-third">



</div>

<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <h3 class="govuk-heading-m">Listen to the way users describe things in their own words</h3>
    <p>Users’ natural language and their descriptions of the GOV.UK account may help with profile, branding, and content.</p>

</div>
<div class="govuk-grid-column-one-third">



</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">

    <ul class=" govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Detailed research is needed to fully understand the value and complexity of adopting each of the hypothetical account features.</li>
        <li>Conduct further research based on technical assessments of feature complexity.</li>
        <li>Widen the recruitment profile to cover a range of service roles (including technical and non-technical roles).</li>
        <li>Conduct research to understand services undergoing a digital transformation and how their roadmap aligns with the GOV.UK account roadmap.</li>
        <li>Detailed research is needed with services to understand the technical requirements for services to implement features.</li>
        <li>Conduct an assessment of technical dependencies to understand the intrinsic links between features (some features are enablers).</li>
        <li>The validity of self-reported technical maturity is difficult to assess because many services are not regularly introspecting. Additional research is required to further our understanding in this area.</li>
    </ul>

    <h3 class="govuk-heading-m govuk-!-padding-top-8 ">Operating model</h3>

    <ul class="govuk-list govuk-list--bullet">
        <li>The operating model needs to be established and functional to support the roll out of the features. </li>
        <li>Clearly define the operating model support mechanism.</li>
        <li>Clearly communicate to the end user and service teams which contact centre users need to engage with to discuss their GOV.UK account, the data and functionality within it.</li>

    </ul>

    <h3 class="govuk-heading-m govuk-!-padding-top-8 ">Educating services</h3>

    <ul class="govuk-list govuk-list--bullet">
        <li>Consider how to educate government services about how the GOV.UK account is going to change.
            <ul class="govuk-list govuk-list--bullet">
                <li> Senior leadership teams will be investing personal capital into the programme and need to have visibility and confidence in the changes happening.</li>
                <li> As features are added to the GOV.UK account this will fundamentally impact service roadmaps and delivery priorities.</li>
            </ul>
        </li>

    </ul>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Conduct research to understand the data items required to support hypothetical account features.</li>
        <li>Conduct research across government services to build an accurate picture on the use of data dictionaries and information standards, in particular the GPG 45.</li>
        <li>Widen the recruitment profile to include services with a greater digital maturity.</li>
    </ul>

    <h3 class="govuk-heading-m govuk-!-padding-top-8 ">Data maturity</h3>

    <p>Some very sensitive types of data will <b>need to be excluded</b> (for example, special forces personnel).</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>Under GDPR users should only provide information that is necessary, but many of the cross government features will give greater value as more user data is available. A balance will need to be reached between minimising use of data and maximising benefit from account features.</li>
        <li>Some data will only ever be service specific - storing and sharing data with high reuse potential should be prioritised.</li>
        <li>Development, implementation and maintenance of a cross government data dictionary, or ongoing cross government data matching need to be considered.</li>
        <li>Recognition that different services will require different levels of data verification. Data standards vary across different services - services will need to understand the verification standard associated with each data item so it can decide how it can use the data.</li>
    </ul>

    <h3 class="govuk-heading-m govuk-!-padding-top-8 ">
        Joining up systems and back office processes
    </h3>

    <ul class="govuk-list govuk-list--bullet">
        <li>Understand how the GOV.UK account will onboard services with a heavy reliance on manual processes or low digital maturity. Many services are heavily reliant on manual back office processes to support their digital services. </li>
        <li>Awareness that government services are transforming at different rates. </li>
        <li>Understand how backend systems and processes will work together with the GOV.UK account. </li>
        <li>For services looking to procure new backend systems, support to procure and implement systems that will enable information sharing with the GOV.UK account.</li>
    </ul>


</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}
