{% extends "layout_handover.html" %}

{% block title %}
{{ super() }}
<div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
        <h2 class="govuk-heading-l">Scope</h2>
        <p class="govuk-body-l">
            Creating an implementation roadmap for future account features, based on findings from phase 1 and 2.</p>
        <p class="govuk-body-l"> Collaborating with other teams across the programme to share our knowledge and insights, while making suggestions for the next steps.
        </p>
    </div>
</div>
{% endblock %}

{% block menu %}
<h2 class="govuk-heading-l govuk-!-padding-top-8">Objectives</h2>
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8 govuk-!-padding-top-4">
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Provide actionable design, data and technical recommendations to the relevant teams required to deliver prioritised features.</li>
        <li>Allow future teams to pick up the work with recommended next steps linked to clear user-led evidence.</li>
    </ul>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8 govuk-!-padding-top-4">
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Recommend options for implementing prioritised features informed by research, design and tech findings. </li>
        <li>Provide the programme with an understanding of where process gaps exist and what steps will need to be taken in order to implement prioritised features, including any legal, cultural and governance challenges.</li>
    </ul>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8 govuk-!-padding-top-4">
    <p>Collaborate with teams to ensure outputs are targeted, digestible and ready to handover to the teams likely to implement the features.</p>
</div>
<div class="govuk-grid-column-full govuk-!-padding-bottom-8 govuk-!-padding-top-4">

    <details class="govuk-details  govuk-!-padding-top-8" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                What's not in the Phase 3 scope
            </span>
        </summary>
        <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Strategies for onboarding services - the roadmap for onboarding services to cross government features is complicated and best sits within the accounts/onboarding team. X-Gov Services sits within the account rather than being a separate product.
                    Research with services or end users
                </li>
                <li>Research with services or end users
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>services have a lack of readiness to engage in technical conversations
                        </li>
                        <li>avoiding duplication - phase 2 research generated a lot of insights from end users and services, which are not fully incorporated into the hub
                        </li>
                        <li>avoiding duplication - phase 2 research generated a lot of insights from end users and services, which are not fully incorporated into the hub
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </details>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}
