{% extends "layout_handover.html" %}
{% if pagemenu %}
{% block menu %}
<div class="govuk-grid-row govuk-!-padding-bottom-8 govuk-!-padding-top-8 govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-full">

        <h4 class="govuk-heading-m">Phase 1</h4>

    </div>
    <div class="govuk-grid-column-one-quarter">

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0" style="font-size: 11px;">Testing complete</strong>

        <p class="govuk-hint govuk-!-margin-top-1"><small>31-Aug-2021 to 02-Sep-2021</small></p>

        <a href="../round-1/"><button class="govuk-button">View round 1</button></a>

    </div>
    <div class="govuk-grid-column-one-quarter">

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0" style="font-size: 11px;">Testing complete</strong>

        <p class="govuk-hint govuk-!-margin-top-1"><small>07-Sep-2021 to 09-Sep-2021</small></p>

        <a href="../round-2/"><button class="govuk-button">View round 2</button></a>

    </div>
    <div class="govuk-grid-column-one-quarter">

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0" style="font-size: 11px;">Testing complete</strong>

        <p class="govuk-hint govuk-!-margin-top-1"><small>14-Sep-2021 - 17-Sep-2021</small></p>

        <a href="../round-3/"><button class="govuk-button">View round 3</button></a>

    </div>

    <div class="govuk-grid-column-full govuk-!-padding-top-8">

        <br />

        <h4 class="govuk-heading-m">Phase 2</h4>

    </div>

    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-2">

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0" style="font-size: 11px;">Testing complete</strong>

        <p class="govuk-hint govuk-!-margin-top-1"><small>26-Oct-2021 to 27-Oct-2021</small></p>

        <a href="../phase-2-round-1/"><button class="govuk-button">View round 1</button></a>

    </div>

    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-2">

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0" style="font-size: 11px;">Testing complete</strong>

        <p class="govuk-hint govuk-!-margin-top-1"><small>04-Nov-2021 to 05-Nov-2021</small></p>

        <a href="../phase-2-round-2/"><button class="govuk-button">View round 2</button></a>

    </div>

    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-2">

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0" style="font-size: 11px;">Testing complete</strong>

        <p class="govuk-hint govuk-!-margin-top-1"><small>25-Nov-2021 to 26-Nov-2021</small></p>

        <a href="../phase-2-round-3/"><button class="govuk-button">View round 3</button></a>

    </div>

    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-2">

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0" style="font-size: 11px;">Testing complete</strong>

        <p class="govuk-hint govuk-!-margin-top-1"><small>02-Dec-2021 to 03-Dec-2021</small></p>

        <a href="../phase-2-round-4/"><button class="govuk-button">View round 4</button></a>

    </div>

    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-2">

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0" style="font-size: 11px;">Testing complete</strong>

        <p class="govuk-hint govuk-!-margin-top-1"><small>08-Dec-2021 to 09-Dec-2021</small></p>

        <a href="../phase-2-round-5/"><button class="govuk-button">View round 5</button></a>

    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}


{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}
