    {% if "01" in relatedfeatures %}

    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[1].fid }}">{{ data['features']['01'] }}</a> </h3>
            <p>Both '{{ data['features']['01'] }}' and '{{ data['features']['02'] }}' fall under the suggestions feature toggle.</p>
        </div>
    </div>


    {% else %}
    {% endif %}

    {% if "02" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[2].fid }}">{{ data['features']['02'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "03" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[3].fid }}">{{ data['features']['03'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "04" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[4].fid }}">{{ data['features']['04'] }}</a> </h3>
            <p>{{ data['features']['02'] }} may be presented within personalised content pages, as well as within the account area.</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "05" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[5].fid }}">{{ data['features']['05'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "06" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[6].fid }}">{{ data['features']['06'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "07" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[7].fid }}">{{ data['features']['07'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "08" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[8].fid }}">{{ data['features']['08'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "09" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[9].fid }}">{{ data['features']['09'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "10" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[10].fid }}">{{ data['features']['10'] }}</a> </h3>
            <p>Suggestions' will need a global control toggle within the account area.</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "11" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[11].fid }}">{{ data['features']['11'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "12" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[12].fid }}">{{ data['features']['12'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "13" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[13].fid }}">{{ data['features']['13'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "14" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[14].fid }}">{{ data['features']['14'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "15" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[15].fid }}">{{ data['features']['15'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "16" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[16].fid }}">{{ data['features']['16'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "17" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[17].fid }}">{{ data['features']['17'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "18" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[18].fid }}">{{ data['features']['18'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "19" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[19].fid }}">{{ data['features']['19'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "20" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[20].fid }}">{{ data['features']['20'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "21" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[21].fid }}">{{ data['features']['21'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "22" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[22].fid }}">{{ data['features']['22'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "23" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[23].fid }}">{{ data['features']['23'] }}</a> </h3>
            <p>{{ data['features']['02'] }} may be presented as part of 'next steps' and sequential task lists, that also show overall progress through a series of tasks.</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "24" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[24].fid }}">{{ data['features']['24'] }}</a> </h3>
            <p>It is likely that new service recommendations, particularly if there are deadlines involved, will be part of the reminders feature.</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "25" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[25].fid }}">{{ data['features']['25'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "26" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[26].fid }}">{{ data['features']['26'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "27" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[27].fid }}">{{ data['features']['27'] }}</a> </h3>
            <p>Forecasting would look to present an overall impact assessment for a change in circumstances, such as new recommended
                services.</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "28" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[28].fid }}">{{ data['features']['28'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "29" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[29].fid }}">{{ data['features']['29'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "30" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[30].fid }}">{{ data['features']['30'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "31" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[31].fid }}">{{ data['features']['31'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "32" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[32].fid }}">{{ data['features']['32'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}

    {% if "33" in relatedfeatures %}
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s"><a href="{{ data.rdd.features[33].fid }}">{{ data['features']['33'] }}</a> </h3>
            <p>Relationship and dependencies explained here</p>
        </div>
    </div>
    {% else %}
    {% endif %}
