{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/round-3/create-account" method="POST">
            <h1 class="govuk-heading-xl">No GOV.UK Account found</h1>
            <p class="govuk-body">We could not find a GOV.UK Account using this email address.</p>
            <div class="govuk-inset-text">
                <p class="govuk-body">You may have other goverment accounts. such as Government Gateway or your personal tax account.</p>
                <p class="govuk-body">The GOV.UK Account is separate from these other government accounts.</p>
                <p class="govuk-body">You need to create a GOV.UK Account to save your progress, even if you have another government account. </p>
            </div>
            <button class="govuk-button" data-module="govuk-button">Create a GOV.UK Account</button>
            <input class="govuk-input" name="sign-in" type="hidden" value="create">
            <!-- Bypassing email entry with hidden input field that stores email-address variable -->
            <input class="govuk-input" name="email-address" type="hidden" value="{{ data['email-address'] }}">
            <div class="govuk-!-padding-bottom-1"></div>
            <a href="check-account-enter-email.html" class="govuk-link">Try another email address</a>
        </form>
    </div> <!-- /. govuk-grid-column-two-thirds -->
</div> <!-- /. govuk-grid-row -->

{% endblock %}
