{% if feature.fid === "01" %}
{% include "../../../features/includes/descriptions/01.html" %}
{% elif feature.fid === "02" %}
{% include "../../../features/includes/descriptions/02.html" %}
{% elif feature.fid === "03" %}
{% include "../../../features/includes/descriptions/03.html" %}
{% elif feature.fid === "04" %}
{% include "../../../features/includes/descriptions/04.html" %}
{% elif feature.fid === "05" %}
{% include "../../../features/includes/descriptions/05.html" %}
{% elif feature.fid === "06" %}
{% include "../../../features/includes/descriptions/06.html" %}
{% elif feature.fid === "07" %}
{% include "../../../features/includes/descriptions/07.html" %}
{% elif feature.fid === "08" %}
{% include "../../../features/includes/descriptions/08.html" %}
{% elif feature.fid === "09" %}
{% include "../../../features/includes/descriptions/09.html" %}
{% elif feature.fid === "10" %}
{% include "../../../features/includes/descriptions/10.html" %}
{% elif feature.fid === "11" %}
{% include "../../../features/includes/descriptions/11.html" %}
{% elif feature.fid === "12" %}
{% include "../../../features/includes/descriptions/12.html" %}
{% elif feature.fid === "13" %}
{% include "../../../features/includes/descriptions/13.html" %}
{% elif feature.fid === "14" %}
{% include "../../../features/includes/descriptions/14.html" %}
{% elif feature.fid === "15" %}
{% include "../../../features/includes/descriptions/15.html" %}
{% elif feature.fid === "16" %}
{% include "../../../features/includes/descriptions/16.html" %}
{% elif feature.fid === "17" %}
{% include "../../../features/includes/descriptions/17.html" %}
{% elif feature.fid === "18" %}
{% include "../../../features/includes/descriptions/18.html" %}
{% elif feature.fid === "19" %}
{% include "../../../features/includes/descriptions/19.html" %}
{% elif feature.fid === "20" %}
{% include "../../../features/includes/descriptions/20.html" %}
{% elif feature.fid === "21" %}
{% include "../../../features/includes/descriptions/21.html" %}
{% elif feature.fid === "22" %}
{% include "../../../features/includes/descriptions/22.html" %}
{% elif feature.fid === "23" %}
{% include "../../../features/includes/descriptions/23.html" %}
{% elif feature.fid === "24" %}
{% include "../../../features/includes/descriptions/24.html" %}
{% elif feature.fid === "25" %}
{% include "../../../features/includes/descriptions/25.html" %}
{% elif feature.fid === "26" %}
{% include "../../../features/includes/descriptions/26.html" %}
{% elif feature.fid === "27" %}
{% include "../../../features/includes/descriptions/27.html" %}
{% elif feature.fid === "28" %}
{% include "../../../features/includes/descriptions/28.html" %}
{% elif feature.fid === "29" %}
{% include "../../../features/includes/descriptions/29.html" %}
{% elif feature.fid === "30" %}
{% include "../../../features/includes/descriptions/30.html" %}
{% elif feature.fid === "31" %}
{% include "../../../features/includes/descriptions/31.html" %}
{% elif feature.fid === "32" %}
{% include "../../../features/includes/descriptions/32.html" %}
{% elif feature.fid === "33" %}
{% include "../../../features/includes/descriptions/33.html" %}
{% else %}
NO JOY
{% endif %}
