{% if "01" in userneeds %}
<a href="../user-research/user-needs" class="tag-link" title="View more on the identified user needs">
    <strong class="govuk-tag govuk-tag--turquoise">
        {{ data['needs']['needlabel1'] }}
    </strong>
</a>
<br /><br />
{% else %}
{% endif %}
{% if "02" in userneeds %}
<a href="../user-research/user-needs" class="tag-link" title="View more on the identified user needs">
    <strong class="govuk-tag govuk-tag--turquoise">
        {{ data['needs']['needlabel2'] }}
    </strong>
</a>
<br /><br />
{% else %}
{% endif %}
{% if "03" in userneeds %}
<a href="../user-research/user-needs" class="tag-link" title="View more on the identified user needs">
    <strong class="govuk-tag govuk-tag--turquoise">
        {{ data['needs']['needlabel3'] }}
    </strong>
</a>
<br /><br />
{% else %}
{% endif %}
{% if "04" in userneeds %}
<a href="../user-research/user-needs" class="tag-link" title="View more on the identified user needs">
    <strong class="govuk-tag govuk-tag--turquoise">
        {{ data['needs']['needlabel4'] }}
    </strong>
</a>
<br /><br />
{% else %}
{% endif %}
{% if "05" in userneeds %}
<a href="../user-research/user-needs" class="tag-link" title="View more on the identified user needs">
    <strong class="govuk-tag govuk-tag--turquoise">
        {{ data['needs']['needlabel5'] }}
    </strong>
</a>
<br /><br />
{% else %}
{% endif %}
{% if "06" in userneeds %}
<a href="../user-research/user-needs" class="tag-link" title="View more on the identified user needs">
    <strong class="govuk-tag govuk-tag--turquoise">
        {{ data['needs']['needlabel6'] }}
    </strong>
</a>
<br /><br />
{% else %}
{% endif %}
{% if "07" in userneeds %}
<a href="../user-research/user-needs" class="tag-link" title="View more on the identified user needs">
    <strong class="govuk-tag govuk-tag--turquoise">
        {{ data['needs']['needlabel7'] }}
    </strong>
</a>
<br /><br />
{% else %}
{% endif %}
{% if "08" in userneeds %}
<a href="../user-research/user-needs" class="tag-link" title="View more on the identified user needs">
    <strong class="govuk-tag govuk-tag--turquoise">
        {{ data['needs']['needlabel8'] }}
    </strong>
</a>
{% else %}
{% endif %}
{% if "09" in userneeds %}
<a href="../user-research/user-needs" class="tag-link" title="View more on the identified user needs">
    <strong class="govuk-tag govuk-tag--turquoise">
        {{ data['needs']['needlabel9'] }}
    </strong>
</a>
{% else %}
{% endif %}
