<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        {% if value === "5" %}
        <strong class="govuk-tag govuk-tag--green">
            Valuable
        </strong>
        {% elif value === "4" %}
        <strong class="govuk-tag govuk-tag">
            Somewhat valuable
        </strong>
        {% elif value === "3" %}
        <strong class="govuk-tag govuk-tag--blue">
            Indifferent
        </strong>
        {% elif value === "2" %}
        <strong class="govuk-tag govuk-tag--red">
            Not valuable
        </strong>
        {% elif value === "1" %}
        <strong class="govuk-tag govuk-tag--grey">
            Not tested
        </strong>
        {% else %}
        {% endif %}

    </div>

    <div class="govuk-grid-column-one-half">

        {% if confidenceservicevalue === "high" %}
        <strong class="govuk-tag govuk-tag--green">
            High confidence
        </strong>
        {% elif confidenceservicevalue === "med" %}
        <strong class="govuk-tag govuk-tag">
            Medium confidence
        </strong>
        {% elif confidenceservicevalue === "low" %}
        <strong class="govuk-tag govuk-tag--blue">
            Low confidence
        </strong>
        {% elif confidenceservicevalue === "none" %}
        <strong class="govuk-tag govuk-tag--grey">
            Not tested
        </strong>
        {% else %}
        {% endif %}

    </div>
</div>
