{% extends "layout_round-1.html" %}

{% block pageTitle %}
Universal Credit
{% endblock %}

{% set serviceName %}
Universal Credit
{% endset%}
{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}

<a href="../childcare-step-by-step" class="govuk-breadcrumbs__link govuk-back-link">Back</a>

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Do you consent to saving this data to your GOV.UK account?
        </h1>

        <p>You entered the following information into the Universal Credit application:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li class="">Your name</li>
            <li class="">Your childcare provider details</li>
            <li class="">Your childcare payment details</li>
        </ul>

        <br />

        <p><b>Do you want to save this information to your GOV.UK account, so you can use it for other government services?</b></p>

        <p>Any information you save can be used to fill in any forms or applications in the future, saving you time.</p>

        <br />

        <form action="/round-1/universal-credit/confirmation" method="POST">

            <!-- Radio Button Group -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <input id="universal-credit-started" name="universal-credit-status" value="completed" type="hidden">
                    <div class="govuk-radios">
                        <!-- Yes -->
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="partner-check-1" name="calculator-consent" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="partner-check-1">
                                Yes, I consent to saving my data to my account for reuse across GOV.UK
                            </label>
                        </div>
                        <!-- No -->
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="partner-check-2" name="calculator-consent" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="partner-check-2">
                                No, I do not consent to saving my data to my account for reuse across GOV.UK
                            </label>
                        </div>
                    </div> <!-- /. govuk-radios -->
                </fieldset> <!-- /. govuk-fieldset -->
            </div> <!-- /. form-group -->
            <button class="govuk-button" data-module="govuk-button">Continue</button>


        </form> <!-- /. form -->

    </div> <!-- /. govuk-grid-column-two-thirds -->

    <div class="govuk-grid-column-one-third">

    </div>

</div> <!-- /. govuk-grid-row -->

{% endblock %}
