{% extends "layout_round-1.html" %}

{% block pageTitle %}
Universal Credit - Are you in paid work?
{% endblock %}

{% set serviceName %}
Universal Credit
{% endset%}

{% block beforeContent %}
<a href="do-you-live-with-partner" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/round-1/employment-status-check" method="POST">
            <h1 class="govuk-heading-xl">What is your current work status?</h1>

            {% if data['signing'] == "yes" %}
            {% include "../forms/employment-status-signed-in.html" %}
            {% else %}
            {% include "../forms/employment-status-signed-out.html" %}
            {% endif %}

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form> <!-- /. form -->
        {% include "../includes/prepop-explain-details.html" %}
    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">

    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
