{% extends "layout_round-1.html" %}

{% block pageTitle %}
Universal Credit - prepopulate answers
{% endblock %}

{% set serviceName %}
Universal Credit
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Do you want to share information from your GOV.UK account?
        </h1>

        <p>The Universal Credit application requires the following information, which you already have saved in your GOV.UK account:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li class="">Your address</li>
            <li class="">Your date of birth</li>
            <li class="">Your child(ren)'s name and date of birth</li>
            <li class="">Your childcare costs</li>
            <li class="">If you live with a partner</li>
            <li class="">Your employment status</li>
            <li class="">Your average weekly hours worked</li>
            <li class="">Your average weekly pay</li>
        </ul>

        <br />

        <p>You’ll be asked to provide more information to complete your application, which can also be saved in your GOV.UK account for future use.</p>

        <br />

        <p><b>Do you want the above information to be filled out on your Universal Credit application?
            </b></p>


        <form action="/round-1/universal-credit/name" method="POST">

            <!-- Radio Button Group -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios">
                        <!-- Yes -->
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="partner-check-1" name="uc-reuse" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="partner-check-1">
                                Yes
                            </label>
                        </div>
                        <!-- No -->
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="partner-check-2" name="uc-reuse" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="partner-check-2">
                                No
                            </label>
                        </div>
                    </div> <!-- /. govuk-radios -->
                </fieldset> <!-- /. govuk-fieldset -->
            </div> <!-- /. form-group -->
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>

    </div> <!-- /. govuk-grid-column-two-thirds -->

    <div class="govuk-grid-column-one-third">

    </div>

</div> <!-- /. govuk-grid-row -->

{% endblock %}
