{% extends "layout_round-3.html" %}

{% block pageTitle %}
Replace your passport
{% endblock %}

{% set serviceName %}
Replace your passport
{% endset%}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Replace your passport - check your answers</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-sumary-list__row">
                <h2>About you</h2>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['full-name'] }}
                </dd>
                <dd class="govuk-summary-list__actions">

                    <a href="#">Change</a>

                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['date-of-birth-day'] %}
                    {{ data['date-of-birth-day'] }} -
                    {% else %}

                    {% endif %}
                    {% if data['date-of-birth-month'] %}
                    {{ data['date-of-birth-month'] }} -
                    {% else %}

                    {% endif %}
                    {% if data['date-of-birth-year'] %}
                    {{ data['date-of-birth-year'] }}
                    {% else %}

                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">

                    <a href="#">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['address-line-1'] %}
                    {{ data['address-line-1'] }} <br />
                    {% else %}
                    {% endif %}

                    {% if data['address-line-2'] %}
                    {{ data['address-line-2'] }} <br />
                    {% else %}
                    {% endif %}

                    {% if data['address-town'] %}
                    {{ data['address-town'] }} <br />
                    {% else %}
                    {% endif %}

                    {% if data['address-county'] %}
                    {{ data['address-county'] }} <br />
                    {% else %}
                    {% endif %}

                    {% if data['address-postcode'] %}
                    {{ data['address-postcode'] }} <br />
                    {% else %}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">

                    <a href="#">Change</a>

                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Contact details
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{ data['phone-number'] }}</p>
                    <p class="govuk-body">{{ data['email-address'] }}</p>
                </dd>
                <dd class="govuk-summary-list__actions">

                    <a href="#">Change</a>

                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Old passport details
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">Number: {{ data['passport-number'] }}</p>
                    <p class="govuk-body">Expires: {{ data['passport-expiry-day'] }}-{{ data['passport-expiry-month'] }}-{{ data['passport-expiry-year'] }}</p>

                </dd>
                <dd class="govuk-summary-list__actions">

                    <a href="#">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Gender
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{ data['gender'] }}</p>

                </dd>
                <dd class="govuk-summary-list__actions">

                    <a href="#">Change</a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Place of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{ data['town-of-birth'] }}</p>

                </dd>
                <dd class="govuk-summary-list__actions">

                    <a href="#">Change</a>

                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Passport photo
                </dt>
                <dd class="govuk-summary-list__value" style="vertical-align: top;">
                    <p class="govuk-body"><img src="../../public/images/queen.png"></p>

                </dd>
                <dd class="govuk-summary-list__actions">

                    <a href="#">Change</a>

                </dd>
            </div>
        </dl>
    </div>

</div>
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Now send your application</h2>

        <p>By submitting this application you’re confirming that, as far as you know, the details you’re providing are correct</p>

        <br />

        <form class="form" action="confirmation" method="post">

            <div class="govuk-form-group">

                <input class="govuk-input" id="appcomplete" name="passport" type="hidden" value="yes">


                <button class="govuk-button no-mar-bot" data-module="govuk-button">
                    Accept and send
                </button>

            </div>
        </form>

        <br />

    </div>
</div>

{% endblock %}
