{% extends "layout_round-3.html" %}

{% block pageTitle %}
Replace your passport
{% endblock %}

{% set serviceName %}
Replace your passport
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
<a href="new-passport-details" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/round-3/replace-your-passport/born-in-uk" method="POST">
            <h1 class="govuk-heading-xl">What is your gender?</h1>


            {% if data['signing'] == "yes" %}
            {% include "../forms/gender-signed-in.html" %}
            {% else %}
            {% include "../forms/gender-signed-out.html" %}
            {% endif %}

            <button class="govuk-button" data-module="govuk-button">Continue</button>


        </form> <!-- /. form -->

    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">
        {% include "round-3/includes/travel-abroad-side-panel-control.html" %}
    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
