{% extends "layout_round-3.html" %}

{% block pageTitle %}
Replace your passport
{% endblock %}

{% set serviceName %}
Replace your passport
{% endset%}


{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a href="contact-details" class="govuk-breadcrumbs__link">Back</a>
        </li>
    </ol>
</div>
<!-- {% include "../includes/childcare-step-by-step-breadcrumb.html" %} -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Signing a new passport</h1>

        <p>All passport holders aged 12 and older must sign the new passport when they receive it.</p>

        <form action="/round-3/replace-your-passport/check-your-answers" method="POST">
            {% if data['signing'] == "yes" %}
            {% include "../forms/sign-passport-signed-in.html" %}
            {% else %}
            {% include "../forms/sign-passport-signed-out.html" %}
            {% endif %}
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <div class="govuk-!-padding-bottom-1"></div>

        </form>
        <!-- /. form -->

    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">

    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
