{% extends "layout_handover_child.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-4">

    <p>As a team, we have taken a step towards a future state and designed for scenarios where the following are true: </p>
    <br />

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>All services are connected via a broker API</li>
        <li>All services use the GOV.UK account single sign-on</li>
        <li>The user needs to be signed in to the GOV.UK account for data/activity to be captured</li>

    </ul>

</div>
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">

    <h3 class="govuk-heading-m govuk-!-padding-top-8">Design assumptions</h3>

    <p>The GOV.UK account will be the biggest change to GOV.UK since its launch.</p>

    <p>Every page, department and service will be affected by the account and its features. This will create a set of new design challenges which will stretch the current <a href="https://design-system.service.gov.uk" target="_blank">design system</a>. New patterns and components will inevitably be required. </p>

    <p>For the most part, our prototyping has leveraged existing patterns, deviating only to serve the research and questions we were trying to answer. </p>

    <p>Detailed interaction design and iteration of new patterns weren't the priority of our research. We acknowledge that UI and content will be subject to change as this programme of work progresses. </p>

    <p><b>All prototypes and feature examples should be viewed with that in mind</b></p>

    <!--<div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Detailed interaction design and iteration of new patterns wasn’t the priority of our research. All prototypes and feature examples should be viewed with that in mind
        </strong>
    </div> -->

</div>
<div class="govuk-grid-column-one-third hide-on-mobile center govuk-!-padding-top-8">

    <img src="../../../public/images/research/design-illustration.svg" class="panel-image hide-on-mobile" alt="GOV UK design system">

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">

    <h3 class="govuk-heading-m govuk-!-padding-top-8">Life while having a baby</h3>

    <p>In phase 1, we focused on joining up services within a predictable, linear user journey. In reality, life is unpredictable. There are often many things to do at once, such as learning to drive because you’re expecting a baby.</p>

    <p>With this in mind, we decided the second phase would focus on cutting across multiple user journeys - allowing us to understand and test the complex scenarios and challenges of joining up services across government.
    </p>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Life event criteria
            </span>
        </summary>
        <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
                <li>A wide range of services and departments across government</li>
                <li>Includes users that are easy to reach for user research</li>
                <li>A diverse range of service users</li>
                <li>Service owners that are easy to access and engage with</li>
                <li>Has data that we’re able to access</li>
                <li>Supports the features we want to test</li>
                <li>Include a broad set of data</li>
                <li>Spans a couple of years in a person’s life</li>
            </ul>
        </div>
    </details>


</div>
<div class="govuk-grid-column-one-third hide-on-mobile govuk-!-padding-bottom-8">

    <img class="panel-image" src="../../../public/images/research/life-with-baby.svg" alt="Woman holding baby">

</div>
<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

    <p><b>Phase 1 journey</b></p>
    <a href="../../../public/images/research/phase-1-journey.png" target="_blank"><img class="panel-image shadow" src="../../../public/images/research/phase-1-journey.png" alt="Linear user journey flow diagram">
    </a>
    <p class="govuk-body-s">
        <br />
        <a href="../../../public/images/research/phase-1-journey.png" target="_blank">View larger version</a>
    </p>

</div>
<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

    <p><b>Phase 2 journey</b></p>
    <a href="../../../public/images/research/phase-2-journey.png" target="_blank"><img class="panel-image shadow" src="../../../public/images/research/phase-2-journey.png" alt="Tube map view of multiple user journeys">
    </a>
    <p class="govuk-body-s">
        <br />
        <a href="../../../public/images/research/phase-2-journey.png" target="_blank">View larger version</a>
    </p>

</div>
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-8">

    <h3 class="govuk-heading-m govuk-!-padding-top-8">Most visited step-by-step journeys</h3>

    <p>Our decision to design around this life event was further supported by Sam Dub’s work on <a href="https://live-stuff.herokuapp.com/document-types/step-by-step-nav" target="_blank"> step-by-step journeys</a></p>

    <p>Get Tax-Free Childcare is one of the most visited step-by-step journeys.</p>

    <p>By working within ‘childcare’ as a transaction or event, we believe we’re able to design a realistic scenario and recruit participants who have experience dealing with multiple government service journeys.</p>


</div>

<div class="govuk-grid-column-one-third hide-on-mobile center govuk-!-padding-top-8">

    <img src="../../../public/images/research/childcare-step-by-step.png" class="panel-image hide-on-mobile shadow" alt="GOV UK step-by-step page example">

</div>

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-one-third govuk-!-padding-bottom-4 govuk-!-padding-top-8">

    <h4 class="govuk-heading-m">Number of rounds</h4>

    <p class="govuk-body-l">
        8
    </p>

</div>
<div class="govuk-grid-column-one-third govuk-!-padding-bottom-4 govuk-!-padding-top-8">

    <h4 class="govuk-heading-m">Number of users</h4>

    <p class="govuk-body-l">
        52
    </p>

</div>
<div class="govuk-grid-column-one-third govuk-!-padding-bottom-4 govuk-!-padding-top-8">

    <h4 class="govuk-heading-m">Features tested</h4>

    <p class="govuk-body-l">
        23
    </p>

</div>
<div class="govuk-grid-column-full govuk-!-padding-bottom-2 govuk-!-padding-top-8">

    <h3 class="govuk-heading-m">3.1 Users</h3>

</div>
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">

            <h4 class="govuk-heading-s">Recruitment</h4>

            <p>We worked with user research recruitment agency, <a href="https://www.simpleusability.com" target="_blank"> Simple Usability</a>, in order to recruit participants for our research. They provided a diverse range of participants as requested and we were happy with their way of working throughout the project.
            </p>

        </div>


        <div class="govuk-grid-column-one-half">

            <h4 class="govuk-heading-s">Participant profile</h4>

            <p>Universal Credit claimants who have child(ren) and are in receipt of Child Benefits and/or the childcare element of Universal Credit.</p>
            <p>We recruited for this demographic so the context and scenarios presented in research were familiar and relatable.
            </p>

        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-top-8">
            <h4 class="govuk-heading-s">Demographic split</h4>

            <p>Mix of gender, age, ethnicity, religion, geographical location within England and digital confidence.</p>

            <p><a href="https://docs.google.com/spreadsheets/d/1jgAuyzB1OGeMxJYYmxi4LbRDQNxqdF96s0Vfcuu9rrI/edit?usp=sharing" target="_blank">View the full breakdown of users (external Google sheet)</a> </p>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-top-8">
            <h4 class="govuk-heading-s">Accessibility</h4>

            <p>We spoke to a sample of participants who identified as having cognitive needs such as dyslexia, dyspraxia, learning difficulties. </p>
            <p>The sample also included users with mental health conditions and mobility issues.</p>
            <p>As the project is in proof of concept, this research did not focus on assistive technology testing.
            </p>
        </div>

    </div>

</div>

<div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-padding-top-8 govuk-!-padding-bottom-2">
            <h3 class="govuk-heading-m">3.2 Assets</h3>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-8">
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">
            <h4 class="govuk-heading-s">Prototypes</h4>

            <p>We worked together as a team to create scenarios for testing, and created <a href="../prototypes/">prototypes</a> which covered 23 out of <a href="../features/" target="_blank">31 features</a> within phase 2.</p>
            <p>These were a combination of continued/iterated features from phase 1, as well as some new features. </p>
            <br />
            <h4 class="govuk-heading-s">Devices</h4>

            <p>Whilst this testing was not solely focused on usability, we did run sessions with a mix of smartphone, tablet, and desktop users. </p>
        </div>
        <div class="govuk-grid-column-one-half center hide-on-mobile">
            <img src="../../../public/images/research/devices.svg" class="panel-image hide-on-mobile" style="max-width: 75%;" alt="A laptop, tablet and phone">
        </div>
    </div>
</div>

<div class="govuk-grid-column-full">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-padding-top-8 govuk-!-padding-bottom-2">
            <h3 class="govuk-heading-m">3.3 Method</h3>
        </div>
    </div>

</div>

<div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-2">

            <h4 class="govuk-heading-s">Exploring the concept</h4>

        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

            <p>Research within this programme has been going for some time, with a <a href="https://docs.google.com/presentation/d/1r7Rq563dsahkepnyhRkfWOd9t-YnBDqK2YJj8Lc-IS4/edit#slide=id.g8ae8b29489_0_55" target="_blank">GOV.UK accounts discovery</a> taking place in 2019.</p>
            <p>In order to build on that work, our initial brief looked at testing the role of GOV.UK accounts within cross government journeys.</p>
            <p>The primary focus of our citizen research was on feature concept exploration.</p>


        </div>
        <div class="govuk-grid-column-one-half center hide-on-mobile">
            <img src="../../../public/images/research/remote-testing.svg" class="panel-image hide-on-mobile" style="max-width: 55%;" alt="Remote user testing">
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-2">

            <h4 class="govuk-heading-s">Remote prototype testing</h4>

        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

            <p>We used front end <a href="../prototypes/">prototypes</a> to walk users through example scenarios. This way, we were able to elicit discussions about their expectations and perceptions of the GOV.UK account, its role in cross government services and the various <a href="../features/">features</a>.</p>
            <p>In some sessions we asked participants to input information into form fields, insisting they used fictional information in the prototype.
            </p>

        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">



            <p>All research was conducted remotely due to the pandemic. We sent participants a link to the prototype which they accessed from their own device, then asked them to screen share.</p>
            <p> This means that we did not speak to any participants who were low on the digital competency scale, however we do not feel that that impacts the research findings. </p>

        </div>
    </div>
</div>

<!-- <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-top-4 govuk-!-padding-bottom-2">

            <h4 class="govuk-heading-s">Creating scenarios</h4>

        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

            <p>We worked together as a team to create scenarios for testing.</p>
            <p>Given that the work takes a step into the future, we acknowledge that the content and UI will be subject to change if and when the programme of work is delivered.</p>

        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

            <p>We used front end <a href="../prototypes/">prototypes</a> to walk users through example scenarios. This way, we were able to elicit discussions about their expectations and perceptions of the GOV.UK account, its role in cross government services and the various features.</p>

        </div>
    </div>
</div> -->


{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

            <p>Our user research gave us a sense of user expectations and comprehension around the various potential features within cross government journeys. </p>
            <p>We also gathered a range of user <a href="../user-research/insights.html">insights</a> relating to the programme more generally.</p>
            <p>We used the insights to collate <a href="../user-research/user-needs.html">user needs</a>, which helped support team conversations around impact, value risk and feasibility.</p>

        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

            <p>Although UI wasn’t the primary focus of our research, after several rounds of testing, we were able to gather some learnings around UI.</p>

            <!-- <p> The most notable example is the insights around a possible '<a href="../features/03.html">dashboard</a>', which should be designed with scalability in mind. In short, the dashboard should allow users to manage their data as different functions and states of data appear.</p> -->

            <p>We anticipate there will be a more detailed focus on this as the GOV.UK account features progress through to Beta and Live.</p>

            <p>
                We’ve also made a number of <a href="../recommendations/index.html">recommendations</a> on how to approach feature delivery in the future.
            </p>

        </div>
    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
