{% extends "layout_handover_menupage.html" %}

{% block menu %}
<!-- PAGE MENU -->
<div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-one-half">
        <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-bottom-4">
            <li><a href="../user-research/approach.html">{{ data['userresearchmenu'][0]['title'] }}</a>
                <!--   <ul class="govuk-list govuk-list--bullet">
                    {% for item in approachmenu %}
                    <li><a href="../user-research/approach.html#{{ item.anchor }}">{{ item.title }}</a></li>
                    {% else %}
                    {% endfor %}
                </ul> -->
            </li>
            <li><a href="../user-research/insights.html">{{ data['userresearchmenu'][1]['title'] }}</a>
            </li>

        </ol>
        <h2 class="govuk-heading-s grey">Appendix</h2>
        <ul class="govuk-list ">
            <li><a href="../user-research/user-needs.html">User needs</a> </li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-half hide-on-mobile">
        <img src="../../../public/images/research/remote-testing.svg" style="max-width: 95%;" alt="Remote user interview">
    </div>
</div>

<!-- VERTICAL SPACER 
<div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    </div>
</div> -->
{% endblock %}

{% block title %}
{{ super() }}
<!-- Subheading -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
        <p class="govuk-body-l">
            {{ data['objectives']['objective1'] }}
        </p>
    </div>
</div>
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
