{% extends "layout_handover_child.html" %}s

{% block title %}
{{ super() }}
{% endblock %}

{% block menu %}
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

            <p>A recurring piece of feedback was the usefulness of having <b>everything in one place</b>. </p>

            <p>Users also commented on:</p>

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Time saving </li>
                <li>A consistent, easy and efficient way of dealing with the government</li>
                <li>One login for everything</li>
            </ul>

            <p>Observing user reactions and analysing user comments such as these, enables us to define user needs. </p>


        </div>
        <div class="govuk-grid-column-one-half">


            <p>Through these comments alone we can <a href="user-needs.html#user-needs">identify a list of user needs</a>, such as:
            </p>

            <ul class="govuk-list govuk-list--spaced govuk-!-padding-top-6">
                <li> <strong class="govuk-tag govuk-tag--turquoise">Reduce the stress of paperwork and admin</strong> </li>
                <li> <strong class="govuk-tag govuk-tag--turquoise">Save time </strong></li>
                <li> <strong class="govuk-tag govuk-tag--turquoise">Avoid phoning the service </strong></li>
                <li> <strong class="govuk-tag govuk-tag--turquoise">Reduce cognitive load</strong> </li>
                <li> <strong class="govuk-tag govuk-tag--turquoise">Find what I need easily </strong></li>
            </ul>
        </div>
    </div>

    <div class="govuk-grid-row  govuk-!-padding-bottom-4 govuk-!-padding-top-4">

        <details class="govuk-details example" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text example-header">
                    {{ data['example'] }}
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-grid-row govuk-!-padding-bottom-4 govuk-!-padding-top-4">

                    <div class="govuk-grid-column-one-half">

                        <h4 class="govuk-heading-s">User summarises the GOV.UK account in their own words </h4>

                        <audio controls>
                            <source src="../../../public/mp3/end-users/insight-1.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>

                        <br />
                        <p class="govuk-body-s">
                            A participant from <a href="../phase-2-round-4/"> phase 2, round 4</a>
                        </p>

                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    View transcript
                                </span>
                            </summary>
                            <div class="govuk-details__text">

                                <blockquote>
                                    <p class="govuk-body-s">
                                        For me, the .GOV UK account in the future will be a place where you can actually first of all prioritise and it’s more personalised to you as an individual and actually that it’s gonna become a bit easier to share information with services and individuals that need that information sharing with them...</p>
                                    <p class="govuk-body-s"> but also it’s a place where your identity can be proven and it’s almost all in one place rather than having to go to lots of different websites although you’ll still have to go to those websites because of the sharing agreements that are in place, it’s all gonna be in one place and it’s gonna be easier to manage and control. </p>


                                </blockquote>
                            </div>
                        </details>

                    </div>

                    <div class="govuk-grid-column-one-half">

                        <h4 class="govuk-heading-s">User discusses the pros and cons of x-gov transactions within the GOV.UK account </h4>

                        <audio controls>
                            <source src="../../../public/mp3/end-users/insight-1-2.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>

                        <br />
                        <p class="govuk-body-s">
                            <a href="../phase-2-round-5/">Phase 2, round 4</a> participant 5
                        </p>

                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    View transcript
                                </span>
                            </summary>
                            <div class="govuk-details__text">

                                <blockquote>
                                    <p class="govuk-body-s">
                                        The pros are that it’s all in one place and I’m not gonna have to go searching through different parts of websites remembering lots of different login details because sometimes you’ll have one login details for this, another one for that and it is a lot to remember. Maybe some of the cons - I mean some people might see it as this is the government’s back way of spying on us all and seeing you know I’m not one of those people but I can see some people would say well why do they need all this data this is my data sort of thing what are they actually using it for and I could see that that could be a downside to it but for me the positives are that I’m able to share that data all in one place and it’s easily managed as well. And I’ve still got control of how much of that is shared as well. </p>
                                </blockquote>
                            </div>
                        </details>



                    </div>

                </div>

                <div class="govuk-grid-row govuk-!-padding-top-8">

                    <div class="govuk-grid-column-one-half">

                        <h4 class="govuk-heading-s">User suggests that government services should be under one ‘hub’ </h4>

                        <audio controls>
                            <source src="../../../public/mp3/end-users/insight-1-3.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>

                        <br />
                        <p class="govuk-body-s">
                            Participant from <a href="../round-2/"> phase 1, round 2</a>
                        </p>

                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    View transcript
                                </span>
                            </summary>
                            <div class="govuk-details__text">

                                <blockquote>
                                    <p class="govuk-body-s">
                                        Don’t know, like I said just put everything under there in relation to benefits, childcare, but not just childcare, even child benefit, yeah UC, tax credit. If you could put it all under one thing. Because the thing is, you ring one person and then you’re passed to another place then your passed to another place, ‘oh we can’t help you at Universal Credit, you have to ring HMRC’, well you’re one in the bloody same to me, you know so, why can’t they just be like that anyway, you know and just have one hub kind of thing that deals with everything? I don’t know, maybe it’s a pipe dream or maybe this is what’s really going to happen now</p>
                                </blockquote>
                            </div>
                        </details>

                    </div>

                    <div class="govuk-grid-column-one-half">

                        <h4 class="govuk-heading-s">User reaction to GOV.UK account concept and verified data </h4>

                        <audio controls>
                            <source src="../../../public/mp3/end-users/insight-1-4.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>

                        <br />
                        <p class="govuk-body-s">
                            Participant from <a href="../phase-2-round-1/"> phase 2, round 1</a>
                        </p>

                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    View transcript
                                </span>
                            </summary>
                            <div class="govuk-details__text">

                                <blockquote>
                                    <p class="govuk-body-s">
                                        It's really straight forward, like it’s really straight forward. And because it’s all, ok so for me when I did my Universal claim, it was a bit long winded, so this because a lot of my information has been verified through the GOV.UK website anyway, it just makes it easier and probably a bit quicker to get through because certain details have already been verified. So you can see everything in one place. It just looks a lot easier, honestly</p>


                                </blockquote>
                            </div>
                        </details>

                    </div>

                </div>
            </div>
        </details>

    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">

            <p>Generally speaking, users reacted positively to the concept of the GOV.UK account as part of a x-gov transaction, however, there were various comments around its usefulness being dependent on whether or not there was a genuine reason to use it. </p>

            <p>Comments in user research highlighted the fact that throughout certain periods of life (i.e. <a href="../user-research/approach.html#life-event"> childcare</a>) the likelihood of interacting with government services is much higher.</p>

            <p>For some, depending on lifestyle, the regularity of interactions with the government is much lower. Some users clearly articulated that they would find the account useful ‘now’ (during childcare) whereas otherwise they may not see the point. </p>

        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

            <p>Further work around profile raising and adoption of the account will likely be needed in the future to understand how best to compel users to create an account and engage with its features. </p>

            <p>There will be some data sceptics within the future audience who will be unlikely to save data to a GOV.UK account. This project does not seek to quantify or predict this potential segment. </p>

        </div>

    </div>

    <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-6">

        <details class="govuk-details example" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text example-header">
                    {{ data['example'] }}
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-half">

                        <h4 class="govuk-heading-s">User discusses adoption and usefulness of the GOV.UK account as dependent on the point in their life</h4>

                        <audio controls>
                            <source src="../../../public/mp3/end-users/insight-2.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>

                        <br />
                        <p class="govuk-body-s">
                            Participant from <a href="../phase-2-round-3/"> phase 2 round 3 </a>
                        </p>

                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    View transcript
                                </span>
                            </summary>
                            <div class="govuk-details__text">

                                <blockquote>
                                    <p class="govuk-body-s">
                                        I am involved with the government at the moment, this would be really great because obviously, you know as he goes to school things change, you have to contact the government or your council or government websites. And so I am in contact with the government at this stage in my life, so this would be appropriate for me. Maybe two or three years ago I wouldn’t have used the government websites really, I mean for information randomly. But as I need to sign into my Universal Credit every month, there’s a repetitive kind of reason that I need to go into the gov website, so an account, a personalised account for me right now would be really useful.</p>


                                </blockquote>
                            </div>
                        </details>

                    </div>

                </div>
            </div>
        </details>
    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-full govuk-!-padding-top-4 govuk-!-padding-bottom-8">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">

            <p>Some believed the information entered into a GOV.UK account could be used for demographic analysis. </p>

        </div>
        <div class="govuk-grid-column-one-half">

            <p> A small number of research participants we spoke to, expressed concerns around surveillance.</p>

        </div>

    </div>
    <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-6">

        <details class="govuk-details example" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text example-header">
                    {{ data['example'] }}
                </span>
            </summary>
            <div class="govuk-details__text">
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-half">

                        <blockquote>
                            <p>
                                <i>
                                    This data would be used by the government for forecasting and demographics

                                </i>
                            </p>
                            <p>
                                from <a href="../round-1/"> phase 1, round 1</a>
                            </p>

                        </blockquote>

                    </div>

                    <div class="govuk-grid-column-one-half">

                        <blockquote>
                            <p>
                                <i>
                                    I would share information but not details about my children - it’s too personal, too ‘'Big Brother'

                                </i>
                            </p>
                            <p>
                                from <a href="../round-1/"> phase 1, round 1</a>
                            </p>

                        </blockquote>

                    </div>

                </div>
            </div>
        </details>



    </div>


</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row govuk-!-padding-top-4">

        <div class="govuk-grid-column-one-half">

            <p>Users also expected that if they entered data to a GOV.UK account, this data would be shared across all government services. This upholds findings from previous rounds of user research carried out by GOV.UK teams. </p>
            <p>As a team, we refer to this idea of data sharing as <a href="../features/08.html"> ‘global push’</a>. That is, if a user adds, amends or deletes data, it will automatically be updated, or ‘pushed’, across the account and relevant government services.</p>

        </div>
        <div class="govuk-grid-column-one-half">
            <p>The expectation that ‘global push’ occurs, was a recurring theme throughout our user research sessions, and one that presents a risk in terms of human impact due to the gap between that expectation and reality.</p>

            <p> If users engage in a transaction and believe that the data has been pushed and processed by all relevant services, when in reality that is not the case, the outcome could be detrimental - particularly in scenarios relating to benefits and eligibility.</p>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Future design should take user expectations into account
                </strong>
            </div>



        </div>

    </div>

    <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-6">

        <details class="govuk-details example" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text example-header">
                    {{ data['example'] }}
                </span>
            </summary>
            <div class="govuk-details__text">
                <p> We asked user research participants to explain their expectation around global push, and we heard answers such as:
                </p>
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-third">

                        <blockquote>
                            <p>
                                <i>
                                    Because I’m logged into the GOV.UK website
                                </i>
                            </p>

                        </blockquote>

                    </div>

                    <div class="govuk-grid-column-one-third">

                        <blockquote>
                            <p>
                                <i>
                                    Because it’s all within government

                                </i>
                            </p>

                        </blockquote>

                    </div>

                    <div class="govuk-grid-column-one-third">

                        <blockquote>
                            <p>
                                <i>
                                    Because digital things are connected
                                </i>
                            </p>

                        </blockquote>

                    </div>

                </div>
            </div>
        </details>

    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row govuk-!-padding-bottom-4">

        <div class="govuk-grid-column-one-half">

            <p>Not all users will want to save everything to their GOV.UK account.</p>
            <p>Users said that there were some data items they would not save - for example, details subject to change such as weekly pay, and their children’s personal data.
            </p>
            <p>Therefore, providing users with the choice to save at an individual data item level is preferable.
            </p>

        </div>

        <div class="govuk-grid-column-one-half">

            <p>Throughout user research, we explored a variety of design concepts which would provide users with easy and transparent ways of managing their data.

            </p>

            <p>We believe that providing users with ways to manage their data fosters confidence in the account and meets the following <a href="../user-research/user-needs.html"> user need</a>: </p>

            <p><strong class="govuk-tag govuk-tag--turquoise">
                    {{ data['needs']['needlabel7'] }}
                </strong></p>

        </div>

    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-4 govuk-!-padding-top-4">

        <div class="govuk-grid-column-full">

            <div class="govuk-grid-row govuk-!-padding-bottom-4">

                <details class="govuk-details example" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text example-header">
                            {{ data['example'] }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-half">

                                <h4 class="govuk-heading-s">A user explains why they wouldn’t save information that was subject to change </h4>

                                <audio controls>
                                    <source src="../../../public/mp3/end-users/insight-4-1.mp3" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>

                                <br />
                                <p class="govuk-body-s">
                                    Participant from phase 1 round 2
                                </p>

                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            View transcript
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">

                                        <blockquote>
                                            <p class="govuk-body-s">
                                                I’d probably save everything apart from childcare costs, average weekly hours worked, and your average weekly pay, but that’s only purely because I work different hours each week, I get paid different each week and my child costs are different each week. So for me, that would probably be what I’d do, just to make it a little bit easier when I come to it, instead of having to delete what’s already in there. But if I was in like a job where I get paid the same amount every week or every month and my hours didn’t change, then I’d be quite happy to save all my details on there for next time.</p>


                                        </blockquote>
                                    </div>
                                </details>

                            </div>

                            <div class="govuk-grid-column-one-half">

                                <h4 class="govuk-heading-s">A user reacts positively to the choice to save at individual data item level</h4>

                                <audio controls>
                                    <source src="../../../public/mp3/end-users/insight-4-2.mp3" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>

                                <br />
                                <p class="govuk-body-s">
                                    Participant from phase 1 round 2
                                </p>

                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            View transcript
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">

                                        <blockquote>
                                            <p class="govuk-body-s">
                                                Quite a few sites that I’ve used before, they don’t give you the option, they just save everything. So, it’s quite good that they give you the option because, I mean, each person’s different; some people will be happy for all the information to be stored, some people wouldn’t want any information storing at all. So the fact that that actually gives you the option to save all of your information, or some of your information, or none at all, I think that’s quite good. Because it gives everybody the opportunity then, of their preferences.</p>


                                        </blockquote>
                                    </div>
                                </details>

                            </div>

                        </div>
                    </div>
                </details>



            </div>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        View features which allow users to control their data
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ul class="govuk-list  govuk-list--spaced govuk-!-padding-top-4 govuk-!-padding-bottom-4">
                        {% for i in range(1, featurestotal) -%}
                        {% if categories[i] === "control" %}
                        <li>
                            <a href="../features/{{ fids[i] }}">{{ names[i] }}</a>
                        </li>
                        {% endif %}
                        {%- endfor %}
                    </ul>
                </div>
            </details>

        </div>
    </div>


</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
<div class="govuk-grid-column-full">

    <div class="govuk-grid-row govuk-!-padding-bottom-8">

        <div class="govuk-grid-column-one-half">

            <p>When users see <a href="../features/04.html">content that has been curated</a> specifically to a person using data from the GOV.UK account, they expect it to be accurate. </p>

            <p>This is especially relevant for eligibility pages which detail the likelihood of eligibility and estimate amounts. For example, information on Universal Credit plus the childcare element calls out the most the user <i>could</i> receive.</p>

            <p> In user research we observed participants quickly scanning the page and assuming the amount they saw was an accurate calculation. </p>

        </div>

        <div class="govuk-grid-column-one-half center">

            <img src="../../../public/images/research/personalised.png" class="panel-image shadow" alt="A personalised version of the Universal Credit start page that suggests an up-to amount for payments">

            <p class="govuk-body-s">
                <br />
                From <a href="../round-2/">round 2</a>
            </p>

        </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-4">

        <div class="govuk-grid-column-full">

            <div class="govuk-grid-row govuk-!-padding-bottom-4">

                <details class="govuk-details example" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text example-header">
                            {{ data['example'] }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-half">

                                <blockquote>
                                    <p><i>It’s telling me the amount I’ll get and a link to go and apply as well.</i></p>
                                    <p>from <a href="../phase-2-round-1/"> phase 2, round 1</a></p>
                                </blockquote>

                            </div>

                            <div class="govuk-grid-column-one-half">

                                <blockquote>
                                    <p><i>I’m surprised by how accurate all of the information is.</i></p>
                                    <p>from <a href="../phase-2-round-5/"> phase 2, round 5</a></p>
                                </blockquote>

                            </div>

                        </div>
                    </div>
                </details>

            </div>

        </div>
    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">

            <ul class="govuk-list govuk-list--bullet">
                <li>hub</li>
                <li>umbrella</li>
                <li>one stop shop</li>
                <li>all under one roof</li>
            </ul>

            <p>Understanding users’ natural language can be used to inform content, and how the GOV.UK account is described. </p>

        </div>
        <div class="govuk-grid-column-one-third hide-on-mobile govuk-!-padding-bottom-4">

            <img src="../../../public/images/research/umbrella.svg" class="panel-image" alt="An umbrella">

        </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-4">

        <div class="govuk-grid-column-full">

            <div class="govuk-grid-row govuk-!-padding-bottom-4">

                <details class="govuk-details example" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text example-header">
                            {{ data['example'] }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-third">

                                <blockquote>
                                    <p>
                                        <i>I guess it’s just sort of a central hub where you can access all the GOV.UK services
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../phase-2-round-2/">phase 2, round 2</a>
                                    </p>

                                </blockquote>

                            </div>
                            <div class="govuk-grid-column-one-third">

                                <blockquote>
                                    <p>
                                        <i>It [the account] would fit my circumstances. Like an umbrella account.
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../round-2/">phase 1 round 2</a>
                                    </p>

                                </blockquote>

                            </div>
                            <div class="govuk-grid-column-one-third">

                                <blockquote>
                                    <p>
                                        <i>It keeps everything in one place, under like, one umbrella
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../round-3/">phase 1 round 3</a>
                                    </p>

                                </blockquote>

                            </div>

                        </div>
                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-third">

                                <blockquote>
                                    <p>
                                        <i>I mean thinking about myself, I would use something like this as I do use Universal Credit…it’s like a one stop shop if I need to update anything
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../round-1/">phase 1, round 1</a>
                                    </p>

                                </blockquote>

                            </div>
                            <div class="govuk-grid-column-one-third">

                                <blockquote>
                                    <p>
                                        <i>It helps you to apply for things in a personal way so you don’t need to fill details in again. It’s a one stop shop
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../phase-2-round-3/">phase 2 round 3</a>
                                    </p>

                                </blockquote>

                            </div>
                            <div class="govuk-grid-column-one-third">

                                <blockquote>
                                    <p>
                                        <i>It’s nifty really. It all needs to be under one roof.
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../round-2/">phase 1 round 2</a>
                                    </p>

                                </blockquote>

                            </div>

                        </div>
                    </div>
                </details>



            </div>

        </div>
    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-4">

            <p>As part of a cross-team exercise, we asked users about their perspective on data storage.</p>
            <p>As expected, the average citizen will not be able to articulate preferences around storage. They do, however, reference security.</p>

            <p> The reason for posing this question in research, is that there has been some discussion in the programme about the use of solid PODS.</p>
            <p>Whilst this work is now being owned by another team, we recommended that the following end user issues be considered:</p>
        </div>

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-4">


            <ol class="govuk-list govuk-list--number govuk-list--spaced">
                <li>Whether control and ownership over data is a positive thing for citizens - we recommend an impact assessment to better understand worst case scenarios. Whilst solid PODS would give users the choice over whether they own their data, we would argue that choice is not always a good thing. </li>
                <li>Whether PODS would entail any transfer of responsibility to users, and if so, what risks and concerns could that cause for citizen users. Can they realistically comprehend the complexities and consequences? </li>
                <li>Would any future transfer of responsibility go against the intrinsic user need of ‘reducing cognitive load’? </li>
                <li>Do PODS meet user needs?</li>
            </ol>

        </div>
    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[8] %}
{% block section9 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-2">

            <p>The theme of security was mentioned by users throughout the rounds of user research.</p>
            <p> Whilst many research participants we spoke to were trusting of the government, there was a concern around the data in their GOV.UK account being hacked and compromised. </p>


        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-2">

            <p>
                As mentioned in <a href="#insight-2"> insight 2</a> we acknowledge there are some data sceptics who will be unlikely to engage with the account. </p>
            <p>
                A secure service is one of the conditions which fosters willingness to save and use information within the GOV.UK account.
            </p>

        </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-4 govuk-!-padding-top-4">

        <div class="govuk-grid-column-full">

            <div class="govuk-grid-row govuk-!-padding-bottom-4">

                <details class="govuk-details example" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text example-header">
                            {{ data['example'] }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-third">

                                <blockquote>
                                    <p>
                                        <i>[The GOV.UK account] is positive in terms of saving time but there’s a lot in there if it gets compromised
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../round-1/">phase 1, round 1</a>
                                    </p>

                                </blockquote>

                            </div>
                            <div class="govuk-grid-column-one-third">

                                <blockquote>
                                    <p>
                                        <i>I worry about the data but you’ve just got to trust them. When I sign up it’s a contract between me and the government
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../round-1/">phase 1 round 1</a>
                                    </p>

                                </blockquote>

                            </div>
                            <div class="govuk-grid-column-one-third">

                                <blockquote>
                                    <p>
                                        <i>I would want to save all information. I’m quite happy as long as it’s secure. It’s the government website so the trust is there
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../round-3/">phase 1, round 3</a>
                                    </p>

                                </blockquote>

                            </div>

                        </div>
                        <div class="govuk-grid-row">


                            <div class="govuk-grid-column-one-third">

                                <blockquote>
                                    <p>
                                        <i>I would be happy to save data when using gov services
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../round-1/">phase 1 round 1</a>
                                    </p>

                                </blockquote>

                            </div>
                            <div class="govuk-grid-column-two-thirds">

                                <blockquote>
                                    <p>
                                        <i>There’s always going to be an issue with security, being hacked on my end or the GOV.UK end with details being leaked. But then they already have my details so I’ve already taken that risk anyway
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../phase-2-round-1/">phase 2 round 1</a>
                                    </p>

                                </blockquote>

                            </div>

                        </div>
                    </div>
                </details>



            </div>

        </div>
    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[9] %}
{% block section10 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-4">

            <p>We explored concepts which could be introduced in the future as a move to a more ‘proactive’ government.</p>

            <p>In <a href="../phase-2-round-2/"> phase 2, round 2</a>, we tested the concept of an automated recurring transaction relating to childcare, as well as the ability to <a href="../features/30.html">{{ data['features']['30'] }}</a> to the childcare provider.</p>

            <p> Automation in this way received conflicting reviews. Some users saw this as a useful, more accurate way of processing a transaction, however, others were concerned that an error in automation may result in an inaccurate transaction which may lead to an issue with a benefit payment. </p>



        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-bottom-4">

            <p>A note on our team experience of user research is relevant here - the participants we spoke to in round 2 served as an important reminder that we work with people with complex lives. </p>
            <p>Although automation may be part of future roadmap or strategy, it should be carefully managed so that users do not incur errors which could impact their lives. </p>

            <p>Automation could help, but could also compromise these user needs:
            </p>

            <ul class="govuk-list govuk-list--spaced">
                <li> <strong class="govuk-tag govuk-tag--turquoise">
                        {{ data['needs']['needlabel1'] }}
                    </strong></li>
                <li> <strong class="govuk-tag govuk-tag--turquoise">
                        {{ data['needs']['needlabel7'] }}
                    </strong></li>

            </ul>

        </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-4 govuk-!-padding-top-4">

        <div class="govuk-grid-column-full">

            <div class="govuk-grid-row govuk-!-padding-bottom-4">

                <details class="govuk-details example" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text example-header">
                            {{ data['example'] }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-half">

                                <blockquote>
                                    <p>
                                        <i>This would be a good idea - it would mean I wouldn’t have to do it again.
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../phase-2-round-2/">phase 2 round 2</a>
                                    </p>

                                </blockquote>

                            </div>
                            <div class="govuk-grid-column-one-half">

                                <blockquote>
                                    <p>
                                        <i>It’s definitely a pro because I’m really forgetful - I’ve got a lot to do. It's one less thing, it’s perfect
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../phase-2-round-2/">phase 2 round 2</a>
                                    </p>
                                </blockquote>

                            </div>
                        </div>
                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-half">
                                <blockquote>
                                    <p>
                                        <i>There could be a change and because you have it automatically updated, you don’t change it in time and it could mess up your claim
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../phase-2-round-2/">phase 2 round 2</a>
                                    </p>
                                </blockquote>

                            </div>
                            <div class="govuk-grid-column-one-half">

                                <blockquote>
                                    <p>
                                        <i>What if there’s a system error or malfunction?
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../phase-2-round-2/">phase 2 round 2</a>
                                    </p>
                                </blockquote>

                            </div>

                        </div>

                        <!-- <div class="govuk-grid-row govuk-!-padding-top-2">

                            <div class="govuk-grid-column-full">

                                <h3 class="govuk-heading-s">Examples in prototypes </h3>

                                <p><a href="../round-3/"> Phase 1 round 3</a> was full pre-fill of replace passport </p>
                                <p><a href="../phase-2-round-3/"> Phase 2 round 3</a> was auto reapply for the childcare service</p>

                            </div>

                        </div> -->

                    </div>
                </details>



            </div>

        </div>
    </div>

</div>

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[10] %}
{% block section11 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">


    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            <p>Users expect to be able to contact GOV.UK accounts if they experience issues or need help. </p>

        </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-bottom-4 govuk-!-padding-top-4">

        <div class="govuk-grid-column-full">

            <div class="govuk-grid-row govuk-!-padding-bottom-4">

                <details class="govuk-details example" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text example-header">
                            {{ data['example'] }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-half">

                                <blockquote>
                                    <p>
                                        <i>If the form doesn’t have the option…I’d have to email them
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../round-1/">phase 1 round 1</a>
                                    </p>
                                </blockquote>

                            </div>
                            <div class="govuk-grid-column-one-half">

                                <blockquote>
                                    <p>
                                        <i>Is there a help section for people with this account - like live chat?
                                        </i>
                                    </p>
                                    <p class="govuk-body-s">
                                        Participant from <a href="../round-1/">phase 1 round 1</a>
                                    </p>

                                </blockquote>

                            </div>
                        </div>

                    </div>
                </details>



            </div>

        </div>
    </div>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[11] %}
{% block section12 %}
{% endblock %}
{% else %}
{% endif %}
