{% extends "layout_handover_child.html" %}s

{% block title %}
{{ super() }}
{% endblock %}

{% block menu %}
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <p>A recurring piece of feedback was the usefulness of having everything in one place. </p>

    <p>Users also commented on:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>Time saving </li>
        <li>A consistent, easy and efficient way of dealing with the government</li>
        <li>One login for everything</li>
    </ul>

    <p><i>N.B. we were testing a concept that we had designed for user research, the GOV.UK account does not exist with such a full range of functionality in real life. </i></p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">

    <p>Generally speaking, users reacted positively to the concept of the GOV.UK account as part of a x-gov transaction, however, there were various comments around its usefulness being dependent on whether or not there was a genuine reason to use it. </p>

    <p>Comments in user research highlighted the fact that throughout certain periods of life (i.e. childcare) the likelihood of interacting with government services is much higher.</p>

    <p>For some, depending on lifestyle, the regularity of interactions with the government is much lower. Some users clearly articulated that they would find the account useful ‘now’ (during childcare) whereas otherwise they may not see the point. </p>

    <p>Further work around profile raising and adoption of the account will likely be needed in the future to understand how best to compel users to create an account and engage with its features. </p>

    <p>There will be some data sceptics within the future audience who will be unlikely to save data to a GOV.UK account. This project does not seek to quantify or predict this potential segment. </p>

</div>
<div class="govuk-grid-column-one-third">

    <img src="../../../public/images/research/feature.png" class="panel-image hide-on-mobile">

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">

    <p>Some users commented that they thought the information would be used for demographic analysis </p>

    <p>A small number of users were concerned about the data that the government was gathering about them, with a concern that it would be used against them one day. </p>

    <p><i>(this relates to transparency and consistency - tell the user how and why their data is being used)</i>. </p>


</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">

    <p>Where we covered this in concept testing: </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>In our user research scenario: (see page x)
            <ul class="govuk-list govuk-list--bullet">
                <li>we asked users to consent to save individual items of data to their GOV.UK account</li>
                <li>We then asked users to consent before this was used in a transactional form</li>
                <li>Users reacted positively to this level of management</li>
            </ul>
        </li>
        <li>We also iterated on the dashboard options for the management of data (see page x) </li>
        <li>We iterated on ideas around audit trail (see page x) which were also well received </li>
        <li>We indicated at a page and paragraph level where data was being used for curated content and personalisation (see page x) </li>
        <li>We explored options around global controls in a ‘settings’ area of the account (see page x)</li>
    </ul>

    <p class="comment">@jon to link to screengrabs or example prototype snippets from this list</p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[8] %}
{% block section9 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[9] %}
{% block section10 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[10] %}
{% block section11 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[11] %}
{% block section12 %}
{% endblock %}
{% else %}
{% endif %}
