{% extends "layout_handover_child.html" %}s

{% block title %}
{{ super() }}
<!-- Subheading -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
        <p class="comment"><i>[a sentence to explain that these are general guidance principles for <b>how to approach future user-facing feature development</b>]</i></p>
    </div>
</div>
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-8">

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Always prioritise ensuring the user’s <b>expectations</b> and the capability of the feature are aligned
            <ul class="govuk-list govuk-list--bullet">
                <li>Clearly describe what the feature <b>does</b> and what it <b>does not</b> enable</li>
                <li>Ensure your feature and content does not create new unmet expectations for <b>related features</b>
                    <ul class="govuk-list govuk-list--bullet">
                        <li class="comment"><i>[<b>give examples</b> - specific to research sessions]</i></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>Ensure the user can see <b>why</b> something is happening (e.g. be specific about how a page is being personalised, or why a service is being suggested)</li>
        <li>Be clear about <b>impact</b> to the user - some features could lead to both user-perceived positive and negative outcomes (e.g. a new entitlement versus a benefit being turned off)</li>
        <li>Ensure the user can review <b>what</b> has happened and when</li>
        <li>Be clear about <b>responsibilities</b> - as the account becomes feature rich, it may allude to a shift in responsibilities away from the user</li>
    </ul>

</div>
<div class="govuk-grid-column-one-third">

    <img src="../../../public/images/research/feature.png" class="panel-image hide-on-mobile">

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-8">

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Ensure the feature gives the user control and seeks their <b>permission</b></li>
        <li>Most of all, users need to retain control of:</li>
        <ul class="govuk-list govuk-list--bullet">
            <li>Their <b>data</b> - nothing should go in or out of the account without permission and notification</li>
            <li>The <b>use</b> of data - all features must be user controllable</li>
            <li>Who gets to <b>see</b> their data - e.g. for the information passed to services, users must always control the final ‘GO’ step
            </li>
        </ul>
    </ul>

</div>
<div class="govuk-grid-column-one-third">

    <img src="../../../public/images/research/feature2.jpeg" class="panel-image hide-on-mobile">

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-8">

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Consider how a feature will <b>scale</b> when the account (and data within it) gets very large</li>
        <ul class="govuk-list govuk-list--bullet">
            <li>How will the UI tolerate this?</li>
            <li>Will the UI still be clear and simple to use?</li>
        </ul>
        <li>Be aware of <b>tipping points</b> when using the UI could become more overhead than the efficiency and/or accuracy goals they are supporting</li>
    </ul>

</div>
<div class="govuk-grid-column-one-third">

    <img src="../../../public/images/research/feature3.png" class="panel-image hide-on-mobile">

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-8">

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Consider what a service needs to do to support this feature:
            <ul class="govuk-list govuk-list--bullet">
                <li>Technically</li>
                <li>Culturally</li>
                <li>Financially</li>
                <li>Legally</li>
            </ul>
        </li>
        <li>Understand the services current and aspirational processes
            <ul class="govuk-list govuk-list--bullet">
                <li>What are the impacts on their current processes</li>
                <li>Does the feature enable or move towards the aspirational processes</li>
                <li>What other ‘go to’ processes become possible</li>
            </ul>
        </li>
    </ul>

    <p class="comment"><i><b>[Check with @Amy re this bit]</b></i></p>

</div>
<div class="govuk-grid-column-one-third">

    <img src="../../../public/images/research/feature.png" class="panel-image hide-on-mobile">

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-8">

    <ul class="govuk-list govuk-list--bullet">
        <li>As described in our <a href="../user-research/approach.html">approach to user needs</a>, our user needs have been collated as an output of our rounds of research with universal credit claimants. We recommend continued learning in relation to other types of service users and their needs. </li>
        <li>Understand how GOV.UK account features would impact user needs, either positively or adversely. </li>
        <li>Employ tech solutions which truly meet user needs.</li>
    </ul>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-8">

    <p>Understand how users would interact with a feature through observation and discussion.</p>

    <p>An example of this is our work around a place to <a href="../features/18">upload documents</a>.</p>

    <p>User research participants envisaged that they may use this as a space to upload previous address documents, letters with reference numbers, etc. </p>

    <p>Consider how the feature should be best used and designed with clarity [see <a href="#recommendation-1">point 1</a>]</p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-8">

    <p>Concerns around privacy and security was a clear theme coming through in our user insights. In direct echo of service standard 9 - provide a secure service. </p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-8">

    <p>Users’ natural language and their descriptions of the GOV.UK account may help with profile, branding, and content.</p>

</div>
{% endblock %}
{% else %}
{% endif %}
