{% extends "layout_handover_child.html" %}s

{% block title %}
{{ super() }}
<!-- Subheading -->
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

    <p class="govuk-body-l">


        We conducted user research with citizens to understand the perceived benefits and drawbacks of the GOV.UK account within joined up government transactions.
    </p>

</div>
<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8 center hide-on-mobile">
    <img src="../../../public/images/research/features.svg" class="panel-image hide-on-mobile" style="max-width: 55%;">

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <p>In order to explore this concept we created a variety of scenarios around the <a href="../user-research/approach#life-event">life event of ‘Life while having a baby’</a>.</p>

    <p>We used front end <a href="../prototypes/">prototypes</a> with user research participants, primarily to elicit discussions around the concept and the <a href="../features/">features</a> presented.</p>

    <p>We were not focussing on usability testing, we anticipate that will follow at a future point in the programme of work. </p>

    <p>We spoke to <b>52</b> user research participants over the course of 9 rounds of research from August 2021 - December 2021. </p>

    <br />

    <p><a href="../user-research/approach">Read about our approach in more detail</a></p>

</div>
<div class="govuk-grid-column-one-third govuk-!-padding-bottom-8 center hide-on-mobile">

    <img src="../../../public/images/research/features.svg" class="panel-image hide-on-mobile" style="max-width: 55%;">

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <p>For the majority of participants we engaged with, the concept of the GOV.UK account within joined up transactions across government was well received. </p>

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-top-8 govuk-!-padding-bottom-8">
        <li class="govuk-!-padding-bottom-2">Users identified the benefits of the concept of the GOV.UK account within cross gov transactions as:
            <ul class="govuk-list govuk-list--bullet govuk-!-padding-top-2">
                <li>Everything in one place </li>
                <li>Time saving </li>
                <li>A consistent, easy and efficient way of dealing with the government</li>
                <li>One login for everything</li>
            </ul>
        </li>
        <li class="govuk-!-padding-bottom-2">Not everyone will perceive the GOV.UK account as valuable or useful
            <ul class="govuk-list govuk-list--bullet govuk-!-padding-top-2">
                <li>Some users questioned its usefulness and commented they would only use it if there was a clear reason for doing so </li>
                <li>Some users are sceptical about entering data into an online service.</li>
            </ul>
        </li>
        <p class="govuk-!-padding-bottom-2 govuk-body-s"><i>N.B.</i> This work did not seek to predict or quantify the segment of the future audience who would be pro / con GOV.UK accounts. It would not be good practice to do so since this work is still hypothetical.</p>

        <li class="govuk-!-padding-bottom-2">Users want to be clear on how their data is being used. </li>
        <li class="govuk-!-padding-bottom-2">User controls and functions for the management of their personal data were received positively in user research. </li>
        <li class="govuk-!-padding-bottom-2">Users expect their data to be processed [if they enter it into a GOV.UK account] </li>
        <li class="govuk-!-padding-bottom-2">Users see personalised or curated content as being accurate for them. </li>
        <li class="govuk-!-padding-bottom-2">In their own words, users describe the GOV.UK account as: hub, umbrella, one stop shop, all under one roof</li>
        <li class="govuk-!-padding-bottom-2">Users don’t care how their data is stored, as long as it is secure. </li>
        <li class="govuk-!-padding-bottom-2">Users expect the government’s online services to be safe and secure.</li>


    </ol>


</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
