{% extends "layout_handover_child.html" %}

{% set thispage = "User needs" %}

{% block title %}
{{ super() }}
<!-- Subheading 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">

        <p class="govuk-body-l">
            {{ data['objectives']['objective1'] }}
        </p>

    </div>
</div> -->
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">

    <p>The original <a href="https://docs.google.com/presentation/d/1r7Rq563dsahkepnyhRkfWOd9t-YnBDqK2YJj8Lc-IS4/edit#slide=id.g8ae8b29489_0_55" target="_blank">GOV.UK accounts discovery that took place in 2019</a> identified user needs and set out the original justification for the work.</p>

    <p>Whilst our project was not aimed at gathering user needs as part of discovery style research, we have found it useful to document user needs along the way. </p>

    <p>These user needs have enabled valuable discussions across the project. By putting user needs first, we can discuss which features best meet these needs, and also identify whether any of the provisional ideas for features could adversely impact users.</p>

    <p>This has all supported conversations around risk, impact and future service design. </p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8 ">

    <p>We acknowledge that if we had chosen a different life event, these needs may look different. For example, if our work had focussed on ‘starting a business’ we may not have compiled this list of user needs.</p>

    <p>Our project did not seek to define user needs across a plethora of possible cross-gov transactions.</p>

    <p>We anticipate that this learning will be ongoing over time in the programme of work.
    </p>

</div>

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-full">

    <p>The GDS user needs format is as follows: </p>

    <blockquote>
        <p>
            <i>As a [type of user], I need to [explain what the user wants / needs expects to do], so that [intended outcome] </i>
        </p>
    </blockquote>

</div>

<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">

    <p>Within our research sample the type of users are claimants or customers of a service, and the intended outcome is always around claiming financial support.</p>

    <p>A non-exhaustive list of needs is summarised here: </p>

    <br /><br />

    <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-padding-top-8">
        {% for number, label in needs %}
        <li>
            <p class="govuk-body-l">

                {{ label }}</p>
        </li>
        {% else %}
        {% endfor %}

    </ol>

</div>

{% endblock %}
{% else %}
{% endif %}
