{% extends "layout_handover.html" %}

{% block title %}
{{ super() }}
<div class="govuk-grid-row govuk-!-padding-bottom-8">

    <div class="govuk-grid-column-full">

        <p class="govuk-body-l">
            These are responses to questions submitted to our team over the last couple of weeks.
        </p>

    </div>

</div>
<div class="govuk-grid-row govuk-!-padding-bottom-8">

    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">


        <h2 class="govuk-heading-m">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                How difficult was it to recruit UC claimants? <br />Did you do it through an agency? <br />
                Did you do or plan to do any user characterisation?
            </span>
        </h2>


        <p>We worked with user research recruitment agency, <a href="https://www.simpleusability.com" target="_blank"> Simple Usability</a>, in order to recruit participants for our research. They provided a diverse range of participants as requested and we were happy with their way of working throughout the project.
        </p>
        <p>

            Read more about the <a href="../user-research/approach#testing"> demographics / participants</a>

        </p>
    </div>


    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
        <h2 class="govuk-heading-m">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                What legislations do you think might need to be reviewed and changed to enable this work to happen?
            </span>
        </h2>


        <p>Although our service research uncovered areas where things need to be done, this wasn't within our scope and will be different for each service. This work needs to be taken forward to CDDO (Central Digital and Data Office)
        </p>

    </div>

    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
        <h2 class="govuk-heading-m">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                What do you think is possible now? <br /> What does MVP look like in your opinion? <br /> And what does a rough future roadmap look like in your opinion? <br /> What is missing from our current offering at GDS that would need to be looked at to enable this work?
            </span>
        </h2>


        <p><a href="../pillars/">View the 3 Pillars roadmap</a>
        </p>
    </div>


    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
        <h2 class="govuk-heading-m">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Which service team groups feel like the main users of the GOV.UK Account? <br />(DI currently targeting teams who already do identity checks but these teams tend to follow existing departmental standards - is this the same for teams following data assurance standards?) <br />Should we be targeting new teams / teams without existing standards / well ingrained processes already in place ?
            </span>
        </h2>


        <p>Based on learnings from this research, <a href="../data/insights#insight-6"> differences in data assurance standards across government</a> presents challenges for the future. </p>
        <p>For some services differences in standards between their service and other government services could make consuming data difficult - they may only be willing to be a source of data rather than a consumer of data.</p>
        <p>For these services they may not see the benefit of participating in data sharing activity within the context of a GOV.UK account.
        </p>
    </div>

</div>

{% endblock %}

{% block menu %}
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}s
{% endblock %}
{% else %}
{% endif %}
