        <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
            <ol class="app-step-nav__steps">
                <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive">
                    <div class="app-step-nav__header js-toggle-panel" data-position="1">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden">Step</span> 1
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Plan your trip
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-check-youre-allowed-to-drive-1">

                        <p><a data-position="1.1" class="gem-c-step-nav__link js-link" href="/round-1/childcare-calculator/start">Check what help you could get with childcare costs </a><br /><br /> {% if data['childcare-calc-status'] == "started" and data['signing'] == "yes" %}
                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">
                                In progress
                            </strong><br />
                            {% elif data['childcare-calc-status'] == "completed" and data['signing'] == "yes" %}
                            <strong class="govuk-tag app-task-list__tag">Completed</strong><br />
                            {% else %}
                            {% endif %}
                        </p>
                        <p>You can only get help with 'approved childcare'. </p>

                        <p>
                            <a data-position="1.2" class="gem-c-step-nav__link js-link" href="/round-1/help-with-childcare-costs">Find out what 'approved childcare' is </a></p>

                        <br />

                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
                    <div class="app-step-nav__header js-toggle-panel" data-position="2">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden">Step</span> 2
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Get your passport, visas and permits ready
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
                        <p class="gem-c-step-nav__paragraph">How much time you need on your passport depends on the country you're visiting. Check the entry requirements for the country you want to travel to.</p>

                        <ol class="gem-c-step-nav__list " data-length="3">
                            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.1" class="gem-c-step-nav__link js-link" href="/foreign-travel-advice?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Check your passport has enough time left on it for the country you're visiting </a></li>
                            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.2" class="gem-c-step-nav__link js-link" href="/round-1/replace-your-passport">Renew or replace your passport </a></li>
                            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.3" class="gem-c-step-nav__link js-link" href="/get-a-child-passport?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Get a passport for your child </a></li>
                        </ol>

                        <p class="gem-c-step-nav__paragraph">You may also need a visa to enter some countries.</p>

                        <ol class="gem-c-step-nav__list " data-length="1">
                            <li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.4" class="gem-c-step-nav__link js-link" href="/foreign-travel-advice?step-by-step-nav=8c0c7b83-5e0b-4bed-9121-1c394e2f96f3">Check if you need a visa or permit </a></li>
                        </ol>
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
                    <div class="app-step-nav__header js-toggle-panel" data-position="3">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden">Step</span> 3
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Get travel insurance and check if you need vaccinations or inoculations
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
                        <p>You can get help with childcare costs for children under 18. You might be able to apply for:</p>

                        <ul class="govuk-list govuk-list--bullet" data-length="4">

                            <li class=" govuk-link"><a data-position="3.2" class="gem-c-step-nav__link js-link" href="/round-1/tax-credits">tax credits </a></li>
                            <li class=" govuk-link"><a data-position="3.3" class="gem-c-step-nav__link js-link" href="/round-1/universal-credit">Universal Credit </a> {% if data['universal-credit-status'] == "started" and data['signing'] == "yes" %}
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag">
                                    In progress
                                </strong><br /><br />
                                {% elif data['universal-credit-status'] == "completed" and data['signing'] == "yes" %}
                                <strong class="govuk-tag app-task-list__tag">Completed</strong><br /><br />
                                {% else %}
                                {% endif %}</li>
                            <li class=" govuk-link"><a data-position="3.4" class="gem-c-step-nav__link js-link" href="/round-1/help-while-you-study">help while you study </a></li>
                        </ul>

                        <p>You could also get free hours childcare when your child is aged 2 to 4. You might be able to apply for:</p>

                        <ul class="govuk-list govuk-list--bullet" data-length="3">
                            <li class=" govuk-link"><a data-position="3.5" class="gem-c-step-nav__link js-link" href="/round-1/free-childcare-2-year-olds">free education and childcare for 2 year olds </a></li>
                            <li class=" govuk-link"><a data-position="3.6" class="gem-c-step-nav__link js-link" href="/round-1/free-childcare-3-to-4-year-olds">15 hours free childcare for 3 to 4 year olds </a></li>
                            <li class=" govuk-link"><a data-position="3.7" class="gem-c-step-nav__link js-link" href="#">30 hours free childcare for 3 to 4 year olds </a></li>
                        </ul>

                        <br />
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
                    <div class="app-step-nav__header js-toggle-panel" data-position="4">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden">Step</span> 4
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Travel safely during COVID-19
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-prepare-for-your-theory-test-4">
                        <p>Tell government straight away if your circumstances change and you're getting:</p>

                        <ul class="govuk-list govuk-list--bullet" data-length="2">
                            <li class=" govuk-link"><a data-position="4.1" class="gem-c-step-nav__link js-link" href="/round-1/changes-affecting-tax-credits">tax credits </a></li>
                            <li class=" govuk-link"><a data-position="4.2" class="gem-c-step-nav__link js-link" href="/round-1/universal-credit/changes-of-circumstances">Universal Credit </a></li>
                        </ul>

                        <p>If you're getting 30 hours free childcare or Tax-Free Childcare you have to confirm if your details are up to date every 3 months.</p>

                        <ol class="govuk-list" data-length="1">
                            <li class=" govuk-link"><a data-position="4.3" class="gem-c-step-nav__link js-link" href="#">Sign into your childcare account to find out when you next have to check your details </a></li>
                        </ol>

                        <p>Your eligibility for support with childcare costs might also change. </p>

                        <ol class="govuk-list" data-length="1">
                            <li class=" govuk-link"><a data-position="4.4" class="gem-c-step-nav__link js-link" href="#">Check if your eligibility for help with childcare costs has changed </a></li>
                        </ol>

                        <br />
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
                    <div class="app-step-nav__header js-toggle-panel" data-position="5">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden">Step</span> 5
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Going through border control
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
                        <p>Your child starts primary school the September after they turn 4.</p>

                        <ol class="govuk-list" data-length="2">
                            <li class="govuk-link"><a class="gem-c-step-nav__link js-link" href="/round-1/school-admissions">Apply for a primary school place </a></li>
                            <li class="govuk-link"><a data-position="5.2" class="gem-c-step-nav__link js-link" href="/round-1/ofsted/find-ofsted-holiday-clubs">Find before and after school and holiday clubs </a></li>
                        </ol>

                        <p>You might be able to use help like tax credits or Tax-Free Childcare to pay for childcare like wraparound care, after school clubs or other activities. </p>

                        <br />
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
                    <div class="app-step-nav__header js-toggle-panel" data-position="6">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden">Step</span> 6
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                When you're abroad
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-6">
                        <p>Your child starts primary school the September after they turn 4.</p>

                        <ol class="govuk-list" data-length="2">
                            <li class="govuk-link"><a class="gem-c-step-nav__link js-link" href="/round-1/school-admissions">Apply for a primary school place </a></li>
                            <li class="govuk-link"><a data-position="5.2" class="gem-c-step-nav__link js-link" href="/round-1/ofsted/find-ofsted-holiday-clubs">Find before and after school and holiday clubs </a></li>
                        </ol>

                        <p>You might be able to use help like tax credits or Tax-Free Childcare to pay for childcare like wraparound care, after school clubs or other activities. </p>

                        <br />
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
                    <div class="app-step-nav__header js-toggle-panel" data-position="7">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden">Step</span> 7
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Before you return to the UK
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-7">
                        <p>Your child starts primary school the September after they turn 4.</p>

                        <ol class="govuk-list" data-length="2">
                            <li class="govuk-link"><a class="gem-c-step-nav__link js-link" href="/round-1/school-admissions">Apply for a primary school place </a></li>
                            <li class="govuk-link"><a data-position="5.2" class="gem-c-step-nav__link js-link" href="/round-1/ofsted/find-ofsted-holiday-clubs">Find before and after school and holiday clubs </a></li>
                        </ol>

                        <p>You might be able to use help like tax credits or Tax-Free Childcare to pay for childcare like wraparound care, after school clubs or other activities. </p>

                        <br />
                    </div>

                </li>

                <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
                    <div class="app-step-nav__header js-toggle-panel" data-position="6">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden">Step</span> 6
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                After you arrive in the UK
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-6">
                        <p>Your child starts primary school the September after they turn 4.</p>

                        <ol class="govuk-list" data-length="2">
                            <li class="govuk-link"><a class="gem-c-step-nav__link js-link" href="/round-1/school-admissions">Apply for a primary school place </a></li>
                            <li class="govuk-link"><a data-position="5.2" class="gem-c-step-nav__link js-link" href="/round-1/ofsted/find-ofsted-holiday-clubs">Find before and after school and holiday clubs </a></li>
                        </ol>

                        <p>You might be able to use help like tax credits or Tax-Free Childcare to pay for childcare like wraparound care, after school clubs or other activities. </p>

                        <br />
                    </div>

                </li>


            </ol>
        </div>
