        {% if data['childcare-calc-status'] == "completed" and data['signing'] == "yes" %}
        <div class="personalised">
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        You are signed in
                        {% if data['full-name'] %}
                        as {{ data['full-name'] }}.
                        {% else %}
                        as <b>{{ data['email-address'] }}</b>.
                        {% endif %}
                        <br /> This page is being personalised based on information saved in your GOV.UK account
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>{% include "phase-2-round-1/includes/calculator-results-summary.html" %}</p>
                    <p><a href="account/index">View your GOV.UK account</a></p>

                </div>
            </details>
        </div>
        {% else %}
        {% endif %}
