{% extends "layout_phase-2-round-1.html" %}

{% block pageTitle %}
GOV.UK account explained
{% endblock %}

{% set serviceName %}
GOV.UK account
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}

<a href="/phase-2-round-1/govuk-home" class="govuk-breadcrumbs__link govuk-back-link">Back</a>

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">GOV.UK account explained</h1>

        <p>Content goes here....</p>


    </div> <!-- /. govuk-grid-column-two-thirds -->

    <div class="govuk-grid-column-one-third">

    </div>

</div> <!-- /. govuk-grid-row -->

{% endblock %}
