{% extends "layout.html" %}
{% set serviceName %}
{% include "includes/projectname.html" %}
{% endset%}

{% block pageTitle %}
{% include "includes/projectname.html" %} hub page
{% endblock %}
{% block beforeContent %}
<a href="../index.html" class="govuk-back-link">Back</a>
<br /><br />
{% include "includes/round-links.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <!-- Research Intro -->

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Phase 2 / Round 1</h1>

        <!--  <p>To follow...</p>

        <br /> -->

        <p> <a href="govuk-home.html">
                <button class="govuk-button" data-module="govuk-button">Launch prototype</button>
            </a> </p>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Tasks
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <ol class="govuk-list govuk-list--number">
                        <li>Start on GOV.UK homepage </li>
                        <li>View GOV.UK account information page </li>
                        <li>Go to Childcare step-by-step </li>
                        <li>Select Child Benefit claim</li>
                        <li>Sign in to their GOV.UK account</li>
                        <li>Complete Child Benefit claim </li>
                        <li>Consent to save inputted data at individual data item level</li>
                        <li>View account area</li>
                        <li>Sign out..... time passes</li>
                        <li>Start on GOV.UK homepage </li>
                        <li>Sign in to their GOV.UK account</li>
                        <li>Review account area:
                            <ol class="govuk-list govuk-list--number">
                                <li>Global controls</li>
                                <li>Activity log</li>
                                <li>Data items (trusted/verified)</li>
                                <li>Reminders</li>
                            </ol>
                        </li>
                        <li>Go to Childcare step-by-step </li>
                        <li>Start UC application</li>
                        <li>Consent to use saved data from GOV.UK account (inc. trusted data item)</li>
                        <li>Add additional information in UC application</li>
                        <li>UC application summary page </li>
                        <li>Consent to save inputted data at individual data item level</li>
                        <li>Go to Childcare step-by-step </li>
                        <li>Review curated content information pages (Tax-free childcare) with personalisation toggles</li>
                    </ol>

                    <div class="govuk-!-padding-bottom-2"></div>

                    <br />
                </div> <!-- /. accordion-default-content-1 -->
            </div> <!-- /. govuk-accordion__section -->

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Objectives
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>Explore user understanding of the role of the GOV.UK account within x-gov transactions (continued from phase 1). </li>
                        <li>Identify whether any confusion persists around saving data to GOV.UK account vs. using data in a service (continued from phase 1). </li>
                        <li>Explore user understanding of the concept of trusted data, and gather their expectations around what this could enable. </li>
                        <li>Explore whether user is willing (hypothetically) to use their GOV.UK account data to personalise content, and explore to what extent content personalisation is comfortable and appropriate. </li>
                        <li>Identify whether confusion persists around information used to personalise content vs. information used on a service results page (continued from phase 1). </li>
                        <li>Find out whether there is an expectation that global push will occur, and if so, what creates that expectation.</li>
                        <li>Explore user understanding of profile / dashboard features, and gather their expectations in relation to what these features could do, or could enable. </li>
                    </ul>
                </div> <!-- /. accordion-default-content-1 -->
            </div> <!-- /. govuk-accordion__section -->

            <!--  <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Assumptions
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  
                    <ol class="govuk-list govuk-list--number">
                        <li>All services are connected via broker API</li>
                        <li>All services use the GOV.UK Account SSO</li>
                        <li>User needs to be signed in to GOV.UK Account for data/activity to be captured</li>
                        <li>Save and return is available on all forms</li>
                        <li>Legacy data requires user to PYI (out of scope for MVP)</li>
                        <li>This is a future view where service would already be consumed by GOV.UK account. Therefore this research does not cover account confusion and issues around onboarding.</li>
                    </ol>
                    <br />
                </div> 
            </div> <!-- /. govuk-accordion__section -->

            <!-- Hypotheses -->

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Hypotheses
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <!-- Hypothesis 1 -->
                    <h1 class="govuk-heading-s" style="margin-bottom: 10px;">Hypothesis 1</h1>
                    <p class='govuk-body'>
                        We believe that more explicit content on consent pages will enable better informed consent to save and use data within the GOV.UK account.</p>
                    <p>We acknowledge that in real life, not all users will read the content and some confustion may still persist - in reference to our user research goals, we will continue to explore this.
                    </p>
                    <!-- Hypothesis 2 -->
                    <h1 class="govuk-heading-s" style="margin-bottom: 10px;">Hypothesis 2</h1>
                    <p class='govuk-body'>
                        We believe that global consent management
                        will serve users with greater transparency and control and meet the user need of feeling safe and secure in the service. We will know this if users react positively to this feature in user testing.
                    </p>
                    <!-- Hypothesis 3 -->
                    <h1 class="govuk-heading-s" style="margin-bottom: 10px;">Hypothesis 3</h1>
                    <p class='govuk-body'>
                        We believe that an activity log
                        will remove the need to remember transactions and manage paperwork, meeting the user need of reducing cognitive load.
                        We will know this if users react positively to this feature in user testing and appraise the feature in a way which references this user need.
                    </p>
                    <!-- Hypothesis 4 -->
                    <h1 class="govuk-heading-s" style="margin-bottom: 10px;">Hypothesis 4</h1>
                    <p class='govuk-body'>
                        We believe that editable / non-editable / verified data
                        will be understood as something which is fixed and certified by a service
                    </p>
                    <!-- Hypothesis 5 -->
                    <h1 class="govuk-heading-s" style="margin-bottom: 10px;">Hypothesis 5</h1>
                    <p class='govuk-body'>
                        We believe that hiding irrelevant content as part of content curation will be received positively by users as long as they can control this in settings
                    </p>

                    <br />
                </div> <!-- /. accordion-default-content-1 -->
            </div> <!-- /. govuk-accordion__section -->
        </div> <!-- /. govuk-accordion -->
    </div>

    <!-- one-third column [Research links & details] -->

    <div class="govuk-grid-column-one-third" id="research-summary-page__one-third" style="margin-top: 100px;">
        <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 10px;">Research Dates</p>
        <p class="govuk-body">26-Oct-2021 - 27-Oct-2021</p>
        <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 10px;">Participants</p>
        <p class="govuk-body">6</p>

    </div>


</div> <!-- /. govuk-grid-row -->

{% endblock %}
