{% extends "layout_handover.html" %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">

    <p>We’ve created a roadmap which outlines the order in which future account features could be implemented.</p>
    <p> It also highlights any potential blockers or challenges from a service, legal and end user perspective. </p>

</div>

<div class="govuk-grid-column-one-half govuk-!-padding-bottom-8">
    <p>This is the first iteration of the roadmap, which will evolve as conversations progress.</p>
    <p> It can be used as a starting point for discussions around the implementation of the features, helping to create cohesion between teams and align roadmaps moving forward.</p>

</div>
<div class="govuk-grid-column-full govuk-!-padding-bottom-8 center">

    <a href="../../../public/images/research/The%20Pillars%20-%20The%20Pillars%20-%20indicative%20overview.pdf" target="_blank"><img class="panel-image shadow" src="../../../public/images/research/The%20Pillars%20-%20The%20Pillars%20-%20indicative%20overview.pdf"></a>


    <br /> <br />

    <p class="govuk-body-s">
        <a href="../../../public/images/research/The%20Pillars%20-%20The%20Pillars%20-%20indicative%20overview.pdf" target="_blank">Click to enlarge</a>
    </p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}
