{% extends "layout_handover.html" %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-4">


    <p>We’ve created a 'Pillars' roadmap which outlines the order in which future account features could be implemented. It also highlights any potential blockers or challenges from a service, legal and end user perspective. </p>

    <p>This is the first iteration of the roadmap, which will evolve as conversations progress. It can be used as a starting point for discussions around the implementation of the features, and how it could align with other team’s roadmaps.
    </p>

</div>
<div class="govuk-grid-column-full govuk-!-padding-bottom-8 center">

    <a href="../../../public/images/research/pillars-concept.jpg" target="_blank"><img class="panel-image shadow" src="../../../public/images/research/pillars-concept.jpg"></a>


    <br />    <br />

    <p class="govuk-body-s">
        <a href="https://miro.com/app/board/uXjVOaW9vKg=/" target="_blank">Link to Miro board</a>
    </p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">
    <p>To follow...</p>
</div>
{% endblock %}
{% else %}
{% endif %}
