{% extends "layout.html" %}

{% set serviceName %}
{% include "includes/projectname.html" %} - {% include "includes/index-section-4.html" %}
{% endset%}

{% block pageTitle %}
{% include "includes/projectname.html" %} hub page
{% endblock %}

{% block beforeContent %}
<a href="../index.html" class="govuk-breadcrumbs__link govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">{% include "includes/research-section-2.html" %}</h1>
    </div>
</div>

{% include "includes/features-menu.html" %}

<br /><br />

{% endblock %}
