{% extends "layout_phase-2-round-3.html" %}

{% block pageTitle %}
{% include "../includes/service-3-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "../includes/service-3-name.html" %}
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}

<a href="../account/" class="govuk-breadcrumbs__link govuk-back-link">Back</a>

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{% include "../includes/service-3-name.html" %}
        </h1>

        <p>Here's the sentence that explains the process of proving your identity.</p>

        <p>The benefits of doing so are explained here. These include that the legacy data can be requested, and that certain data items can become verified.</p>
        <p>This in turn could lead to more efficient services, and greater levels of potential automation.</p>

        <h2 class="govuk-heading-m">What you'll need</h2>

        <p>Choice of ID docs: passport, driving licence, etc. (Our prototype will choose passport).</p>

        <br />

        <form method="post" action="choose-document">

            <div class="govuk-form-group">

                <input id="PYI-started" name="PYI" value="started" type="hidden">

                <button class="govuk-button govuk-button--start" data-module="govuk-button">Start <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg></button>
            </div>

        </form>

    </div> <!-- /. govuk-grid-column-two-thirds -->

    <div class="govuk-grid-column-one-third">

    </div>

</div> <!-- /. govuk-grid-row -->

{% endblock %}
