{% extends "layout_handover_child.html" %}s

{% block title %}
{{ super() }}
{% endblock %}

{% block menu %}
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <p>To fully support the features we’ve been testing with users and services in phase 2, services need the following capabilities in place:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced  govuk-!-padding-bottom-4 govuk-!-padding-top-4">
        <li>To have a digital front end path for customers</li>
        <li>To seamlessly load service application data into their backend systems</li>
        <li>To share information digitally with their users</li>
        <li>For this information to be stored in structured and consistent formats</li>
    </ul>

    <p>We engaged with services to understand their data and process gaps against these capabilities.</p>

</div>
{% endblock %}
{% else %}
{% endif %}


{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-4">

        <div id="trans-1" class="govuk-grid-column-full">

            <h3 class="govuk-heading-m">1. Paper to digital frontend</h3>

            <p>Many services are trying to move away from their current paper applications, which must be manually input into systems and may not be digitised at all.</p>

            <p>For Child Benefit, the HMRC Ops team receive 700,000 paper applications per year.</p>

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row govuk-!-padding-top-4">
                        <div class="govuk-grid-column-one-half">

                            <blockquote>
                                <p><i>“If you're making an LPA for both your health and welfare as well as your financial and property affairs, that's a 24 page document.</i></p>
                                <p><i> There's a lot of paper that you have to go through.”</i></p>
                            </blockquote>
                            <p>
                                <b>MOJ - LPA</b></p>

                        </div>

                        <div class="govuk-grid-column-one-half">

                            <blockquote>
                                <p><i>“Its an extremely heavy paper based process, the application form is about 40 pages of paper ... the compensation service represents about 80 percent of all of our paper. And so you can imagine the the the lorries travelling up and down the motorway”</i></p>
                            </blockquote>
                            <p>
                                <b>MOD - AFCS</b></p>

                        </div>

                    </div>
                </div>
            </details>

        </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-4">

        <div id="trans-2" class="govuk-grid-column-full">

            <h3 class="govuk-heading-m">2. Paper to digital backend</h3>

            <p>Services that appear digital to the end user may have manual backend processes:</p>

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row govuk-!-padding-top-4">

                        <div class="govuk-grid-column-one-third">

                            <blockquote>
                                <p><i>“About half the forms pass information to backend systems … and half just generate a simple email that goes into a shared email inbox”</i></p>
                            </blockquote>
                            <p><b>HO - MBTP</b></p>

                        </div>

                        <div class="govuk-grid-column-one-third">

                            <blockquote>
                                <p><i>“Despite you applying for your service digitally we still print it off in the back, put it into a paper file to walk it down a corridor to give it to a doctor.”</i></p>
                            </blockquote>
                            <p><b>MOD - AFCS</b></p>

                        </div>

                        <div class="govuk-grid-column-one-third">

                            <blockquote>
                                <p><i>“Worst case scenario … someone from my team has to get a blank proforma and post it, that person receives it, signs, puts it back into a freepost addressed envelope and then posts it back to our operation”</i> </p>
                            </blockquote>
                            <p><b>MOD - AFCS</b></p>

                        </div>

                    </div>
                </div>
            </details>

        </div>

    </div>
    <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-4">

        <div id="trans-3" class="govuk-grid-column-full">

            <h3 class="govuk-heading-m">3. In-person to virtual services</h3>

            <p>Some services have already embraced digital applications:</p>

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row govuk-!-padding-top-4">

                        <div class="govuk-grid-column-one-half">
                            <blockquote>
                                <p> <i>“Two or three years ago, if we needed to verify your identity our only option would be to ask you to come and visit a Visa Application Centre, usually in your capital city, which could be hundreds of miles away from where you live and at your own expense, and book an appointment and go in and have manual checks performed...</i>
                                </p>
                            </blockquote>

                        </div>

                        <div class="govuk-grid-column-one-half">

                            <p><i> … We have introduced our ID Verification app, which enable some of these steps to happen through an entirely digital process.</i></p>
                            <p><i>You can do exactly what you used to do at the VAC, or you can do that on your own smartphone in 10 minutes.”</i> </p>
                            <p><b>HO</b></p>

                        </div>

                    </div>
                </div>
            </details>



        </div>

    </div>
    <div class="govuk-grid-row govuk-!-padding-top-8">

        <div id="trans-4" class="govuk-grid-column-full">

            <h3 class="govuk-heading-m">4. Siloed digital services to single sign-on (SSO)</h3>

            <p>Many departments are developing SSO account functionality, aiming to make multiple services accessible within one account.</p>

            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-4">

                        <div class="govuk-grid-column-two-thirds">

                            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

                                <li>HMRC are developing the Single Customer Account, supporting people to apply for Child Benefit and other services through an HMRC app.</li>
                                <li>Defra - Future Farming are doing the same</li>
                                <li>The MOD is developing a single sign in portal where <i>"every single veteran and serving person will be able to log in and do their compensation and a lot of other services"</i>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </details>

        </div>

    </div>

</div>
{% endblock %}
{% else %}
{% endif %}


{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8 govuk-!-padding-top-2">
    <div class="govuk-grid-row govuk-!-padding-bottom-4">
        <div class="govuk-grid-column-full">

            <p>We’ve used data models to show the difference between services As-is processes and how they could be supported by GOV.UK account features.</p>

            <p>These diagrams aim to illustrate both how service processes could change, and to highlight service needs that may not be met by the account features.</p>

            <p>The data models that include potential GOV.UK account features are indicative of what might be possible and do not represent an implementation roadmap at this time.
            </p>
            <p>Full service process maps can be found in the <a href="https://drive.google.com/drive/folders/1xpGfR81Fwo95gpGU0y3lE1jhag23-Rej" target="_blank">service case studies</a>, and in the <a href="https://drive.google.com/drive/folders/1E6sAQA-vOU2on9mz_Hb6ptx3fMlE-XOA" target="_blank">GDS drive</a> .
            </p>

        </div>
    </div>
    <details class="govuk-details example" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text example-header">
                View the As-is and (possible) To-be data flows
            </span>
        </summary>
        <div class="govuk-details__text">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-l">As-is</h3>

                    <p>These diagrams show the data flows at a high level:</p>
                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">

                    <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">Service application with manual evidence gathering from 3rd party data sources</h4>

                    <a href="../../../public/images/research/data-flows/as-is-Data%20flow%20diagrams%20-%20Service%20application%20with%20manual%20evidence%20gathering%20from%203rd%20party%20data%20sources%20As-Is.jpg" target="_blank"><img src="../../../public/images/research/data-flows/as-is-Data%20flow%20diagrams%20-%20Service%20application%20with%20manual%20evidence%20gathering%20from%203rd%20party%20data%20sources%20As-Is.jpg" class="graph shadow"></a>

                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">

                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">

                    <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">Service with fully online application process
                    </h4>

                    <a href="../../../public/images/research/data-flows/as-is-Data%20flow%20diagrams%20-%20Service%20with%20fully%20online%20application%20process%20-%20As-Is.jpg" target="_blank"><img src="../../../public/images/research/data-flows/as-is-Data%20flow%20diagrams%20-%20Service%20with%20fully%20online%20application%20process%20-%20As-Is.jpg" class="graph shadow"></a>

                </div>

            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">

                    <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">Service with verbal data collection
                    </h4>

                    <a href="../../../public/images/research/data-flows/as-is-Data%20flow%20diagrams%20-%20Service%20with%20verbal%20data%20collection%20-%20As-Is.jpg" target="_blank"><img src="../../../public/images/research/data-flows/as-is-Data%20flow%20diagrams%20-%20Service%20with%20verbal%20data%20collection%20-%20As-Is.jpg" class="graph shadow"></a>

                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">
                    <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">Service with multiple parties involved in the application process
                    </h4>

                    <a href="../../../public/images/research/data-flows/as-is-Data%20flow%20diagrams%20-%20Service%20with%20multiple%20parties%20involved%20in%20the%20application%20process%20-%20As-Is.jpg" target="_blank"><img src="../../../public/images/research/data-flows/as-is-Data%20flow%20diagrams%20-%20Service%20with%20multiple%20parties%20involved%20in%20the%20application%20process%20-%20As-Is.jpg" class="graph shadow"></a>

                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">
                    <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">Service with multiple department interactions

                    </h4>

                    <a href="../../../public/images/research/data-flows/as-is-Data%20flow%20diagrams%20-%20Service%20with%20multiple%20department%20interactions%20-%20As-Is.jpg" target="_blank"><img src="../../../public/images/research/data-flows/as-is-Data%20flow%20diagrams%20-%20Service%20with%20multiple%20department%20interactions%20-%20As-Is.jpg" class="graph shadow"></a>

                </div>
            </div>

            <div class="govuk-grid-row govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">
                    <ul class="govuk-list govuk-list--bullet">
                        <li><b>Broken data-flows</b> - PDF applications or digital frontend applications that must be printed and posted into the service.</li>
                        <li><b>Low visibility for the user</b> - an application status is often captured and regularly updated in backend systems, but services may be unable to share this information with the user.</li>
                        <li><b>Manual verification</b> - services spend a significant amount of time validating the information users provide in their applications, often via telephone, post or manual system search. Some services do not verify the identity of applicants or involved parties.</li>

                    </ul>

                </div>
            </div>


            <div class="govuk-grid-row govuk-!-padding-top-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
                    <h3 class="govuk-heading-l">(Possible) To-be</h3>
                    <p>How services might receive and process service applications, in context of a GOV.UK account and the features we have explored in phase 2:</p>

                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">

                    <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">Service application with manual evidence gathering from 3rd party data sources</h4>

                    <a href="../../../public/images/research/data-flows/to-be-Data%20flow%20diagrams%20-%20Service%20application%20with%20manual%20evidence%20gathering%20from%203rd%20party%20data%20sources%20Possible%20To-Be%20with%20X-Gov%20Features.jpg" target="_blank"><img src="../../../public/images/research/data-flows/to-be-Data%20flow%20diagrams%20-%20Service%20application%20with%20manual%20evidence%20gathering%20from%203rd%20party%20data%20sources%20Possible%20To-Be%20with%20X-Gov%20Features.jpg" class="graph shadow"></a>

                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">

                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">

                    <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">Service with fully online application process
                    </h4>

                    <a href="../../../public/images/research/data-flows/to-be-Data%20flow%20diagrams%20-%20Service%20with%20fully%20online%20application%20process%20-%20Possible%20To-Be.jpg" target="_blank"><img src="../../../public/images/research/data-flows/to-be-Data%20flow%20diagrams%20-%20Service%20with%20fully%20online%20application%20process%20-%20Possible%20To-Be.jpg" class="graph shadow"></a>

                </div>

            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">

                    <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">Service with verbal data collection
                    </h4>

                    <a href="../../../public/images/research/data-flows/to-be-Data%20flow%20diagrams%20-%20Service%20with%20verbal%20data%20collection%20-%20Possible%20To-Be.jpg" target="_blank"><img src="../../../public/images/research/data-flows/to-be-Data%20flow%20diagrams%20-%20Service%20with%20verbal%20data%20collection%20-%20Possible%20To-Be.jpg" class="graph shadow"></a>

                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">
                    <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">Service with multiple parties involved in the application process
                    </h4>

                    <a href="../../../public/images/research/data-flows/to-be-Data%20flow%20diagrams%20-%20Service%20with%20multiple%20parties%20involved%20in%20the%20application%20process%20-%20Possible%20To-Be.jpg" target="_blank"><img src="../../../public/images/research/data-flows/to-be-Data%20flow%20diagrams%20-%20Service%20with%20multiple%20parties%20involved%20in%20the%20application%20process%20-%20Possible%20To-Be.jpg" class="graph shadow"></a>

                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">
                    <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">Service with multiple department interactions

                    </h4>

                    <a href="../../../public/images/research/data-flows/to-be-Data%20flow%20diagrams%20-%20Service%20with%20multiple%20department%20interactions%20-%20Possible%20To-Be.jpg" target="_blank"><img src="../../../public/images/research/data-flows/to-be-Data%20flow%20diagrams%20-%20Service%20with%20multiple%20department%20interactions%20-%20Possible%20To-Be.jpg" class="graph shadow"></a>

                </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-8">
                <div class="govuk-grid-column-full govuk-!-padding-bottom-8 ">
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="../features/15.html"> Autofill</a> - using users profile information to populate service application forms</li>
                        <li><a href="../features/06.html">Verified information</a> / <a href="../features/29.html"> account flags</a> - for services to access</li>
                        <li><a href="../features/06.html">Verified information</a> / <a href="../features/29.html"> account flags</a> - for services to create as outputs of the transaction, for example a War Pension recipient</li>
                    </ul>

                </div>
            </div>
        </div>
    </details>


</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8 govuk-!-padding-top-4">

    <h3 class="govuk-heading-m">
        Unique information needs
    </h3>
    <p>Services may need situation-specific information, for example something relating to a health condition that can’t be linked to an account attribute.</p>


    <details class="govuk-details example" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text example-header">
                {{ data['example'] }}
            </span>
        </summary>
        <div class="govuk-details__text">
            <p>MOD War Pension and Armed Forces Compensation Scheme caseworkers must collect information about the incident for which the applicant is claiming compensation, including medical documentation of the event and any treatment sought.</p>
            <p>The exact information required depends on the individual application and may not be linked to an attribute like a diagnosis, particularly as the incident may pre-date digitised NHS records.
            </p>
        </div>
    </details>


    <br />

    <h3 class="govuk-heading-m govuk-!-padding-top-8">Consent to receive information</h3>
    <p>Where services need to gather situation-specific information, they require a digital method to prove the user has consented and that is accessible to and recognised by staff in the requesting services.</p>
    <details class="govuk-details example" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text example-header">
                {{ data['example'] }}
            </span>
        </summary>
        <div class="govuk-details__text">
            <p>In the MOD War Pension and Armed Forces Compensation Scheme, where caseworkers need to request information from the NHS, they must show the user has consented to have their medical records shared.</p>
            <p> As with the point above, this consent is specific to the information required.
            </p>
        </div>
    </details>


    <br />

    <h3 class="govuk-heading-m govuk-!-padding-top-8">Notifying non-account holders</h3>
    <p>Service journeys may have people involved who aren’t involved in the application but who need to receive information.</p>
    <details class="govuk-details example" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text example-header">
                {{ data['example'] }}
            </span>
        </summary>
        <div class="govuk-details__text">
            <p>In the Lasting Power of Attorney service, applicants may include the details of People to be notified, who are not otherwise involved in the process but may register an objection if they have concerns about how the LPA will be used.</p>
            <p>People involved in this way may not have a GOV.UK account, or it may not be linked to the application, requiring the service to maintain alternative ways of contacting them, e.g. post.</p>
        </div>
    </details>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8 govuk-!-padding-top-2">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
            <p>We gained this insight by looking at the data items requested by the 28 most visited transactional services.</p>
        </div>

        <div class="govuk-grid-column-full govuk-!-padding-top-4">
            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        View the research findings
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div class="govuk-grid-row govuk-!-padding-bottom-8">
                        <div class="govuk-grid-column-full">

                            <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">What are the most frequently asked for data items?</h4>

                            <table class="govuk-table shadow" style="background: #fff; border: 10px solid white;">
                                <thead class="govuk-table__head" style="padding: 20px;">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Item name</th>
                                        <th scope="col" class="govuk-table__header">Frequency</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Postcode</td>
                                        <td class="govuk-table__cell">19</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Home address</td>
                                        <td class="govuk-table__cell">18</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Contact number</td>
                                        <td class="govuk-table__cell">18</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Email address</td>
                                        <td class="govuk-table__cell">17</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Name (first, middle, last name)</td>
                                        <td class="govuk-table__cell">16</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">Date of birth</td>
                                        <td class="govuk-table__cell">16</td>
                                    </tr>
                                </tbody>
                            </table>

                            <br />

                            <p>Unsurprisingly, the most commonly asked for data items were all personal details, required by over 50% of the 28 most visited services.</p>
                            <p>It wasn’t possible to tell if Date of birth was required for identity verification or if the services need the user's age for service provision.</p>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-padding-bottom-8">
                        <div class="govuk-grid-column-full govuk-!-padding-top-4 govuk-!-padding-bottom-4">
                            <h4 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-padding-bottom-4">To what extent do these frequently visited services ask for the same information?</h4>

                            <img src="../../../public/images/research/data-graphs/Graph-1.svg" class="graph shadow">

                        </div>
                        <div class="govuk-grid-column-full govuk-!-padding-top-4 govuk-!-padding-bottom-8">
                            <p><i>The 28 services plotted against how many of the 6 common data items they require</i></p>
                            <br />
                            <p>The graph shows two main groups:
                            </p>
                            <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-top-2">
                                <li>
                                    <b>Highly user-centred services</b><br />
                                    14 services ask for all 6 data items.<br />
                                    Services include, Book a theory test and Register to vote.<br />
                                    These services would maximise benefit from features that reuse users data.
                                </li>
                                <li><b>Non user-centred services</b><br />
                                    6 services use none of the 6 data items. <br />
                                    These include Drive in a clean air zone and Check someone’s driving licence information. <br />
                                    These services are less likely to benefit, but may ask for other data items not covered by this analysis.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-padding-bottom-8">
                        <div class="govuk-grid-column-full govuk-!-padding-top-4 govuk-!-padding-bottom-4">
                            <h4 class="govuk-heading-m govuk-!-padding-bottom-4">How do these compare to other services?</h4>

                            <img src="../../../public/images/research/data-graphs/Graph-2.svg" class="graph shadow">
                        </div>


                        <div class="govuk-grid-column-full govuk-!-padding-bottom-8">
                            <p><i>The number of data items collected by the most visited 28 services, compared to all services</i></p>
                            <br />
                            <p>Approximately 80 different data items are collected across all 376 services, and the top 28 services collect 47 different data items.</p>

                            <p>Over 90% of services ask for less than 20 data items, and over 80% ask for 1-20 data items, which excludes niche services, e.g. Flood warning, that do not collect data in their service journey.
                            </p>
                        </div>

                    </div>
                    <div class="govuk-grid-row govuk-!-padding-bottom-8">
                        <div class="govuk-grid-column-full ">
                            <h4 class="govuk-heading-m">Data sources</h4>

                        </div>
                        <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
                            <p>Two data sources were used:
                            </p>
                            <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-4">
                                <li>
                                    <p><b>List of data in Central Government</b><br />Survey results on the data items each service collects
                                        <span class="govuk-body-s">

                                            (376 services, 80 different data items)</span></p>
                                </li>
                                <li>
                                    <p><b>GOV.UK Content Data</b><br />Transaction pages activity data
                                        <span class="govuk-body-s">

                                            (365 services)</span></p>
                                </li>
                            </ul>
                            <p>The analysis took the 50 most frequently visited service pages and matched them against survey responses.</p>
                            <p>Variations in service name and URL limited data matching, resulting in 28 identified services.</p>
                        </div>
                    </div>
                </div>
            </details>
        </div>

    </div>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8 govuk-!-padding-top-2">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Many services do not use the mandatory information standards (or do not find them applicable).</li>
                <li>Many services do not build and maintain data dictionaries.</li>
                <li>Where services do use standards, different levels of assurance will still apply and may be use-case specific. One standard mentioned by several services is the <a href="https://www.gov.uk/government/publications/identity-proofing-and-verification-of-an-individual" target="_blank"> Good Practice (GPG) 45 for verifying identity</a>.</li>
                <li>Services with lower data assurance needs may find it easier to benefit from cross-government data sharing.</li>
                <li>Both within departments and across government, systems are unlikely to have a common vocabulary, and will find it difficult to understand each other.</li>
            </ul>

        </div>

    </div>
    <!-- <div class="govuk-grid-row govuk-!-padding-top-4">

        <div class="govuk-grid-column-full">

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    None of the services we engaged with currently maintain a data dictionary
                </strong>
            </div>

            <p>The Defra - Fish Export service <span class="comment">[link to case study]</span> and Home Office were engaged as services known to have a high level of data validation.</p>


            <details class="govuk-details example" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text example-header">
                        {{ data['example'] }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>As the first government service many people will encounter, the Home Office faces a number of unique challenges in verifying a person’s basic demographic information:</p>
                    <br />
                    <p><b>Name:</b></p>
                    <blockquote>
                        <i>
                            <p>What is your name? I know it's probably easy for all of us, but it really isn't easy for most of the people we deal with. You can have five different versions of your name on [your documents], which one are you using and I think that's where it gets challenging.</p>
                        </i>
                    </blockquote>
                    <br />

                    <p><b>Date of birth:</b></p>
                    <blockquote>
                        <i>
                            <p>There's loads of countries that don't have Somerset House. So everybody is 01/01/1990, or they know what year they were born, but not what day or month. That's common in the Home Office.</p>
                        </i>
                    </blockquote>
                    <br />


                    <p><b>Reference number:</b></p>
                    <blockquote>
                        <i>
                            <p>There's no such thing as like a unique reference number in the U.K. One of our primary reference points across DWP data is the National Insurance Number, but in the Home Office we use things like document numbers for that passport. Every department is likely to have their own thing.
                            </p>
                        </i>
                    </blockquote>

                </div>
            </details>
        </div>
    </div> -->
</div>

{% endblock %}
{% else %}
{% endif %}
