{% extends "layout_handover_child.html" %}s

{% block title %}
{{ super() }}
<div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Conduct research across government services to build an accurate picture on the use of data dictionaries and information standards, in particular the GPG 45.</li>
        <li>Conduct research to understand, for services undergoing a digital transformation how their roadmap aligns with the Gov.UK Account roadmap.</li>
        <li>Detailed research is needed with services to understand the technical requirements for services to implement features.</li>
        <li>Widen the recruitment profile to include services with a greater digital maturity.</li>
    </ul>
</div>
{% endblock %}


{% block menu %}
{% endblock %}



{% if pagemenu[1] %}
{% block section2 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
