{% extends "layout_handover_child.html" %}s

{% block title %}
{{ super() }}
<!-- Subheading 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-8">

        <p class="govuk-body-l">
            {{ data['objectives']['objective1'] }}
        </p>

    </div>
</div> -->
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <p>To fully support the features we’ve been testing with users and services in phase 2, services need the following capabilities in place:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>To have a digital front end path for customers</li>
        <li>To seamlessly load service application data into their backend systems</li>
        <li>To share information digitally with their users</li>
        <li>For this information to be stored in structured and consistent formats</li>
    </ul>

    <p>We engaged with services to understand their data and <a href="#as-is">process gaps</a> against their <a href="#capabilities"> capabilities</a>.</p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-full govuk-!-padding-bottom-8">

    <p>Most of the services we spoke to are either planning, supporting or currently undergoing a digital transformation.</p>
    <p>These include:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4 govuk-!-padding-top-2">
        <li>Paper to digital frontend</li>
        <li>Paper to digital backend</li>
        <li>In-person to virtual services</li>
        <li>Siloed digital services to single sign-on (SSO) - also known as ‘one stop shop’</li>
    </ul>

    <p>Many services are trying to move away from their current paper applications, which must be manually inputted into systems and not digitised at all.</p>
    <p>The HRMC Ops team for Child Benefit receives 700,000 paper applications per year.</p>

    <p>Some services that appear digital to users, may have manual backend processes.</p>

</div>

<div class="govuk-grid-column-one-half govuk-!-padding-top-4 govuk-!-padding-bottom-8">

    <blockquote>
        <p><I>“About half the forms pass information to backend systems … and half just generate a simple email that goes into a shared email inbox” </I></p>
        <p><b>HO - MBTP</b></p>
    </blockquote>

</div>

<div class="govuk-grid-column-one-half govuk-!-padding-top-4 govuk-!-padding-bottom-8">

    <blockquote>
        <p><I>“Worst case scenario … someone from my team has to get a blank proforma and post it, that person receives it, signs, puts it back into a freepost addressed envelope and then posts it back to our operation” </I></p>
        <p><b>MOD - AFCS</b></p>
    </blockquote>

</div>

<div class="govuk-grid-column-full govuk-!-padding-top-8 govuk-!-padding-bottom-4">

    <p>Many departments are developing SSO account functionality, aiming to make multiple services accessible within one account.</p>

    <p>HMRC are developing the Single Customer Account, supporting people who are applying for Child Benefit and other services through a HMRC app.</p>

</div>

<div class="govuk-grid-column-full  govuk-!-padding-top-4 govuk-!-padding-bottom-8">

    <blockquote>
        <p><I>“The MOD is developing a single sign in portal where every single veteran and serving person will be able to log in and do their compensation and a lot of other services.” </I></p>
        <p><b>MOD - AFCS</b></p>
    </blockquote>


</div>
{% endblock %}
{% else %}
{% endif %}


{% if pagemenu[2] %}
{% block section3 %}
<div class="govuk-grid-column-one-half govuk-!-padding-top-2 govuk-!-padding-bottom-8">

    <p>We’ve used data models to show the difference between services As-Is processes and how they could be supported by cross government service features.</p>

    <p>The research used a small number of services to develop these examples and should not be taken as a representation of all government services.</p>

</div>
<div class="govuk-grid-column-one-half govuk-!-padding-top-2 govuk-!-padding-bottom-8">

    <p>The data models that include potential cross government service features are indicative of what might be possible and do not represent an implementation roadmap at this time.</p>

    <p>Further detailed technical assessment would be needed to develop and agree a To-Be.</p>

</div>
<div class="govuk-grid-column-two-thirds govuk-!-padding-top-8 govuk-!-padding-bottom-4">

    <h3 class="govuk-heading-l">Themes</h3>

    <h4 id="as-is" class="govuk-heading-m">As-is</h4>

</div>

<div class="govuk-grid-column-full center govuk-!-padding-bottom-8">

    <a href="./../../public/images/research/Data%20flow%20diagrams%20-%20Service%20As-Is.jpg" target='_blank'> <img src="../../../public/images/research/Data%20flow%20diagrams%20-%20Service%20As-Is.jpg" class="panel-image "></a>

    <p><i>Service 'As is'</i></p>

    <p class="govuk-body-s">
        <a href="./../../public/images/research/Data%20flow%20diagrams%20-%20Service%20As-Is.jpg" target='_blank'> Click to enlarge</a>
    </p>


</div>

<div class="govuk-grid-column-two-thirds govuk-!-padding-top-2 govuk-!-padding-bottom-4">


    <ul class="govuk-list govuk-list--bullet">
        <li><b>Broken data-flows</b> - PDF applications or digital frontend applications that must be printed and posted into the service.</li>
        <li><b>Low visibility for the user</b> - an application status is often captured and regularly updated in backend systems, but services may be unable to share this information with the user.</li>
        <li><b>Manual verification</b> - services spend a significant amount of time validating the information users provide in their applications, often via telephone, post or manual system search. Some services do not verify the identity of applicants or involved parties.</li>
    </ul>

</div>

<div class="govuk-grid-column-full center govuk-!-padding-bottom-8 govuk-!-padding-top-4">

    <a href="../../../public/images/research/Data%20flow%20diagrams%20-%20Service%20Possible%20To-Be%20with%20X-Gov%20Features.jpg" target='_blank'> <img src="../../../public/images/research/Data%20flow%20diagrams%20-%20Service%20Possible%20To-Be%20with%20X-Gov%20Features.jpg" class="panel-image "></a>

    <p><i>Service possible 'To be' with X-Gov features</i></p>

    <p class="govuk-body-s">
        <a href="../../../public/images/research/Data%20flow%20diagrams%20-%20Service%20Possible%20To-Be%20with%20X-Gov%20Features.jpg" target='_blank'> Click to enlarge </a>
    </p>


</div>

<div class="govuk-grid-column-two-thirds govuk-!-padding-top-8 govuk-!-padding-bottom-8">

    <h4 class="govuk-heading-m">Cross government service features that would support the As-Is journey</h4>

    <ul class="govuk-list govuk-list--bullet">
        <li><b><a href="../features/15.html"> Pre-fill</a></b> - using users profile information to populate service application forms</li>
        <li><b><a href="../features/06.html">Verified information</a> / <a href="../features/29.html">account flags</a></b> - for services to access</li>
        <li><b><a href="../features/06.html">Verified information</a> / <a href="../features/29.html">account flags</a></b> - for services to create as outputs of the transaction, for example a War Pension recipient</li>
    </ul>

</div>

<div class="govuk-grid-column-two-thirds govuk-!-padding-top-8 govuk-!-padding-bottom-4">

    <h4 class="govuk-heading-m">Service needs potentially not supported</h4>

    <ul class="govuk-list govuk-list--bullet">
        <li><b>Unique information needs</b> - services may need situation-specific information, for example something relating to a health diagnosis that can’t be linked to an account attribute.</li>
        <li><b>Consent to receive information</b> - where services need to gather situation-specific information, they require a digital method to prove the user has consented and that it’s accessible to and recognised by staff in the requesting service/s. </li>
        <li><b>Notifying non-account holders</b> - service journeys may have people involved who aren’t involved in the application but who need to be notified, for example if there are people to notify in a Lasting Power of Attorney.</li>
    </ul>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
