{% extends "layout_handover_child.html" %}

{% set thispage = "Technical and data readiness survey" %}

{% block title %}
{{ super() }}
{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">

    <p>To follow</p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-8">

    <p>To follow</p>

</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
