{% extends "layout_phase-2-round-2.html" %}

{% block pageTitle %}
Universal Credit
{% endblock %}

{% set serviceName %}
Universal Credit
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}

<a href="consent" class="govuk-breadcrumbs__link govuk-back-link">Back</a>

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Universal Credit application complete
            </h1>
            <div class="govuk-panel__body">
                Your reference number<br><strong>HDJ2123F</strong>
            </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email, and the application reference is stored in you <a href="../account/">GOV.UK account</a>.</p>

        <br />

        <p class="govuk-body">
            <a href="/phase-2-round-2/govuk-home" class="govuk-link">Back to GOV.UK home</a>
        </p>
    </div>
</div>

{% endblock %}
