<div class="govuk-grid-row">
    <div id="datalist" class="govuk-grid-column-one-third govuk-!-padding-top-2">

        <strong class="govuk-tag govuk-tag--purple">
            Types of data
        </strong>

        <ul class="govuk-list govuk-!-padding-top-4">
            {% for i in range(1, featurestotal) -%}
            {% if categories[i] === "data" %}
            <li>
                <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
            </li>
            {% endif %}
            {%- endfor %}
        </ul>

    </div>
    <div id="controllist" class="govuk-grid-column-one-third govuk-!-padding-top-2">

        <strong class="govuk-tag govuk-tag--purple">
            Control of data
        </strong>

        <ul class="govuk-list govuk-!-padding-top-4">
            {% for i in range(1, featurestotal) -%}
            {% if categories[i] === "control" %}
            <li>
                <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
            </li>
            {% endif %}
            {%- endfor %}
        </ul>

    </div>
    <div id="personalisationlist" class="govuk-grid-column-one-third govuk-!-padding-top-2">
        <strong class="govuk-tag govuk-tag--purple">
            Personalisation
        </strong>
        <ul class="govuk-list govuk-!-padding-top-4">
            {% for i in range(1, featurestotal) -%}
            {% if categories[i] === "personalisation" %}
            <li>
                <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
            </li>
            {% endif %}
            {%- endfor %}
        </ul>
    </div>
</div>
