<div class="govuk-grid-row">
    <div id="highcompllist" class="govuk-grid-column-one-third govuk-!-padding-top-2">

        <strong class="govuk-tag govuk-tag--red">
            High
        </strong>

        <ul class="govuk-list govuk-!-padding-top-4">
            {% for i in range(1, featurestotal) -%}
            {% if complexity[i] === "high" %}
            <li>
                <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
            </li>
            {% endif %}
            {%- endfor %}
        </ul>

    </div>

    <div id="medcomplist" class="govuk-grid-column-one-third govuk-!-padding-top-2">

        <strong class="govuk-tag govuk-tag--orange">
            Med
        </strong>

        <ul class="govuk-list govuk-!-padding-top-4">
            {% for i in range(1, featurestotal) -%}
            {% if complexity[i] === "med" %}
            <li>
                <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
            </li>
            {% endif %}
            {%- endfor %}
        </ul>

    </div>

    <div id="lowcomplist" class="govuk-grid-column-one-third govuk-!-padding-top-2">

        <strong class="govuk-tag govuk-tag--green">
            Low
        </strong>

        <ul class="govuk-list govuk-!-padding-top-4">
            {% for i in range(1, featurestotal) -%}
            {% if complexity[i] === "low" %}
            <li>
                <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
            </li>
            {% endif %}
            {%- endfor %}
        </ul>

    </div>
</div>
