<div class="govuk-grid-row">
    <div id="highplist" class="govuk-grid-column-one-third govuk-!-padding-top-2">

        <strong class="govuk-tag govuk-tag">
            High (MVP)
        </strong>

        <ul class="govuk-list govuk-!-padding-top-4">
            {% for i in range(1, featurestotal) -%}
            {% if priorities[i] === "high" %}
            <li>
                <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
            </li>
            {% endif %}
            {%- endfor %}
        </ul>

    </div>

    <div id="medplist" class="govuk-grid-column-one-third govuk-!-padding-top-2">

        <strong class="govuk-tag govuk-tag--blue">
            Med
        </strong>

        <ul class="govuk-list govuk-!-padding-top-4">
            {% for i in range(1, featurestotal) -%}
            {% if priorities[i] === "med" %}
            <li>
                <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
            </li>
            {% endif %}
            {%- endfor %}
        </ul>

    </div>

    <div id="lowplist" class="govuk-grid-column-one-third govuk-!-padding-top-2">

        <strong class="govuk-tag govuk-tag--grey">
            Low
        </strong>

        <ul class="govuk-list govuk-!-padding-top-4">
            {% for i in range(1, featurestotal) -%}
            {% if priorities[i] === "low" %}
            <li>
                <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
            </li>
            {% endif %}
            {%- endfor %}
        </ul>

    </div>
</div>
