{% extends "layout_round-2.html" %}

{% block pageTitle %}
Universal Credit - your date of birth
{% endblock %}

{% set serviceName %}

{% endset%}


{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a href="address" class="govuk-breadcrumbs__link">Back</a>
        </li>
    </ol>
</div>
<!-- {% include "../includes/childcare-step-by-step-breadcrumb.html" %} -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">What is your email address?</h1>

        <form action="address" method="POST">
            {% if data['signing'] == "yes" %}
            {% include "../forms/email-signed-in.html" %}
            {% else %}
            {% include "../forms/email-signed-out.html" %}
            {% endif %}
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <div class="govuk-!-padding-bottom-1"></div>

        </form>
        <!-- /. form -->
        {% include "../includes/prepop-explain-details.html" %}
    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">

    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
