    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">

            <!-- name of child 1 -->
            <div class="govuk-form-group">
                <label class="govuk-label" for="child-1-name"><strong>What is their full name?</strong></label>
                <div class="govuk-hint">
                    As written on their birth certificate
                </div>
                <input class="govuk-input govuk-!-width-two-thirds" id="child-1-name" name="child-1-name" type="text" spellcheck="false" value="{{ data['child-1-name'] }}">
            </div> <!-- /. form-group -->

            <br /> <br />

            <!-- child 1 Date of birth [Day] -->
            <div class="govuk-date-input" id="date-of-birth">
                <p><strong>What is their date of birth?</strong></p>
                <div class="govuk-hint">
                    For example, 27 3 2018
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="child-1-date-of-birth-day">Day</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="child-1-date-of-birth-day" name="child-1-date-of-birth-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['child-1-date-of-birth-day'] }}">
                    </div> <!-- govuk-form-group -->
                </div> <!-- govuk-date-input__item -->

                <!-- child 1 Date of birth [Month] -->
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="child-1-date-of-birth-month">Month</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="child-1-date-of-birth-month" name="child-1-date-of-birth-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['child-1-date-of-birth-month'] }}">
                    </div> <!-- govuk-form-group -->
                </div> <!-- govuk-date-input__item -->

                <!-- child 1 Date of birth [Year] -->
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="child-1-date-of-birth-year">Year</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="child-1-date-of-birth-year" name="child-1-date-of-birth-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['child-1-date-of-birth-year'] }}">
                    </div> <!-- govuk-form-group -->
                </div> <!-- govuk-date-input__item -->

            </div>
            <input id="number-of-children" name="number-of-children" value="1" type="hidden">
            <br /> <br /><br />

            <!-- gender child [RADIO] -->
            <div class="govuk-radios">
                <p><strong>Is this child male or female?</strong></p>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="child-gender" name="child-gender" type="radio" value="Male" {% if data['child-gender'] == "Male" %} {{ checked("child-gender", "Male") }} {% else %} {% endif %}>
                    <label class="govuk-label govuk-radios__label" for="child-gender">
                        Male
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="child-gender-2" name="child-gender" type="radio" value="Female" {% if data['child-gender'] == "Female" %} {{ checked("child-gender", "Female") }} {% else %} {% endif %}>
                    <label class="govuk-label govuk-radios__label" for="child-gender-2">
                        Female
                    </label>
                </div>
            </div>
            <br /> <br /><br />

            <div class="govuk-form-group">
                <p><label class="govuk-label" for="account-number">
                        <strong>What is their birth certificate number?</strong>
                    </label>
                </p>
                <div id="account-number-hint" class="govuk-hint">
                    Tell us the 9 digit system number from the bottom left
                    hand corner of their birth certificate.
                    For example, BXCG 457713
                </div>
                <input class="govuk-input govuk-input--width-10" id="account-number" name="child-birth-cert-number" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric" value="{{ data['child-birth-cert-number'] }}">
            </div>
            <br /> <br />

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <p><label class="govuk-label" for="account-number">
                            <strong>
                                Is this child your:</strong>
                        </label></p>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="child-relationship" type="radio" value="Birth child" {% if data['child-relationship'] == "Birth child" %} {{ checked("child-relationship", "Birth child") }} {% else %} {% endif %}>
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                Birth child
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="child-relationship" type="radio" value="Adopted" {% if data['child-relationship'] == "Adopted" %} {{ checked("child-relationship", "Adopted") }} {% else %} {% endif %}>
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                Adopted child
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-3" name="child-relationship" type="radio" value="Stepchild" {% if data['child-relationship'] == "Stepchild" %} {{ checked("child-relationship", "Stepchild") }} {% else %} {% endif %}>
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                Stepchild
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-4" name="child-relationship" type="radio" value="None of the above" {% if data['child-relationship'] == "None of the above" %} {{ checked("child-relationship", "None of the above") }} {% else %} {% endif %}>
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                                None of these
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

        </fieldset> <!-- govuk-fieldset -->
    </div> <!-- govuk-form-group -->
