{% extends "layout.html" %}
{% set serviceName %}
{% include "includes/projectname.html" %}
{% endset%}

{% block pageTitle %}
{% include "includes/projectname.html" %} hub page
{% endblock %}
{% block beforeContent %}
<a href="../index.html" class="govuk-back-link">Back</a>
<br /><br />
{% include "includes/round-links.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <!-- Research Intro -->

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Phase 2 / Round 5</h1>

        <p>To walkthrough this prototype, follow the tasks below (suggestion: keep them open on a separate tab).</p>

        <br />

        <p> <a href="govuk-home.html">
                <button class="govuk-button" data-module="govuk-button">Launch prototype</button>
            </a> </p>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Tasks
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">


                    <ol class="govuk-list govuk-list--number govuk-list--spaced">
                        <li>Start on <a href="govuk-home.html">GOV.UK homepage</a>  </li>
                        <li>Review <a href="gov-uk-account-explained.html">GOV.UK account explained</a> </li>
                        <li>Sign in and review signed in <a href="govuk-home.html">GOV.UK homepage</a></li>
                        <li>Using top link in the black box, review <a href="coronavirus.html"> Coronavirus information page</a> (not personalised at this point)</li>
                        <li>Go to <a href="account/">account</a> and review all 4 account pages</li>
                        <li>Turn on Reminders feature on <a href="account/account-manage#reminders">account features</a></li>
                        <li>Return to <a href="account/index#reminders">account dashboard</a> to review an example reminder</li>
                        <li>Turn on both personalisation features on <a href="account/account-manage#personalisation">account features</a>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>The first personalisation toggle will hide content deemed not relevant</li>
                                <li>The second toggle will personalise any dates, amounts or locations </li>
                            </ul>
                        </li>
                        <li>Return to <a href="govuk-home.html">GOV.UK homepage</a> <br /><br />
                            This page is personalised in two ways:
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Lots of content and links have been stripped out, leaving those which the user uses most frequently.</li>
                                <li>If the second toggle is on, the Coronavirus links and Bank Holidays panels will be personalised to the users home address. </li>
                            </ul>
                        </li>
                        <li>Go back to <a href="coronavirus.html">Coronavirus page</a><br /><br />
                            This page is now personalised in two ways:
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Irrelevant content (such as 'Self-employment guidance', and school-based advice in 'Childcare and parenting') is hidden.</li>
                                <li>Personalised locations are used for booking tests, vaccinations, help and guidance, and statistics.</li>
                            </ul>
                        </li>
                        <li>Return to <a href="govuk-home.html">GOV.UK homepage</a></li>
                        <li>Go to <a href="child-benefit-payment-dates.html"> Child Benefit Payment date</a> <br /><br />
                            This page is also personalised in two ways:
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Irrelevant content (such as 'first payment') is hidden.</li>
                                <li>Personalised dates and amounts are shown in the personalised panel</li>
                                <li><b>Unhappy path content ("If you haven’t got your payment") is always shown</b></li>

                            </ul>
                        </li>
                        <li>Go back to <a href="account/account-manage#suggestions">account features</a> and turn on Suggestions feature
                        </li>
                        <li>View suggestions on <a href="account/">Account dashboard</a> (they are also shown in the black box on the <a href="govuk-home.html">GOV.UK homepage</a>)</li>
                        <li>Also, the previously visited <a href="./child-benefit-payment-dates">Child Benefit Payment date</a> now includes the suggestion to add second child to the claim</li>
                        <li>Sign out</li>
                    </ol>

                    <div class="govuk-!-padding-bottom-2"></div>

                    <br />
                </div> <!-- /. accordion-default-content-1 -->
            </div> <!-- /. govuk-accordion__section -->

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Objectives
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p><i>Draft</i></p>
                    <ol class="govuk-list govuk-list--number">
                        <li>
                            Understand whether users are willing to use their data for personalisation.</li>
                        <li>Understand perceived value of different types of personalised features and content i.e. recommendations for information, recommendations around eligibility.</li>

                    </ol>


                </div> <!-- /. accordion-default-content-1 -->
            </div> <!-- /. govuk-accordion__section -->

            <!-- Hypotheses -->
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Features
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

                    <h3 class="govuk-heading-s">Main features</h3>

                    <ol class="govuk-list">
                        <li>04. {{ data['features']['04'] }}</li>
                        <li>01. {{ data['features']['01'] }}</li>
                        <li>10. {{ data['features']['10'] }}</li>
                        <li>02. {{ data['features']['02'] }}</li>

                    </ol>

                    <br />

                    <h3 class="govuk-heading-s">Other features</h3>

                    <ol class="govuk-list">
                        <li>03. {{ data['features']['03'] }}</li>
                        <li>24. {{ data['features']['24'] }}</li>
                        <li>18. {{ data['features']['18'] }}</li>
                        <li>07. {{ data['features']['07'] }}</li>
                    </ol>


                </div> <!-- /. accordion-default-content-1 -->
            </div> <!-- /. govuk-accordion__section -->
        </div> <!-- /. govuk-accordion -->
    </div>

    <!-- one-third column [Research links & details] -->

    <div class="govuk-grid-column-one-third" id="research-summary-page__one-third" style="margin-top: 100px;">
        <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 10px;">Research Dates</p>
        <p class="govuk-body">08-Dec-2021 - 09-Dec-2021</p>
        <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 10px;">Participants</p>
        <p class="govuk-body">6</p>
        <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 10px;">Documents</p>
        <ul class="govuk-list govuk-list--bullet" style="list-style: none; padding-left: 0px;">
            <li> <img src="../../../public/images/miro.svg" style="height: 24px;">&nbsp;
                <a href="https://miro.com/app/board/o9J_llYz0fk=/?moveToWidget=3458764514582896003&cot=14" target="_blank">
                    Miro board
                </a>
            </li>
            <!--  <li> 🎞&nbsp;
                <a href="https://drive.google.com/drive/u/1/folders/1JzGGEsFh9nbr4yGTWkkk2ZQpp-GeKHBF" target="_blank">
                    Video recordings
                </a>
            </li> -->
        </ul>
    </div>

</div> <!-- /. govuk-grid-row -->

{% endblock %}
