{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Account
{% endblock %}

{% set serviceName %}
GOV.UK Account
{% endset%}

{% block beforeContent %}
<!-- <a href="dvla-service-page-5.html" class="govuk-back-link">Back</a> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form action="/phase-2-round-5/sign-in-or-create-account-form" method="POST">

            <!-- Page Header Content -->
            <h1 class="govuk-heading-xl">Sign in or create a GOV.UK account</h1>
            <p>You can use your GOV.UK account to:</p>

            {% include "phase-2-round-5/includes/account-benefit-bullets.html" %}
            <br />

            <!-- Radio Button Group -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="create-account-or-sign-in-hint">
                    <div class="govuk-radios">
                        <!-- Create an account -->
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="create-account" name="signin-create-account-radios" type="radio" value="create-account" aria-describedby="create-account-item-hint">
                            <label class="govuk-label govuk-radios__label" for="create-account">Create an account</label>
                            <div id="create-account-item-hint" class="govuk-hint govuk-radios__hint">
                                You’ll need an email address and a UK mobile phone number. It will take no more than 2 minutes.
                            </div>
                        </div> <!-- /. govuk-radio__item -->
                        <!-- Radio Divider -->
                        <div class="govuk-radios__divider">or</div>
                        <!-- Sign in Radio Button -->
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in" name="signin-create-account-radios" type="radio" value="signin" aria-describedby="sign-in-item-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in">Sign in</label>
                        </div> <!-- /. govuk-radio__item -->
                        <!-- Radio Divider -->
                        <input class="govuk-input" name="time" type="hidden" value="task-1">
                    </div> <!-- /.govuk-radios -->
                </fieldset> <!-- /. govuk-fieldset -->
            </div> <!-- /. govuk-form-group -->

            <!-- Hidden inputs -->
            <input class="govuk-input" id="referer" name="refer" type="hidden" value="masthead">
            <input class="govuk-input" id="email" name="email-address" type="hidden" value="example@email.com">
            <input class="govuk-input" id="phone-number" name="phone-number" value="07123456789" type="hidden">
            <input class="govuk-input" id="personal-details" name="personal-details" value="completed" type="hidden">
            <input class="govuk-input" id="PYI" name="PYI" value="completed" type="hidden">
            <input class="govuk-input" id="full-name" name="full-name" value="Sam Smith" type="hidden">
            <input class="govuk-input" id="date-of-birth-day" name="date-of-birth-day" value="13" type="hidden">
            <input class="govuk-input" id="date-of-birth-month" name="date-of-birth-month" value="04" type="hidden">
            <input class="govuk-input" id="date-of-birth-year" name="date-of-birth-year" value="1968" type="hidden">
            <input class="govuk-input" id="gender" name="gender" value="Male" type="hidden">
            <input class="govuk-input" id="town-of-birth" name="town-of-birth" value="London" type="hidden">
            <input class="govuk-input" id="NIN" name="NIN" value="QQ123456C" type="hidden">
            <input class="govuk-input" id="address-line-1" name="address-line-1" value="12 High Street" type="hidden">
            <input class="govuk-input" id="address-line-2" name="address-line-2" value="Village Green" type="hidden">
            <input class="govuk-input" id="address-town" name="address-town" value="Leeds" type="hidden">
            <input class="govuk-input" id="address-county" name="address-county" value="West Yorkshire" type="hidden">
            <input class="govuk-input" id="address-postcode" name="address-postcode" value="LS1 1AB" type="hidden">
            <input class="govuk-input" id="employment-status" name="employment-status" value="Employed" type="hidden">
            <input class="govuk-input" id="parent-work-pay" name="parent-work-pay" value="22,000" type="hidden">
            <input class="govuk-input" id="driving-vehicle-reg" name="driving-vehicle-reg" value="YA65 AOK" type="hidden">
            <input class="govuk-input" id="driving-vehicle-log" name="driving-vehicle-log" value="123456789101" type="hidden">
            <input class="govuk-input" id="number-children" name="number-children" value="2" type="hidden">
            <input class="govuk-input" id="child-1-name" name="child-1-name" value="Jack Smith" type="hidden">
            <input class="govuk-input" id="child-1-date-of-birth-day" name="child-1-date-of-birth-day" value="27" type="hidden">
            <input class="govuk-input" id="child-1-date-of-birth-month" name="child-1-date-of-birth-month" value="03" type="hidden">
            <input class="govuk-input" id="child-1-date-of-birth-year" name="child-1-date-of-birth-year" value="2018" type="hidden">
            <input class="govuk-input" id="child-1-gender" name="child-1-gender" value="Male" type="hidden">
            <input class="govuk-input" id="child-1-birth-cert-number" name="child-1-birth-cert-number" value="AB12345678" type="hidden">
            <input class="govuk-input" id="child-2-name" name="child-2-name" value="Jill Smith" type="hidden">
            <input class="govuk-input" id="child-2-date-of-birth-day" name="child-2-date-of-birth-day" value="26" type="hidden">
            <input class="govuk-input" id="child-2-date-of-birth-month" name="child-2-date-of-birth-month" value="11" type="hidden">
            <input class="govuk-input" id="child-2-date-of-birth-year" name="child-2-date-of-birth-year" value="2021" type="hidden">
            <input class="govuk-input" id="child-2-gender" name="child-2-gender" value="Female" type="hidden">
            <input class="govuk-input" id="child-2-birth-cert-number" name="child-2-birth-cert-number" value="BA87654321" type="hidden">

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form> <!-- /. form -->

    </div> <!-- /. govuk-grid-column-two-thirds -->

</div> <!-- /. govuk-grid-row -->

{% endblock %}
