<form class="form" action="/phase-2-round-4/sign-out" method="post">

    <div class="govuk-form-group no-mar-bot account-nav">

        <a href="/phase-2-round-4/account/" class="account-link">Account</a>
        {% if data['account-icon'] == "on" %}
        &nbsp;<span>❗️</span>


        {% else %}
        {% endif %}

        &nbsp;&nbsp;

        <input class="govuk-input" id="signing" name="signing" type="hidden" value="no">

        <input class="govuk-input" id="accountstatus" name="accountstatus" type="hidden" value="active">

        <button class="non-button no-mar-bot" data-module="govuk-button">
            Sign out
        </button>

    </div>
</form>
