{% extends "layout_phase-2-round-2.html" %}

{% block pageTitle %}
Childcare calculator - your date of birth
{% endblock %}

{% set serviceName %}
Childcare calculator
{% endset%}


{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a href="date-of-birth" class="govuk-breadcrumbs__link">Back</a>
        </li>
    </ol>
</div>
<!-- {% include "../includes/childcare-step-by-step-breadcrumb.html" %} -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Old passport details</h1>

        <p>Enter your old passport details if you have them.</p>

        <form action="/phase-2-round-2/replace-your-passport/gender" method="POST">
            <div class="govuk-form-group">

                <!-- name of childcare provider -->
                <div class="govuk-form-group">
                    <label class="govuk-label" for="passport-number"><b>Passport number (optional)</b></label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="passport-number" name="passport-number" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['passport-number'] }}">
                </div> <!-- /. form-group -->

            </div>
            <br />
            <div class="govuk-form-group">
                <label class="govuk-label" for="passport-number"><b>Expiry date (optional)</b></label>
                <div id="date-of-birth-hint" class="govuk-hint">For example, 12 11 2007</div>

                <!-- Passport expiry [Day] -->
                <div class="govuk-date-input" id="date-of-birth">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-expiry-day">Day</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-expiry-day" name="passport-expiry-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['passport-expiry-day'] }}">
                        </div> <!-- govuk-form-group -->
                    </div> <!-- govuk-date-input__item -->

                    <!-- Passport expiry [Month] -->
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-expiry-month">Month</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-expiry-month" name="passport-expiry-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['passport-expiry-month'] }}">
                        </div> <!-- govuk-form-group -->
                    </div> <!-- govuk-date-input__item -->

                    <!-- Passport expiry [Year] -->
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-expiry-year">Year</label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-expiry-year" name="passport-expiry-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['passport-expiry-year'] }}">
                        </div> <!-- govuk-form-group -->
                    </div> <!-- govuk-date-input__item -->

                </div> <!-- govuk-date-input -->

            </div> <!-- govuk-form-group -->
            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>
        <!-- /. form -->

    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">
        {% include "phase-2-round-2/includes/travel-abroad-side-panel-control.html" %}
    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
