 {% for item in features %}
 <a href="feat{{ item.fid }}">feat{{ item.fid }}</a>

 {% else %}

 {% endfor %}




 <!--
{% if data['deps'] == "01" %}
{{ data['feat01'] }}
{% else %}
{%  endif %}

{% if data['deps'] == "02" %}
{{ data['feat02'] }}
{% else %} {%  endif %}

{% if data['f01deps'] == "03" %}
{{ data['feat03'] }}
{% else %} {%  endif %}

{% if data['f01deps'] == "04" %}
{{ data['feat04'] }}
{% else %} {%  endif %}

{% if dep === "05" %}
{{ data['feat05'] }}
{% else %} {%  endif %}

{% if dep === "06" %}
{{ data['feat06'] }}
{% else %} {%  endif %}

{% if dep === "07" %}
{{ data['feat07'] }}
{% else %} {%  endif %}

{% if dep === "08" %}
{{ data['feat08'] }}
{% else %} {%  endif %}

{% if dep === "09" %}
{{ data['feat09'] }}
{% else %} {%  endif %}

{% if dep === "10" %}
{{ data['feat10'] }}
{% else %} {%  endif %}

{% if dep === "11" %}
{{ data['feat11'] }}
{% else %} {%  endif %}

{% if dep === "12" %}
{{ data['feat12'] }}
{% else %} {%  endif %}

{% if dep === "13" %}
{{ data['feat13'] }}
{% else %} {%  endif %}

{% if dep === "14" %}
{{ data['feat14'] }}
{% else %} {%  endif %}

{% if dep === "15" %}
{{ data['feat15'] }}
{% else %} {%  endif %}

{% if dep === "16" %}
{{ data['feat16'] }}
{% else %} {%  endif %}

{% if dep === "17" %}
{{ data['feat17'] }}
{% else %} {%  endif %}

{% if dep === "18" %}
{{ data['feat18'] }}
{% else %} {%  endif %}

{% if dep === "19" %}
{{ data['feat19'] }}
{% else %} {%  endif %}

{% if dep === "20" %}
{{ data['feat20'] }}
{% else %} {%  endif %}

{% if dep === "21" %}
{{ data['feat21'] }}
{% else %} {%  endif %}

{% if dep === "22" %}
{{ data['feat22'] }}
{% else %} {%  endif %}

{% if dep === "23" %}
{{ data['feat23'] }}
{% else %} {%  endif %}

{% if dep === "24" %}
{{ data['feat24'] }}
{% else %} {%  endif %}

{% if dep === "25" %}
{{ data['feat25'] }}
{% else %} {%  endif %}

{% if dep === "26" %}
{{ data['feat26'] }}
{% else %} {%  endif %}

{% if dep === "27" %}
{{ data['feat27'] }}
{% else %} {%  endif %}

{% if dep === "28" %}
{{ data['feat28'] }}
{% else %} {%  endif %}

{% if dep === "29" %}
{{ data['feat29'] }}
{% else %} {%  endif %}

{% if dep === "30" %}
{{ data['feat30'] }}
{% else %} {%  endif %}

{% if dep === "31" %}
{{ data['feat15'] }}
{% else %} {%  endif %}

{% if dep === "32" %}
{{ data['feat32'] }}
{% else %} {%  endif %}

{% if dep === "33" %}
{{ data['feat33'] }}
{% else %}
{% endif %}
-->
