{% if fid === "01" %}
{{ fid }}. {{ data['features']['01'] }}
{% elif fid === "02" %}
{{ fid }}. {{ data['features']['02'] }}
{% elif fid === "03" %}
{{ fid }}. {{ data['features']['03'] }}
{% elif fid === "04" %}
{{ fid }}. {{ data['features']['04'] }}
{% elif fid === "05" %}
{{ fid }}. {{ data['features']['05'] }}
{% elif fid === "07" %}
{{ fid }}. {{ data['features']['06'] }}
{% elif fid === "07" %}
{{ fid }}. {{ data['features']['07'] }}
{% elif fid === "08" %}
{{ fid }}. {{ data['features']['08'] }}
{% elif fid === "09" %}
{{ fid }}. {{ data['features']['09'] }}
{% elif fid === "10" %}
{{ fid }}. {{ data['features']['10'] }}
{% elif fid === "11" %}
{{ fid }}. {{ data['features']['11'] }}
{% elif fid === "12" %}
{{ fid }}. {{ data['features']['12'] }}
{% elif fid === "13" %}
{{ fid }}. {{ data['features']['13'] }}
{% elif fid === "14" %}
{{ fid }}. {{ data['features']['14'] }}
{% elif fid === "15" %}
{{ fid }}. {{ data['features']['15'] }}
{% elif fid === "16" %}
{{ fid }}. {{ data['features']['16'] }}
{% elif fid === "17" %}
{{ fid }}. {{ data['features']['17'] }}
{% elif fid === "18" %}
{{ fid }}. {{ data['features']['18'] }}
{% elif fid === "19" %}
{{ fid }}. {{ data['features']['19'] }}
{% elif fid === "20" %}
{{ fid }}. {{ data['features']['20'] }}
{% elif fid === "21" %}
{{ fid }}. {{ data['features']['21'] }}
{% elif fid === "22" %}
{{ fid }}. {{ data['features']['22'] }}
{% elif fid === "23" %}
{{ fid }}. {{ data['features']['23'] }}
{% elif fid === "24" %}
{{ fid }}. {{ data['features']['24'] }}
{% elif fid === "25" %}
{{ fid }}. {{ data['features']['25'] }}
{% elif fid === "26" %}
{{ fid }}. {{ data['features']['26'] }}
{% elif fid === "27" %}
{{ fid }}. {{ data['features']['27'] }}
{% elif fid === "28" %}
{{ fid }}. {{ data['features']['28'] }}
{% elif fid === "29" %}
{{ fid }}. {{ data['features']['29'] }}
{% elif fid === "30" %}
{{ fid }}. {{ data['features']['30'] }}
{% elif fid === "31" %}
{{ fid }}. {{ data['features']['31'] }}
{% elif fid === "32" %}
{{ fid }}. {{ data['features']['32'] }}
{% elif fid === "33" %}
{{ fid }}. {{ data['features']['33'] }}
{% elif fid === "34" %}
{{ fid }}. {{ data['features']['34'] }}
{% elif fid === "35" %}
{{ fid }}. {{ data['features']['35'] }}
{% elif fid === "36" %}
{{ fid }}. {{ data['features']['36'] }}
{% else %}
{% endif %}
