 <!-- Parent work hours -->
                    <div class="govuk-date-input" id="number-of-children">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="parent-work-hours"></label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-8" id="parent-work-hours" name="parent-work-hours" type="number" pattern="[0-9]*" inputmode="numeric" value="{{ data['parent-work-hours'] }}">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-date-input__item -->
                    </div> <!-- govuk-date-input -->