{% extends "layout_phase-2-round-5.html" %}

{% block pageTitle %}
{% include "includes/auth-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "includes/auth-name.html" %}
{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <nav aria-label="Account management">
            <ul class="accounts-menu">
                <li class="accounts-menu__item">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="index.html">Your account</a>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-5/account/account-manage-data.html">Your data</a>
                </li>

                <li class="accounts-menu__item">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="../../phase-2-round-5/account/account-manage-documents.html">Your documents</a>
                </li>

                <li class="accounts-menu__item accounts-menu__item--current" style="margin-left: 0px;">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="#" style="padding-left: 15px;">Your settings</a>
                    <br />
                    <ul class="govuk-list" style="padding-left: 14px;">
                        <br />
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#manage-account">Account features</a>
                            </p>
                        </li>
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#manage-payment">Payment details</a></p>
                        </li>
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#account-details">Account details</a></p>
                        </li>
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#delete-account" style="color: #d4351c;">Delete your account</a></p>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <h1 class="gem-c-heading govuk-heading-xl govuk-!-margin-bottom-4">Your settings</h1>

        <p>View and manage your account settings.</p>

        <div id="manage-account" class="accounts-panel">
            <h2 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-4">Account features</h2>
            <br />
            <ul class="govuk-list">
                <li>
                    <h3 id="notifications" class="govuk-heading-m">Notifications</h3>
                    <p>Manage how you want to be notified. </p>
                    <form id="notifytoggle" method="post" action="">

                        <div class="govuk-form-group">

                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="notify" name="notify" type="checkbox" value="email">
                                    <label class="govuk-label govuk-checkboxes__label" for="notify">
                                        Email
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="notify-2" name="notify" type="checkbox" value="text" checked>
                                    <label class="govuk-label govuk-checkboxes__label" for="notify-2">
                                        Text message
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="notify-3" name="notify" type="checkbox" value="whatsapp">
                                    <label class="govuk-label govuk-checkboxes__label" for="notify-3">
                                        WhatsApp
                                    </label>
                                </div>
                            </div>

                        </div>

                        <!-- <div class="govuk-form-group">
                            <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="notify" name="notify" type="radio" value="email" {{ checked("notify", "email") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="notify">
                                        Email
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="notify-2" name="notify" type="radio" value="text" {{ checked("notify", "text") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="notify-2">
                                        Text message
                                    </label>
                                </div>

                            </div>
                        </div> -->
                    </form>

                    <hr>
                    <br />
                </li>
                <li>
                    <h3 id="reminders" class="govuk-heading-m">Reminders</h3>
                    <p>Receive personalised reminders of key dates and deadlines. </p>
                    <form id="reminderstoggle" method="post" action="./#reminders">
                        <div class="govuk-form-group">
                            <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="reminders" name="reminders" type="radio" value="on" {{ checked("reminders", "on") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="reminders">
                                        On
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="reminders-2" name="reminders" type="radio" value="off" {{ checked("reminders", "off") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="reminders-2">
                                        Off
                                    </label>
                                </div>

                            </div>
                        </div>
                    </form>

                    <hr>
                    <br />
                </li>
                <li>
                    <h3 id="autofill" class="govuk-heading-m">Autofill forms</h3>
                    <p>Prefill forms using information stored in my account. You will always be required to confirm the information is correct before submitting the form. </p>
                    <form id="autofilltoggle" method="post" action="">
                        <div class="govuk-form-group">
                            <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="autofill" name="autofill" type="radio" value="on" {{ checked("autofill", "on") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="autofill">
                                        On
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="autofill-2" name="autofill" type="radio" value="off" {{ checked("autofill", "off") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="autofill-2">
                                        Off
                                    </label>
                                </div>

                            </div>
                        </div>
                    </form>

                    <hr>
                    <br />
                </li>
                <li>
                    <h3 id="personalisation" class="govuk-heading-m">Personalisation</h3>
                    <p><b>Using the information saved in my {% include "includes/auth-name.html" %}: </b></p>
                    <p>Only show information relevant to me across GOV.UK
                    </p>
                    <form id="personaliserelevanttoggle" method="post" action="">
                        <div class="govuk-form-group">
                            <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="personalise-relevant" name="personalise-relevant" type="radio" value="on" {{ checked("personalise-relevant", "on") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="personalise-relevant">
                                        On
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="personalise-relevant-2" name="personalise-relevant" type="radio" value="off" {{ checked("personalise-relevant", "off") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="personalise-relevant-2">
                                        Off
                                    </label>
                                </div>

                            </div>
                        </div>
                    </form>

                    <p>Make dates, locations and amounts relevant to me
                    </p>
                    <form id="personaliserelevanttoggle" method="post" action="">
                        <div class="govuk-form-group">
                            <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="personalise-info" name="personalise-info" type="radio" value="on" {{ checked("personalise-info", "on") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="personalise-info">
                                        On
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="personalise-info-2" name="personalise-info" type="radio" value="off" {{ checked("personalise-info", "off") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="personalise-info-2">
                                        Off
                                    </label>
                                </div>

                            </div>
                        </div>
                    </form>

                    <hr>
                    <br />
                </li>
                <li>
                    <h3 id="suggestions" class="govuk-heading-m">Suggestions</h3>
                    <p>Suggest tasks I may wish to complete, as well as services and benefits that I may be eligible for</p>
                    <form id="suggestservicestoggle" method="post" action="./#recommendation-panel">
                        <div class="govuk-form-group">
                            <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="suggest-services" name="suggestions" type="radio" value="on" {{ checked("suggestions", "on") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="suggest-services">
                                        On
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="suggest-services-2" name="suggestions" type="radio" value="off" {{ checked("suggestions", "off") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="suggest-services-2">
                                        Off
                                    </label>
                                </div>

                            </div>
                        </div>
                    </form>

                    <!-- <p>Suggest tasks I may wish to complete
                    </p>
                    <form id="suggesttasksstoggle" method="post" action="">
                        <div class="govuk-form-group">
                            <div class="govuk-radios govuk-radios--small govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="suggest-tasks" name="suggest-tasks" type="radio" value="on" {{ checked("suggest-tasks", "on") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="suggest-tasks">
                                        On
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="suggest-tasks-2" name="suggest-tasks" type="radio" value="off" {{ checked("suggest-tasks", "off") }} onchange="this.form.submit()">
                                    <label class="govuk-label govuk-radios__label" for="suggest-tasks-2">
                                        Off
                                    </label>
                                </div>

                            </div>
                        </div>
                    </form> -->
                </li>

            </ul>
        </div>
        <br>
        <br>
        <div id="manage-payment" class="accounts-panel">
            <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Manage your payment details</h2>

            <p>Save your preferred payment type for use across GOV.UK services.</p>
            <div class="govuk-grid-row">

                {% if data['payment'] == "added" %}
                <div class="govuk-grid-column-one-quarter">
                    <p><b>Debit card</b><br />
                        Halifax card <br />
                        <!--    <span class="govuk-body-s">(Mastercard)</span></p> -->

                </div>
                <div class="govuk-grid-column-one-quarter">
                    <p><b>Card number</b><br />
                        XXXX-XXXX-4321<br /></p>

                </div>
                <div class="govuk-grid-column-one-quarter">
                    <p><b>Expiry date</b><br />
                        09/24<br /></p>

                </div>
                <div class="govuk-grid-column-one-quarter right">

                    <p class="govuk-body-s"><a href="#">{% include "../includes/view-usage-link.html" %}</a><br /><a href="#">Change</a><br /><a href="#" style="color: #d4351c;">Delete</a></p>

                </div>

                {% else %}
                {% endif %}

                <div class="govuk-grid-column-full">
                    <br />
                    <p><a href="#">Add payment type</a></p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div id="account-details" class="accounts-panel">
            <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Manage your account details</h2>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p><b>Email address</b><br />
                        {{ data['email-address'] }}<br /></p>
                    <p class="govuk-body-s"> <a href="account-manage-email-password">Change</a></p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p><b>Password</b><br />
                        XXXXXXXXX<br /></p>
                    <p class="govuk-body-s"> <a href="account-manage-password">Change</a></p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p><b>Phone number</b><br />
                        {{ data['phone-number'] }}<br /></p>
                    <p class="govuk-body-s"> <a href="account-manage-phone-number-password">Change</a></p>

                </div>
            </div>
        </div>
        <br>
        <br>
        <div id="delete-account" class="accounts-panel">
            <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Delete your account </h2>
            <p>You can permanently delete this account and all the information stored in it.</p>
            <ul class="govuk-list">

                <li><a href="account-manage-delete-password" style="color: #d4351c;">Delete my account</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
