{% extends "layout_phase-2-round-5.html" %}

{% block pageTitle %}
{% include "includes/auth-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "includes/auth-name.html" %}
{% endset%}

{% block content %}

<div class="govuk-grid-row">
    <!-- Account navigation -->
    <div class="govuk-grid-column-one-quarter">
        <nav aria-label="Account management">
            <ul class="accounts-menu">
                <li class="accounts-menu__item">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="index.html">Your account</a>
                </li>

                <li class="accounts-menu__item accounts-menu__item--current" style="margin-left: 0px;">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="#" style="padding-left: 15px;">Your data</a>
                    <br />
                    <ul class="govuk-list" style="padding-left: 14px;">
                        <br />
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#saved-data">Saved data</a>
                            </p>
                        </li>
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#connected-data">Connected data</a></p>
                        </li>
                    </ul>
                </li>

                <li class="accounts-menu__item">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="../../phase-2-round-5/account/account-manage-documents.html">Your documents</a>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-5/account/account-manage.html">Your settings</a>
                </li>

            </ul>
        </nav>
    </div>

    <!-- Account content -->
    <div class="govuk-grid-column-three-quarters">
        <h1 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-4">Your data</h1>

        <p>Manage your saved data.</p>

        <div id="saved-data" class="accounts-panel govuk-!-margin-bottom-8">

            <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Saved data</h2>

            <p>Your saved data can be used to prefill forms across government services and shared on joint applications, saving you time.</p>

            {% if data['personal-details'] == "completed" %}
            {% include "../includes/global-push-warning.html" %}
            {% else %}
            {% endif %}

            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#personal">
                            Personal
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#family">
                            Child(ren)
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#employment">
                            Employment
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#driving">
                            Driving
                        </a>
                    </li>
                    {% if data['share-data'] == "completed" %}
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#shared">
                            Shared
                        </a>
                    </li>
                    {% else %}
                    {% endif %}
                </ul>
                <div class="govuk-tabs__panel" id="personal">

                    <table class="govuk-table">

                        <tbody class="govuk-table__body">

                            {% if data['full-name'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Name<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>{{ data['full-name'] }}</p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['date-of-birth-day'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Date of birth<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>
                                        {{ data['date-of-birth-day'] }}-{{ data['date-of-birth-month'] }}-{{ data['date-of-birth-year'] }}</p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['gender'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Gender<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>
                                        {{ data['gender'] }}
                                    </p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['town-of-birth'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Place of birth<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>{{ data['town-of-birth'] }}</p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['address-line-1'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Address <br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>
                                        {{ data['address-line-1'] }} <br />
                                        {{ data['address-line-2'] }} <br />
                                        {{ data['address-town'] }} <br />
                                        {{ data['address-county'] }} <br />
                                        {{ data['address-postcode'] }}
                                    </p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['NIN'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">National Insurance number<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>
                                        {{ data['NIN'] }}
                                    </p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}


                            {% if data['passport-number'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Passport details <br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>
                                        <b>Passport number:<br /> </b> {{ data['passport-number'] }}<br /> <br />
                                        <b>Passport issue:<br /> </b> {{ data['issue-day'] }}-{{ data['issue-month'] }}-{{ data['issue-year'] }}<br /> <br />
                                        <b>Passport expiry:<br /> </b> {{ data['expiry-day'] }}-{{ data['expiry-month'] }}-{{ data['expiry-year'] }}
                                    </p>

                                </td>
                                <td class="govuk-table__cell right">
                                    {% if data['passport-number'] %}
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                    {% else %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['marital-status'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Marital status <br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>
                                        {{ data['marital-status'] }}
                                    </p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['partner-check'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Live with partner</td>
                                <td class="govuk-table__cell">
                                    <p>
                                        {{ data['partner-check'] }}
                                    </p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                        </tbody>
                    </table>

                    {% if data['personal-details'] == "completed" %}
                    {% else %}
                    <p><a href="../personal-details/start.html">Add your personal details</a></p>
                    {% endif %}

                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="family">

                    <table class="govuk-table">

                        <tbody class="govuk-table__body">

                            {% if data['child-1-name'] or data['childcare-provider-name'] or data['number-children'] %}
                            {% else %}
                            <p>There is currently no child information saved to your account</p>
                            {% endif %}
                              
                            {% if data['number-children'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Number of children</td>
                                <td class="govuk-table__cell">
                                    <p>{{ data['number-children'] }}<br /></p>

                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['child-1-name'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Child 1</td>
                                <td class="govuk-table__cell">
                                    <p><b>Full name:</b> <br />{{ data['child-1-name'] }}<br /></p>
                                    <p><b>Date of birth:</b> <br />
                                        {{ data['child-1-date-of-birth-day'] }}/{{ data['child-1-date-of-birth-month'] }}/{{ data['child-1-date-of-birth-year'] }}<br />
                                    </p>
                                    <p><b>Gender:</b> <br />{{ data['child-1-gender'] }}<br /></p>
                                    <p><b>Birth certificate number:</b> <br />{{ data['child-1-birth-cert-number'] }}<br /></p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['child-2-name'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Child 2</td>
                                <td class="govuk-table__cell">
                                    <p><b>Full name:</b> <br />{{ data['child-2-name'] }}<br /></p>
                                    <p><b>Date of birth:</b> <br />
                                        {{ data['child-2-date-of-birth-day'] }}/{{ data['child-2-date-of-birth-month'] }}/{{ data['child-2-date-of-birth-year'] }}<br />
                                    </p>
                                    <p><b>Gender:</b> <br />{{ data['child-2-gender'] }}<br /></p>
                                    <p><b>Birth certificate number:</b> <br />{{ data['child-2-birth-cert-number'] }}<br /></p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}


                            {% if data['childcare-provider-name'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Childcare provider</td>
                                <td class="govuk-table__cell">
                                    <p> <b>Name: </b><br />{{ data['childcare-provider-name'] }}<br /> </p>
                                    <p> <b>Registration number:<br /> </b>{{ data['childcare-provider-reg'] }}<br /> </p>
                                    <p> <b>Contact number:<br /> </b>{{ data['childcare-provider-phone-number'] }} <br /></p>
                                    <p> <b>Address:<br /> </b>
                                        {{ data['childcare-provider-address-line-1'] }} <br />
                                        {{ data['childcare-provider-address-line-2'] }} <br />
                                        {{ data['childcare-provider-address-town'] }} <br />
                                        {{ data['childcare-provider-address-county'] }} <br />
                                        {{ data['childcare-provider-address-postcode'] }} <br />
                                    </p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                        </tbody>
                    </table>

                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="employment">

                    <table class="govuk-table">

                        <tbody class="govuk-table__body">

                            {% if data['employment-start-month'] or data['employment-status'] or  data['parent-work-hours'] or data['parent-work-pay'] or  data['employment-leave'] %}
                            {% else %}
                            <p>There is currently no employment information saved to your account</p>
                            {% endif %}

                            {% if data['employment-status'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Employment status<br />
                                </td>
                                <td class="govuk-table__cell"> {{ data['employment-status'] }}</td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['current-employer'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Current employer<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell"> {{ data['current-employer'] }}</td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['parent-work-hours'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Hours worked (per week){% if data['employer-connection-status'] == "connected" %}
                                    <p class="govuk-body-s">Provided by employer</p>
                                    {% else %}

                                    {% endif %}</td>
                                <td class="govuk-table__cell"> {{ data['parent-work-hours'] }}</td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}


                            {% if data['employment-start-month'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Employment start date<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell"> {{ data['employment-start-month'] }}-{{ data['employment-start-year'] }}<br /></td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['employment-leave'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Current paid leave status {% if data['employer-connection-status'] == "connected" %}
                                    <p class="govuk-body-s">Provided by employer</p>
                                    {% else %}

                                    {% endif %}</td>
                                <td class="govuk-table__cell">{% if data['employment-leave'] == "None of these" %} Not currently on paid leave {% else %}
                                    {% endif %}</td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}


                            {% if data['parent-work-pay'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Paid (per year)<br />

                                </td>
                                <td class="govuk-table__cell"> £{{ data['parent-work-pay'] }}</td>
                                <td class="govuk-table__cell right">
                                    <p class="govuk-body-s">
                                        <a href="account-manage-data-item.html">Manage</a>
                                    </p>
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}
                        </tbody>
                    </table>

                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="driving">

                    <table class="govuk-table">

                        <tbody class="govuk-table__body">

                            {% if data['driving-vehicle-reg'] %}
                            {% else %}
                            <p>There is currently no driving information saved to your account</p>
                            {% endif %}

                            {% if data['driving-licence'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Driving licence number<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>{{ data['driving-licence'] }}</p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['driving-licence-issue'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Date of driving licence issue<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>{{ data['driving-licence-issue'] }}</p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['driving-licence-expiry'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Date of driving licence expiry<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>{{ data['driving-licence-expiry'] }}</p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['driving-vehicle-reg'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Vehicle registration plate<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>{{ data['driving-vehicle-reg'] }}</p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                            {% if data['driving-vehicle-log'] %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell bold">Vehicle log book (VC5) reference number<br />
                                    {% include "phase-2-round-5/includes/verified.html" %}</td>
                                <td class="govuk-table__cell">
                                    <p>{{ data['driving-vehicle-log'] }}</p>
                                </td>
                                <td class="govuk-table__cell right">
                                    {% include "phase-2-round-5/includes/data-manage-link.html" %}
                                </td>
                            </tr>
                            {% else %}
                            {% endif %}

                        </tbody>
                    </table>

                </div>

            </div>

            {% if data['PYI'] == "completed" %}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    If you change any verified information in your GOV.UK account, it will need to be reviewed before being verified again.
                </strong>
            </div>
            {% else %}
            {% endif %}

        </div>

        <div id="connected-data" class="accounts-panel govuk-!-margin-bottom-8">

            <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Connected data</h2>


            <p>Manage any other data connected to your account. This could be from your bank, or employer, or car insurer.</p>
            <p>Any of this information can be used to prefill forms across government services, saving you time. </p>

            <br />

            {% if data['employer-connection-status'] == "connected" %}
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Connection</th>
                        <th scope="col" class="govuk-table__header">Data provided</th>
                        <th scope="col" class="govuk-table__header">Manage connection</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell bold">{{ data['company-name'] }}
                            <p class="govuk-body-s">Employer</p>
                        </td>
                        <td class="govuk-table__cell">
                            Employment status<br />
                            Employment start date<br />
                            Current paid leave status<br />

                            Weekly pay<br /></td>
                        <td class="govuk-table__cell ">
                            <a href="#">Disconnect</a>
                        </td>
                    </tr>

                </tbody>
            </table>
            {% else %}
            <p><b>You have no connected data in your account</b> </p>
            {% endif %}

            <br />
            <p><a href="#">Connect a new data source</a></p>


        </div>

    </div>
</div>


{% endblock %}
