{% extends "layout_phase-2-round-5.html" %}

{% block pageTitle %}
{% include "includes/auth-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "includes/auth-name.html" %}
{% endset%}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <nav aria-label="Account management">
            <ul class="accounts-menu">
                <li class="accounts-menu__item">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="index.html">Your account</a>
                </li>

                <li class="accounts-menu__item">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="../../phase-2-round-5/account/account-manage-data.html">Your data</a>
                </li>

                <li class="accounts-menu__item accounts-menu__item--current" style="margin-left: 0px;">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="#" style="padding-left: 15px;">Your documents</a>
                    <br />
                    <ul class="govuk-list" style="padding-left: 14px;">
                        <br />
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#saved-documents">ID documents</a>
                            </p>
                        </li>
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#saved-correspondence">Correspondence</a></p>
                        </li>
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#saved-documents-other">Other documents</a></p>
                        </li>
                    </ul>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-5/account/account-manage.html">Your settings</a>
                </li>

            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">
        <h1 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-4">Your documents</h1>

        <p>View and manage your documents.</p>

        <div id="saved-documents" class="accounts-panel govuk-!-margin-bottom-8">

            <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">ID documents</h2>

            <p>Upload ID documents such as your passport or driving licence. Once uploaded you can use them to prove your identity on forms and applications.</p>

            <br />

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-third">

                    {% if data['PYI'] == "completed" %}
                    <h3 class="govuk-heading-s">Passport</h3>
                    <img src="../../../../public/images/passport02.jpg" style="max-width: 100%;"><br />
                    <a href="#">Share</a> | <a href="#" style="color: #d4351c;">Delete</a>
                    <br /><br /><br />
                    {% else %}
                    {% endif %}

                </div>

                <div class="govuk-grid-column-one-third">

                    <h3 class="govuk-heading-s">Driving licence</h3>
                    <p>Not uploaded</p>
                    <br /><br /><br />

                </div>

                <div class="govuk-grid-column-one-third">

                    <h3 class="govuk-heading-s">Birth certificate</h3>
                    <p>Not uploaded</p>
                    <br /><br /><br />

                </div>
            </div>

            <div class="govuk-form-group" style="padding: 10px; background: #f0f0f0;">
                <label class="govuk-label" for="file-upload-1">
                    Upload an ID document
                </label>
                <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
            </div>

        </div>

        <div id="saved-correspondence" class="accounts-panel govuk-!-margin-bottom-8">

            <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Correspondence</h2>

            <p>Copies of letters you’ve been sent from GOV.UK services such as the HMRC or DVLA, will be added here.</p>

        </div>

        <div id="saved-documents-other" class="accounts-panel govuk-!-margin-bottom-8">

            <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Other documents</h2>

            <p>Upload other relevant documents such as your council tax bill or Blue Badge.</p>

            <p>These documents will not be visible to anybody else.
            </p>


            <br />

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-third">


                    <h3 id="jill-birth-certificate" class="govuk-heading-s">Birth certificate <br />{{ data['child-2-name'] }}</h3>

                    <img src="../../../../public/images/birth-certificate.JPG" style="max-width: 100%;"><br />
                    <a href="#">Share</a> | <a href="#" style="color: #d4351c;">Delete</a>
                    <br /><br /><br />


                </div>

                <div class="govuk-grid-column-one-third">


                </div>

                <div class="govuk-grid-column-one-third">


                </div>
            </div>

            <br />

            <div class="govuk-form-group" style="padding: 10px; background: #f0f0f0;">
                <label class="govuk-label" for="file-upload-1">
                    Upload a document
                </label>
                <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
            </div>

        </div>

    </div>
</div>


{% endblock %}
