{% extends "layout_phase-2-round-5.html" %}

{% block pageTitle %}
{% include "includes/auth-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "includes/auth-name.html" %}
{% endset%}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">

        <nav aria-label="Account management">
            <ul class="accounts-menu">

                <li class="accounts-menu__item accounts-menu__item--current" style="margin-left: 0px;">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="#" style="padding-left: 14px;">Your account</a>
                    <br />
                    <ul class="govuk-list" style="padding-left: 14px;">
                        <br />
                        {% if data['recommendations'] == "on" %}
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#recommendations">Recommendations</a>
                            </p>
                        </li>
                        {% else %}
                        {% endif %}

                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#recent-activity">Recent activity</a>
                            </p>
                        </li>
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#reminders">Reminders</a></p>
                        </li>
                    </ul>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-5/account/account-manage-data.html">Your data</a>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-5/account/account-manage-documents.html">Your documents</a>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-5/account/account-manage.html">Your settings</a>
                </li>

            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-three-quarters">

        <h1 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-4">Your account</h1>

        {% if data['suggestions'] == "on" %}
        <div id="recommendation-panel" class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    <div class="toggle" style="float: right;">
                        <strong class="govuk-tag govuk-tag--blue">New</strong>
                    </div>Suggested for you
                </h2>
            </div>
            <div class="govuk-notification-banner__content">

                <p><b>Based on your recent account activity, you may find the following services useful.</b></p>

                <p>As you now have a second child:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>You can add <b>{{ data['child-2-name'] }}</b> to your <a href="#">Child Benefit claim</a>. Your payments will increase by £14 per week. </li>
                    <li>You and your spouse may be able to get <a href="#">Shared Parental Leave</a> </li>
                </ul>

                <br />
                <p>As you recently renewed your passport, you may be thinking about travelling abroad:</p>

                <ul class="govuk-list govuk-list--bullet">

                    <li>You may want to <a href="#"> apply for passports</a> for <b>{{ data['child-1-name'] }}</b> and <b>{{ data['child-2-name'] }}</b>. Current waiting times are approx. 6 weeks.</li>
                    <li>Find out how to <a href="#">travel safely in airports and on aircraft during COVID-19 with children</a>. </li>

                </ul>
                <br />
                <p class="govuk-body-s">
                    Don’t want to see this? You can turn off service recommendations in your <a href="account-manage.html#suggestions">account settings</a>
                </p>

            </div>
        </div>
        {% else %}
        {% endif %}

        <!-- Recent activity -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-bottom-8">
                <div id="recent-activity" class="accounts-panel">
                    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Recent activity</h2>

                    <!-- Heading row -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <p><b>Date</b></p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p><b>Event</b></p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">
                            <p><b>Department</b></p>
                        </div>
                        <div class="govuk-grid-column-full">
                            <hr>
                        </div>
                    </div>

                    <!-- An activity item -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <span class="govuk-body-s">28-11-2021:</span>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p>Registered birth of:<br /><a href="account-manage-documents.html#jill-birth-certificate">{{ data['child-2-name'] }}</a> </p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">
                            <p>{{ data['address-town'] }} Registry Office</p>
                        </div>
                        <div class="govuk-grid-column-full">
                            <hr>
                        </div>
                    </div>

                    <!-- An activity item -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <span class="govuk-body-s">14-11-2021:</span>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p>Applied online for a new <a href="account-manage-documents.html#saved-documents">passport</a></p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">
                            <p>HMPO</p>
                        </div>
                        <div class="govuk-grid-column-full">
                            <hr>
                        </div>
                    </div>

                    <!-- An activity item -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <span class="govuk-body-s">14-09-2021:</span>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p>Applied online for Maternity Allowance </p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">
                            <p>DWP</p>
                        </div>
                        <div class="govuk-grid-column-full">
                            <hr>
                        </div>
                    </div>

                    <!-- An activity item -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <span class="govuk-body-s">05-02-2021:</span>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p>Vehicle taxed online:<br />
                                {{ data['driving-vehicle-reg'] }} for 12 months</p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">
                            <p>DVLA</p>
                        </div>
                        <div class="govuk-grid-column-full">

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">

                {% if data['reminders'] == "on" %}
                <div id="reminders" class="accounts-panel">
                    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Reminders</h2>

                    <span class="govuk-body-s">05-02-2022:</span><br />
                    <p><a href="#">Vehicle tax due: {{ data['driving-vehicle-reg'] }}</a></p>


                    <br />
                    <span class="govuk-body-s">Add to: <img src="../../../../public/images/ical.png" height="16px"> <a href="#">iCal</a> | <img src="../../../../public/images/outlook-calendar-logo.png" height="16px"> <a href="#">Outlook</a></span>

                </div>
                {% else %}
                <div id="reminders" class="accounts-panel">
                    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Reminders</h2>

                    <p>You can turn on personalised reminders in your <a href="account-manage.html#reminders">account settings</a> </p>

                </div>
                {% endif %}
            </div>

        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <p class="govuk-body-s">Last seen <br />{% include "includes/today-time.html" %} <br /><a href="#">Not you?</a></p>
            </div>
        </div>

    </div>

</div>

<script>
    function myFunction(language) {

        var x = document.getElementsByClassName(language);

        for (var i = 0; i < x.length; i++) {

            if (x.item(i).style.display === "none") {
                x.item(i).style.display = "block";
            } else {
                x.item(i).style.display = "none";
            }
        }

    }

</script>

{% endblock %}
