{% extends "layout_phase-2-round-5.html" %}

{% block pageTitle %}
{% include "includes/auth-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "includes/auth-name.html" %}
{% endset%}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">

        <nav aria-label="Account management">
            <ul class="accounts-menu">

                <li class="accounts-menu__item accounts-menu__item--current" style="margin-left: 0px;">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="#" style="padding-left: 14px;">Your account</a>
                    <br />
                    <ul class="govuk-list" style="padding-left: 14px;">
                        <br />
                        {% if data['recommendations'] == "on" %}
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#recommendations">Recommendations</a>
                            </p>
                        </li>
                        {% else %}
                        {% endif %}

                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#recent-activity">Recent activity</a>
                            </p>
                        </li>
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#reminders">Reminders</a></p>
                        </li>
                    </ul>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-5/account/account-manage-data.html">Your data</a>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-5/account/account-manage-documents.html">Your documents</a>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-5/account/account-manage.html">Your settings</a>
                </li>

            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-three-quarters">

        <h1 class="gem-c-heading govuk-heading-l govuk-!-margin-bottom-4">Your account</h1>

        {% if data['recommendations'] == "on" %}
        <div id="recommendation-panel" class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    <div class="toggle" style="float: right;">
                        <strong class="govuk-tag govuk-tag--blue">New</strong>
                    </div>Request to share information
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p>You have received a request to share some of your personal information with another GOV.UK account holder. This may be a part of a joint application, such as Universal Credit or The Childcare Service.</p>

                <p>The person who has made this request should have given you a linking code. You will need to provide this before you share your details. You should only share information with people you trust.
                </p>
                <p><a href="../share-data/link-accounts.html">View request to share information</a> </p>
            </div>
        </div>
        {% else %}
        {% endif %}

        <!-- Recent activity -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-bottom-8">
                <div id="recent-activity" class="accounts-panel">
                    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Recent activity</h2>

                    <!-- An activity item -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <span class="govuk-body-s">28-11-2021:</span>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p>New birth registered: <b>{{ data['child-2-name'] }}</b></p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">

                        </div>
                        <div class="govuk-grid-column-full">

                        </div>
                    </div>


                    <!-- An activity item -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <span class="govuk-body-s">12-01-2021:</span>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p>Add a load more to this list</p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">

                        </div>
                        <div class="govuk-grid-column-full">

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
                <div id="reminders" class="accounts-panel">
                    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Reminders</h2>

                    <p>Personalised reminders will be added here</p>

                    <br />
                    <!--  <span class="govuk-body-s">Add to: <img src="../../../../public/images/ical.png" height="16px"> <a href="#">iCal</a> | <img src="../../../../public/images/outlook-calendar-logo.png" height="16px"> <a href="#">Outlook</a></span> -->

                </div>
            </div>

        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <p class="govuk-body-s">Last sign in <br />{% include "includes/today-time.html" %} <br /><a href="#">Not you?</a></p>
            </div>
        </div>

    </div>

</div>

<script>
    function myFunction(language) {

        var x = document.getElementsByClassName(language);

        for (var i = 0; i < x.length; i++) {

            if (x.item(i).style.display === "none") {
                x.item(i).style.display = "block";
            } else {
                x.item(i).style.display = "none";
            }
        }

    }

</script>

{% endblock %}
