{% extends "layout_phase-2-round-1.html" %}

{% block pageTitle %}
Childcare calculator - childcare provider details
{% endblock %}

{% set serviceName %}
Childcare calculator
{% endset%}


{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a href="childcare-payment" class="govuk-breadcrumbs__link">Back</a>
        </li>
    </ol>
</div>
<!-- {% include "../includes/childcare-step-by-step-breadcrumb.html" %} -->
{% endblock %}}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">What is the name of the child that was cared for?</h1>

        <form action="/phase-2-round-1/universal-credit/check-your-answers" method="POST" autocomplete="off">
            <div class="govuk-form-group">
                <label class="govuk-label" for="child-1-name">What is their full name?</label>
                <input class="govuk-input govuk-!-width-two-thirds" id="child-1-name" name="child-1-name" type="text" spellcheck="false">
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <div class="govuk-!-padding-bottom-1"></div>

        </form>

        <!-- /. form -->
    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">

    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
