<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="childcare-costs" name="childcare-approved-provider" type="radio" value="yes" {% if data['childcare-approved-provider'] == "yes" %} {{ checked("childcare-approved-provider", "yes") }} {% else %} {% endif %}>
                <label class="govuk-label govuk-radios__label" for="childcare-approved-provider">
                    Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="childcare-approved-provider-2" name="childcare-approved-provider" type="radio" value="no" {% if data['childcare-approved-provider'] == "no" %} {{ checked("childcare-approved-provider", "no") }} {% else %} {% endif %}>
                <label class="govuk-label govuk-radios__label" for="childcare-approved-provider-2">
                    No
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="childcare-approved-provider-3" name="childcare-approved-provider" type="radio" value="not-sure" {% if data['childcare-approved-provider'] == "not-sure" %} {{ checked("childcare-approved-provider", "not-sure") }} {% else %} {% endif %}>
                <label class="govuk-label govuk-radios__label" for="childcare-approved-provider-3">
                    Not sure
                </label>
            </div>
        </div>
    </fieldset>
</div>
