{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Account - Enter email
{% endblock %}

{% set serviceName %}
GOV.UK Account
{% endset%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="spinner-check-account" method="POST">
            <h1 class="govuk-heading-xl">Enter your email address</h1>
            <div class="govuk-form-group">
                <label class="govuk-label" for="email-address">Email address</label>
                <input class="govuk-input govuk-!-width-two-thirds" id="email-address" name="email-address" type="email">
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <input class="govuk-input" name="sign-in" type="hidden" value="check">
        </form> <!-- /. form -->
    </div> <!-- /. govuk-grid-column-two-thirds -->
</div> <!-- /. govuk-grid-row -->

{% endblock %}
