{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Account - Check your email
{% endblock %}

{% set serviceName %}
GOV.UK Account
{% endset%}

{% block beforeContent %}
<a href="create-account-enter-email.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="create-password" method="POST">
            <h1 class="govuk-heading-xl">Check your email</h1>
            <div class="govuk-inset-text">
                We have sent an email to: <b>{{ data['email-address'] }}</b>
            </div>
            <p class="govuk-body">The email contains a 6 digit security code.</p>
            <p class="govuk-body">Open the email to get the security code, then enter it below.</p>
            <p class="govuk-body">Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>
            <p class="govuk-body">
                <a href="create-account-enter-email.html" class="govuk-link">Request a new code</a> if you:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>entered your email address incorrectly</li>
                <li>need a new code</li>
            </ul>
            <div class="govuk-form-group">
                <label class="govuk-label" for="otp-code">Enter the 6 digit security code</label>
                <input class="govuk-input govuk-!-width-one-quarter" id="otp-code" name="otp-code" type="number">
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div> <!-- /. govuk-grid-column-two-thirds -->
</div> <!-- /. govuk-grid-row -->

{% endblock %}
