{% extends "layout_phase-2-round-3.html" %}

{% block pageTitle %}
{% include "includes/auth-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "includes/auth-name.html" %}
{% endset%}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">

        <nav aria-label="Account management">
            <ul class="accounts-menu">

                <li class="accounts-menu__item accounts-menu__item--current" style="margin-left: 0px;">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="#" style="padding-left: 14px;">Your account</a>
                    <br />
                    <ul class="govuk-list" style="padding-left: 14px;">
                        <br />
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#recent-activity">Recent activity</a>
                            </p>
                        </li>
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#reminders">Reminders</a></p>
                        </li>
                        {% if data['childcare-payment-status'] == "connected" %}
                        <li>
                            <p class="govuk-body-s">
                                <a class="govuk-link govuk-link--no-underline" href="#payments">Payments</a></p>
                        </li>
                        {% else %}
                        {% endif %}

                    </ul>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-3/account/account-manage-data.html">Your data</a>
                </li>

                <li class="accounts-menu__item ">
                    <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="../../phase-2-round-3/account/account-manage.html">Your settings</a>
                </li>

            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-three-quarters">

        <h1 class="gem-c-heading govuk-heading-l   govuk-!-margin-bottom-4">Your account</h1>

        {% if data['personal-details'] == "completed" and data['PYI'] == "completed" and data['time'] == "task-1" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Account set-up complete
                </h2>
            </div>
            <div class="govuk-notification-banner__content">

                <ol class="govuk-list govuk-list--number">
                    <li>✅ Create your account </li>
                    {% if data['personal-details'] == "completed" %}
                    <li>✅ Add personal details </li>
                    {% else %}
                    <li><a href="../personal-details/start.html">Add your personal details</a> </li>
                    {% endif %}
                    {% if data['PYI'] == "completed" %}
                    <li>✅ Prove your identity </li>
                    {% else %}
                    <li><a href="../prove-your-identity/start.html">Prove your identity</a> </li>
                    {% endif %}
                </ol>

                {% if data['PYI'] == "completed" %}
                <form>
                    <input id="time" name="time" value="task-2" type="hidden">
                    <button class="govuk-button govuk-button--secondary">Clear</button>
                    {% else %}
                    {% endif %}
                </form>
            </div>
        </div>

        {% elif data['personal-details'] == "completed" and data['PYI'] == "completed" and data['time'] == "task-2" %}
        {% else %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Complete your account set-up
                </h2>
            </div>
            <div class="govuk-notification-banner__content">

                <ol class="govuk-list govuk-list--number">
                    <li>✅ Create your account </li>
                    {% if data['personal-details'] == "completed" %}
                    <li>✅ {% include "../includes/service-2-name.html" %} </li>
                    {% else %}
                    <li><a href="../personal-details/start.html">{% include "../includes/service-2-name.html" %}</a> </li>
                    {% endif %}
                    {% if data['PYI'] == "completed" %}
                    <li>✅ {% include "../includes/service-3-name.html" %} </li>
                    {% else %}
                    <li><a href="../prove-your-identity/start.html">{% include "../includes/service-3-name.html" %}</a> </li>
                    {% endif %}
                </ol>
                {% if data['PYI'] == "completed" %}
                <form>
                    <input id="time" name="time" value="task-2" type="hidden">
                    <button class="govuk-button govuk-button--secondary">Clear</button>
                    {% else %}
                    {% endif %}
                </form>
            </div>
        </div>
        {% endif %}

        {% if data['time'] == "task-2" and data['legacy-data'] != "completed" %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    {% include "../includes/service-4-name.html" %}
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p>Now you’ve verified your identity, you can retrieve information you've provided to GOV.UK in the past. </p>

                <p>You can review the information and choose to save it to your GOV.UK account, making it easier to use services in the future.</p>

                <p><a href="../legacy-data/start.html">{% include "../includes/service-4-name.html" %}</a> </p>
            </div>
        </div>
        {% else %}
        {% endif %}

        {% if data['legacy-data'] == "completed" %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Update address with DVLA
                </h2>
            </div>
            <div class="govuk-notification-banner__content">

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        You can be fined up to £1,000 if you do not tell DVLA when your address changes.
                    </strong>
                </div>

                <p>It looks like the address the DVLA hold for you is different to the address verified in your {% include "includes/auth-name.html" %}.</p>

                <p>You must update your driving licence, vehicle log book (V5C) and Direct Debit for vehicle tax when you move home.</p>

                <p>You can still drive while you wait for your new documents to be sent to you.</p>

                <ol class="govuk-list govuk-list--number">
                    <li><a href="">Update your driving licence</a></li>
                    <li><a href="">Update your vehicle log book (V5C)</a></li>
                    <li><a href="">Update your Direct Debit for vehicle tax</a></li>
                </ol>
            </div>
        </div>
        {% else %}
        {% endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div id="recent-activity" class="accounts-panel">
                    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Recent activity</h2>

                    {% if data['legacy-data'] == "completed" %}
                    <!-- An activity item -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <span class="govuk-body-s">{% include "includes/today.html" %}:</span>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p>You have updated your personal, child(ren), employment and driving information</p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">
                            <div class="toggle">
                                <strong class="govuk-tag govuk-tag--blue">New</strong>
                                <!-- colours: grey, green, turquoise, blue, purple, pink, red, orange, yellow -->
                            </div>
                        </div>
                        <div class="govuk-grid-column-full">
                            <hr>
                        </div>
                    </div>
                    {% else %}
                    {% endif %}

                    {% if data['PYI'] == "completed" %}
                    <!-- An activity item -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <span class="govuk-body-s">{% include "includes/today.html" %}:</span>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p>You have proven your identity</p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">
                            <div class="toggle">
                                <strong class="govuk-tag govuk-tag--blue">New</strong>
                                <!-- colours: grey, green, turquoise, blue, purple, pink, red, orange, yellow -->
                            </div>
                        </div>
                        <div class="govuk-grid-column-full">
                            <hr>
                        </div>
                    </div>
                    {% else %}
                    {% endif %}

                    {% if data['personal-details'] == "completed" %}
                    <!-- An activity item -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <span class="govuk-body-s">{% include "includes/today.html" %}:</span>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p>You added your personal details</p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">
                            <div class="toggle">
                                <strong class="govuk-tag govuk-tag--blue">New</strong>
                                <!-- colours: grey, green, turquoise, blue, purple, pink, red, orange, yellow -->
                            </div>
                        </div>
                        <div class="govuk-grid-column-full">
                            <hr>
                        </div>
                    </div>
                    {% else %}
                    {% endif %}

                    <!-- An activity item -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <span class="govuk-body-s">01-11-2021:</span>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p>You created your GOV.UK account</p>
                        </div>
                        <div class="govuk-grid-column-one-quarter right">
                            <div class="toggle">
                                <!--   <strong class="govuk-tag govuk-tag--blue">New</strong>
                                 colours: grey, green, turquoise, blue, purple, pink, red, orange, yellow -->
                            </div>
                        </div>
                        <div class="govuk-grid-column-full">
                            <hr>
                        </div>
                    </div>

                    {% if data['personal-details'] == "completed" %}
                    <!-- Clear notifications -->
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <br />
                            <button class="govuk-button govuk-button--secondary " onclick="myFunction('toggle')">Clear new notifications</button>
                        </div>
                    </div>
                    {% else %}
                    {% endif %}

                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
                <div id="reminders" class="accounts-panel">
                    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Reminders</h2>

                    {% if data['legacy-data'] == "completed" %}
                    <strong class="govuk-tag govuk-tag--red">
                        Urgent
                    </strong><br />
                    <p><a href="#">Update your address on your driving licence</a> (DVLA)</p>
                    <br />

                    <strong class="govuk-tag govuk-tag--red">
                        Urgent
                    </strong><br />
                    <p><a href="#">Update your address on your vehicle log book (V5C)</a> (DVLA)</p>
                    <br />

                    <span class="govuk-body-s"><b>05-02-2022</b></span><br />
                    <p><a href="#">Vehicle <b>AB12 AOT</b>: vehicle tax due</a> (DVLA)</p>
                    {% else %}
                    <p>Personalised reminders will be added here</p>
                    {% endif %}

                    {% if data['legacy-data'] == "completed" %}
                    <br />
                    <span class="govuk-body-s">Add to: <img src="../../../../public/images/ical.png" height="16px"> <a href="#">iCal</a> | <img src="../../../../public/images/outlook-calendar-logo.png" height="16px"> <a href="#">Outlook</a></span>
                    {% else %}
                    {% endif %}

                </div>
            </div>

            {% if data['childcare-payment-status'] == "connected" %}
            <div class="govuk-grid-column-one-half">
                <div id="payments" class="accounts-panel">
                    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Payments</h2>

                    <p>Payments made from your GOV.UK account will be displayed here </p>
                    <br />

                </div>
            </div>
            {% else %}
            {% endif %}

        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <p class="govuk-body-s">Last sign in <br />{% include "includes/today-time.html" %} <br /><a href="#">Not you?</a></p>
            </div>
        </div>

    </div>

</div>

<script>
    function myFunction(language) {

        var x = document.getElementsByClassName(language);

        for (var i = 0; i < x.length; i++) {

            if (x.item(i).style.display === "none") {
                x.item(i).style.display = "block";
            } else {
                x.item(i).style.display = "none";
            }
        }

    }

</script>

{% endblock %}
