#account {
    color: white;
    float: right;
    padding: 2px 5px;
    margin: 0px;
}

#account .form {
    margin: 0px !important;
}

.account-link,
.non-button {
    color: white !important;
    text-decoration: none;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1428571429;
    white-space: nowrap;
    border: 0px;
    background: transparent;
    cursor: pointer;
}

.account-link:hover,
.non-button:hover {
    text-decoration: underline;
}

.no-mar-bot {
    margin-bottom: 0px;
}

.orange-bg {
    background-color: #f47738 !important;
}

.dark-grey-bg {
    background-color: #505a5f !important;
}


@media (min-width: 40.0625em) {
    .accounts-menu__item {
        margin: 0 0 20px;
        padding: 5px 0;
    }
}

.accounts-menu__item--current {
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
    font-weight: bold;
}


.accounts-menu__item--current .accounts-menu__link {
    text-decoration: none;
}


@media (min-width: 40.0625em) {
    .accounts-menu__link {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

.accounts-menu {
    margin: 0 0 18px 0;
    padding: 0;
}

.accounts-menu__link {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.15;
}

.accounts-menu__item {
    list-style-type: none;
    padding: 12px 0;
}

.accounts-panel {
    padding: 30px;
    border: solid 1px #b1b4b6;
    border-top: solid 3px #1d70b8;
}

.ccms-loader {
    border: 10px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    animation: spin 2s linear infinite;

    &__fast {
        animation: spin 0.65s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* browse */


.browse ul,
.browse h3,
.browse p {
    margin: 0;
    padding: 0
}

.browse .browse-panes {
    padding-bottom: 30px;
    position: relative
}

.browse .browse-panes:after {
    content: "";
    display: block;
    clear: both
}

@media (min-width: 40.0625em) {
    .browse .browse-panes {
        padding-top: 30px
    }
}

.browse .browse-panes.section .root-pane {
    display: none
}

@media (min-width: 40.0625em) {
    .browse .browse-panes.section .root-pane {
        display: block;
        float: right;
        width: 25%
    }
}

@media (min-width: 40.0625em) {
    .browse .browse-panes.section .section-pane {
        float: right;
        width: 30%;
        margin-right: 45%
    }
}

@media (min-width: 48.0625em) {
    .browse .browse-panes.section .section-pane {
        width: 35%;
        margin-right: 40%
    }
}

.browse .browse-panes.section .section-pane a {
    text-decoration: none
}

.browse .browse-panes.section .section-pane a h3 {
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1em
}

.browse .browse-panes.section .section-pane a:hover h3 {
    text-decoration-thickness: max(3px, .1875rem, .12em)
}

.browse .browse-panes.subsection .root-pane,
.browse .browse-panes.subsection .section-pane {
    display: none
}

@media (min-width: 40.0625em) {

    .browse .browse-panes.subsection .root-pane,
    .browse .browse-panes.subsection .section-pane {
        display: block;
        float: right;
        width: 25%
    }
}

.browse .browse-panes.subsection .root-pane a,
.browse .browse-panes.subsection .root-pane p,
.browse .browse-panes.subsection .section-pane a,
.browse .browse-panes.subsection .section-pane p {
    color: #505a5f
}

@media (min-width: 40.0625em) {
    .browse .browse-panes.subsection .section-pane {
        margin-left: -18%;
        width: 30%
    }
}

@media (min-width: 48.0625em) {
    .browse .browse-panes.subsection .section-pane {
        margin-left: -13%;
        width: 25%
    }
}

.browse .browse-panes.subsection .section-pane a {
    text-decoration: none
}

.browse .browse-panes.subsection .section-pane a h3 {
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1em
}

.browse .browse-panes.subsection .section-pane a:hover h3 {
    text-decoration-thickness: max(3px, .1875rem, .12em)
}

@media (min-width: 40.0625em) {
    .browse .browse-panes.subsection .subsection-pane {
        float: right;
        width: 50%;
        margin-right: 13%
    }
}

.browse .browse-panes .pane-inner {
    padding-bottom: 30px
}

@media (min-width: 40.0625em) {
    .browse .browse-panes .pane-inner {
        border-left: 1px solid #b1b4b6;
        min-height: 950px
    }
}

.browse .browse-panes .pane-inner__title {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429
}

@media print {
    .browse .browse-panes .pane-inner__title {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse .browse-panes .pane-inner__title {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .browse .browse-panes .pane-inner__title {
        font-size: 14pt;
        line-height: 1.2
    }
}

.browse .browse-panes .pane-inner__description {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.25
}

@media print {
    .browse .browse-panes .pane-inner__description {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse .browse-panes .pane-inner__description {
        font-size: 14px;
        font-size: .875rem;
        line-height: 1.4285714286
    }
}

@media print {
    .browse .browse-panes .pane-inner__description {
        font-size: 12pt;
        line-height: 1.2
    }
}

.browse .browse-panes h1,
.browse .browse-panes h2 {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none
}

@media print {

    .browse .browse-panes h1,
    .browse .browse-panes h2 {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {

    .browse .browse-panes h1,
    .browse .browse-panes h2 {
        font-size: 27px;
        font-size: 1.6875rem;
        line-height: 1.1111111111
    }
}

@media print {

    .browse .browse-panes h1,
    .browse .browse-panes h2 {
        font-size: 18pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {

    .browse .browse-panes h1,
    .browse .browse-panes h2 {
        margin-top: 0;
        margin-bottom: 15px
    }
}

.browse .browse-panes .root-pane,
.browse .browse-panes .section-pane {
    min-height: 20px
}

@media (min-width: 40.0625em) {

    .browse .browse-panes .root-pane h1,
    .browse .browse-panes .root-pane h2,
    .browse .browse-panes .section-pane h1,
    .browse .browse-panes .section-pane h2 {
        padding-left: 15px
    }
}

.browse .browse-panes .root-pane .sort-order,
.browse .browse-panes .section-pane .sort-order {
    display: none
}

.browse .browse-panes .root-pane ul li,
.browse .browse-panes .section-pane ul li {
    list-style: none;
    position: relative
}

.browse .browse-panes .root-pane ul a,
.browse .browse-panes .section-pane ul a {
    position: relative;
    display: block;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    padding: 15px 25px 20px 0
}

@media print {

    .browse .browse-panes .root-pane ul a,
    .browse .browse-panes .section-pane ul a {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {

    .browse .browse-panes .root-pane ul a,
    .browse .browse-panes .section-pane ul a {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {

    .browse .browse-panes .root-pane ul a,
    .browse .browse-panes .section-pane ul a {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {

    .browse .browse-panes .root-pane ul a,
    .browse .browse-panes .section-pane ul a {
        padding: 15px 30px 20px 15px;
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 14px;
        font-size: .875rem;
        line-height: 1.1428571429
    }
}

@media print and (min-width: 40.0625em) {

    .browse .browse-panes .root-pane ul a,
    .browse .browse-panes .section-pane ul a {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) and(min-width: 40.0625em) {

    .browse .browse-panes .root-pane ul a,
    .browse .browse-panes .section-pane ul a {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print and (min-width: 40.0625em) {

    .browse .browse-panes .root-pane ul a,
    .browse .browse-panes .section-pane ul a {
        font-size: 14pt;
        line-height: 1.2
    }
}

.browse .browse-panes .root-pane ul a:hover,
.browse .browse-panes .section-pane ul a:hover {
    background: #f3f2f1;
    color: #1d70b8
}

.browse .browse-panes .root-pane ul a:hover p,
.browse .browse-panes .section-pane ul a:hover p {
    color: #0b0c0c
}

.browse .browse-panes .root-pane ul a:focus:hover,
.browse .browse-panes .section-pane ul a:focus:hover {
    box-shadow: 0 -2px #f3f2f1, 0 3px #0b0c0c;
    color: #0b0c0c
}

.browse .browse-panes .root-pane ul a:focus p,
.browse .browse-panes .section-pane ul a:focus p {
    color: #0b0c0c
}

.browse .browse-panes .root-pane ul a:after,
.browse .browse-panes .section-pane ul a:after {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 10px;
    float: right;
    content: "\203A"
}

.browse .browse-panes .root-pane ul a.loading,
.browse .browse-panes .section-pane ul a.loading {
    cursor: default;
    background: transparent url(/assets/collections/loading-a61f7620847c981f789bbee7328c664c1d55ebcd395a38431a1fa7c40aec9766.gif) 95% 50% no-repeat
}

.browse .browse-panes .root-pane ul a.loading:after,
.browse .browse-panes .section-pane ul a.loading:after {
    content: ""
}

.browse .browse-panes .root-pane ul a h3,
.browse .browse-panes .section-pane ul a h3 {
    font-weight: bold
}

.browse .browse-panes .root-pane ul a p,
.browse .browse-panes .section-pane ul a p {
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.25
}

@media print {

    .browse .browse-panes .root-pane ul a p,
    .browse .browse-panes .section-pane ul a p {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {

    .browse .browse-panes .root-pane ul a p,
    .browse .browse-panes .section-pane ul a p {
        font-size: 14px;
        font-size: .875rem;
        line-height: 1.4285714286
    }
}

@media print {

    .browse .browse-panes .root-pane ul a p,
    .browse .browse-panes .section-pane ul a p {
        font-size: 12pt;
        line-height: 1.2
    }
}

.browse .browse-panes .root-pane ul .active a,
.browse .browse-panes .section-pane ul .active a {
    background: #1d70b8;
    color: #fff
}

.browse .browse-panes .root-pane ul .active a p,
.browse .browse-panes .section-pane ul .active a p {
    color: #fff
}

.browse .browse-panes .root-pane ul .active a:focus,
.browse .browse-panes .section-pane ul .active a:focus {
    background: #fd0;
    color: #0b0c0c
}

.browse .browse-panes .root-pane ul .active a:focus p,
.browse .browse-panes .section-pane ul .active a:focus p {
    color: #0b0c0c
}

.browse .browse-panes .section-pane {
    z-index: 2;
    background: #fff;
    position: relative
}

@media (min-width: 48.0625em) {
    .browse .browse-panes .section-pane.with-sort .pane-inner {
        padding-left: 30px
    }

    .browse .browse-panes .section-pane.with-sort .pane-inner.alphabetical {
        padding-left: 96px
    }

    .browse .browse-panes .section-pane.with-sort .sort-order {
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 1.1111111111;
        float: left;
        display: block;
        width: 75px;
        margin-left: -90px;
        padding: 11px 0 15px 15px
    }
}

@media print and (min-width: 48.0625em) {
    .browse .browse-panes .section-pane.with-sort .sort-order {
        font-family: sans-serif
    }
}

@media (min-width: 48.0625em) and(min-width: 40.0625em) {
    .browse .browse-panes .section-pane.with-sort .sort-order {
        font-size: 27px;
        font-size: 1.6875rem;
        line-height: 1.1111111111
    }
}

@media print and (min-width: 48.0625em) {
    .browse .browse-panes .section-pane.with-sort .sort-order {
        font-size: 18pt;
        line-height: 1.15
    }
}

@media (min-width: 40.0625em) {
    .browse .browse-panes .subsection-pane .pane-inner.a-to-z {
        padding-left: 100px
    }

    .browse .browse-panes .subsection-pane .pane-inner.curated-list {
        padding-left: 30px
    }
}

.browse .browse-panes .subsection-pane h1 {
    padding-left: 0
}

.browse .browse-panes .subsection-pane .list-header {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 30px 0 0 0
}

@media print {
    .browse .browse-panes .subsection-pane .list-header {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse .browse-panes .subsection-pane .list-header {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .browse .browse-panes .subsection-pane .list-header {
        font-size: 14pt;
        line-height: 1.15
    }
}

.browse .browse-panes .subsection-pane .curated-list .list-header {
    margin: 30px 0 5px 0
}

.browse .browse-panes .subsection-pane .curated-list ul li a {
    padding: 5px 30px 5px 0
}

.browse .browse-panes .subsection-pane .sort-order {
    display: none
}

@media (min-width: 40.0625em) {
    .browse .browse-panes .subsection-pane .sort-order {
        display: block;
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 1.1111111111;
        float: left;
        width: 75px;
        margin-left: -100px;
        padding: 11px 0 15px 15px
    }
}

@media print and (min-width: 40.0625em) {
    .browse .browse-panes .subsection-pane .sort-order {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) and(min-width: 40.0625em) {
    .browse .browse-panes .subsection-pane .sort-order {
        font-size: 27px;
        font-size: 1.6875rem;
        line-height: 1.1111111111
    }
}

@media print and (min-width: 40.0625em) {
    .browse .browse-panes .subsection-pane .sort-order {
        font-size: 18pt;
        line-height: 1.15
    }
}

.browse .browse-panes .subsection-pane ul {
    padding: 0;
    list-style: none
}

.browse .browse-panes .subsection-pane ul li {
    padding: 0;
    margin: 0
}

.browse .browse-panes .subsection-pane ul li a {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    display: block;
    padding: 10px 30px 10px 0
}

@media print {
    .browse .browse-panes .subsection-pane ul li a {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .browse .browse-panes .subsection-pane ul li a {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .browse .browse-panes .subsection-pane ul li a {
        font-size: 14pt;
        line-height: 1.2
    }
}

.browse .browse-panes .subsection-pane .detailed-guidance {
    margin-top: 30px
}

.personalised {
    padding: 10px;
    background: #f0f0f0;
    margin-bottom: 0px;
}

.govuk-details {
    margin-bottom: 0px;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1d70b8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1d70b8;
}

input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.notification-marker {
    font-size: 36px;
    line-height: 16px;
    padding: 0px;
    position: relative;
    color: green;
    top: 5px;
}

.verified {
    color: #00703c;
}

.bold {
    font-weight: bold;
}

.right {
    text-align: right;
}

.personalised-inset {
    border-left: 10px solid #4c2c92 !important;
    background: #EDEAF4;
}
