<p><b>Information a user saves in their account could be used to work out what services they are eligible for. If a user meets the service criteria, the GOV.UK account could suggest that they may be eligible to apply to a particular service.</b></p>

<p>When logged in, eligibility for certain services/benefits may be suggested to the user.</p>

<p>This feature could eventually be coupled with auto-application.</p>

<p>There's lots to understand around how users react to this, what users expect from it, and how and which data is used to inform suggestions.</p>

<p>There's also the mirror image of dealing with removed eligibility for things, based on data changes. </p>
