{% extends "layout_phase-2-round-4.html" %}

{% block pageTitle %}
{% include "../includes/service-5-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "../includes/service-5-name.html" %}
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}

<a href="choose-data.html" class="govuk-breadcrumbs__link govuk-back-link">Back</a>

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Your information has been shared with Sarah Smith
            </h1>
            <!--   <div class="govuk-panel__body">
                Your reference number<br><strong>HDJ2123F</strong>
            </div> -->
        </div>

        <p class="govuk-body">You can manage your information and sharing permissions in your <a href="../account/index.html">{% include "includes/auth-name.html" %}</a>.</p>

        <br />

        <p class="govuk-body">
            <a href="/phase-2-round-4/govuk-home" class="govuk-link">Back to GOV.UK home</a>
        </p>
    </div>
</div>

{% endblock %}
