{% extends "layout_phase-2-round-4.html" %}

{% block pageTitle %}
{% include "../includes/service-5-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "../includes/service-5-name.html" %}
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
<a href="link-accounts.html" class="govuk-breadcrumbs__link govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Review the information request
        </h1>

        {% include "../includes/share-data-request-summary.html" %}

        <br />

        <p>Content here about risks etc.</p>
        <p><a href="#">Contact us</a> if there's something fishy going on....</p>

        <form action="choose-data" method="POST">

            <div class="govuk-form-group">

            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <div class="govuk-!-padding-bottom-1"></div>

        </form>

        <button class="govuk-button govuk-button--warning" data-module="govuk-button">
            Don't continue
        </button>
        <!-- /. form -->

    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">

    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
