{% extends "layout_phase-2-round-4.html" %}

{% block pageTitle %}
{% include "../includes/service-5-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "../includes/service-5-name.html" %}
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}

<a href="index.html" class="govuk-breadcrumbs__link govuk-back-link">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            {% include "../includes/service-5-name.html" %}</h1>

        <p>You have received a request to share some of your personal information with another GOV.UK account holder. This may be a part of a joint application, such as Universal Credit or The Childcare Service.</p>

        <p>You should only share information with people you trust. If you do not recognise this request or you have any security concerns, you can <a href="#">contact us</a>.</p>
        <br />
        <form action="information-request" method="POST">

            <div class="govuk-form-group">
                <label class="govuk-label" for="link-code">Enter the linking code given to you</label>
                <input class="govuk-input govuk-input--width-10" id="link-code" name="link-code" type="number" aria-describedby="name-hint">
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <div class="govuk-!-padding-bottom-1"></div>

        </form>
        <!-- /. form -->

    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">

    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
