{% extends "layout_phase-2-round-4.html" %}

{% block pageTitle %}
{% include "../includes/service-5-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "../includes/service-5-name.html" %}
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}

<a href="index.html" class="govuk-breadcrumbs__link govuk-back-link">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            {% include "../includes/service-5-name.html" %}</h1>

        <p>Content to explain this check's purpose, and reiterate the advice to <b>not share if in doubt</b></p>

        <p>Please enter the 6-digit code the requester provided to you</p>


        <form action="information-request" method="POST">

            <div class="govuk-form-group">
                <input class="govuk-input govuk-input--width-10" id="link-code" name="link-code" type="number" aria-describedby="name-hint">
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <div class="govuk-!-padding-bottom-1"></div>

        </form>
        <!-- /. form -->

    </div> <!-- /. govuk-grid-column-two-thirds -->
    <div class="govuk-grid-column-one-third">

    </div>
</div> <!-- /. govuk-grid-row -->

{% endblock %}
