{% extends "layout_unbranded.html" %}

{% set serviceName %}
{% include "includes/projectname.html" %} - The Hub
{% endset%}

{% block pageTitle %}
{% include "includes/projectname.html" %}
{% endblock %}

{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap" rel="stylesheet">

{% include "includes/handover-styles.html" %}

<style>
    .govuk-template {
        background-image: url(../../public/images/research/dots.svg);
        background-size: 30%;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100%;
    }

</style>

<!--  Main heading -->
<div id="project-name" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            {{ data['maintitle'] }}
        </h1>
    </div>
</div>

<!--  Main heading -->
<div id="vision" class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-padding-bottom-8">
        {% include "includes/hubmenu.html" %}
        <br />

        <p class="govuk-body-s">
            Last updated: 07-Feb-2022
        </p>
        <details class="govuk-details govuk-body-s" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Change log
                </span>
            </summary>
            <div class="govuk-details__text govuk-body-s">
                <ul class="govuk-list govuk-body-s">
                    <li>
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text govuk-body-s">
                                    <b>19-Jan-22</b>
                                </span>
                            </summary>
                            <div class="govuk-details__text govuk-body-s">
                                version 1
                            </div>
                        </details>
                    </li>
                    <li>
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text govuk-body-s">
                                    <b>25-Jan-22</b>
                                </span>
                            </summary>
                            <div class="govuk-details__text govuk-body-s">
                                Added:

                                <ul class="govuk-list govuk-list--bullet govuk-body-s">
                                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScDT2JIGAfRIHmFpixzTfTyANeix_jfGWob2DFo80q4yAAfKA/viewform?usp=sf_link" target="_blank"> Contact us form</a></li>
                                    <li><a href="q-and-a/">Q &amp; As</a></li>
                                    <li><a href="engagement/">Engagement</a></li>

                                </ul>

                                <br />
                                Updated:

                                <ul class="govuk-list govuk-list--bullet govuk-body-s">
                                    <li><a href="people/index.html"> The people</a></li>
                                    <li><a href="features/01.html"> {{ data['features']['01'] }}</a></li>
                                    <li><a href="features/02.html">{{ data['features']['02'] }}</a></li>

                                </ul>
                            </div>
                        </details>

                    </li>
                    <li>
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text govuk-body-s">
                                    <b>26-Jan-22</b>
                                </span>
                            </summary>
                            <div class="govuk-details__text govuk-body-s">

                                Updated:

                                <ul class="govuk-list govuk-list--bullet govuk-body-s">

                                    <li><a href="features/03.html"> {{ data['features']['03'] }}</a></li>
                                    <li><a href="features/04.html">{{ data['features']['04'] }}</a></li>
                                    <li><a href="features/05.html"> {{ data['features']['05'] }}</a></li>
                                    <li><a href="features/06.html">{{ data['features']['06'] }}</a></li>
                                    <li><a href="features/07.html"> {{ data['features']['07'] }}</a></li>
                                    <li><a href="features/08.html">{{ data['features']['08'] }}</a></li>
                                    <li><a href="features/09.html"> {{ data['features']['09'] }}</a></li>
                                    <li><a href="features/10.html">{{ data['features']['10'] }}</a></li>

                                </ul>
                            </div>
                        </details>

                    </li>
                    <li>
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text govuk-body-s">
                                    <b>07-Feb-22</b>
                                </span>
                            </summary>
                            <div class="govuk-details__text govuk-body-s">

                                Added:

                                <ul class="govuk-list govuk-list--bullet govuk-body-s">

                                    <li><a href="recommendations/">Recommendations (WIP)</a></li>
                                    <li>Team pages</li>


                                </ul>
                            </div>
                        </details>

                    </li>
                </ul>
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body-l  govuk-!-padding-bottom-2">This hub showcases all of the work <a href="people#team"> we’ve</a> done on a proof of concept <b>exploring a seamless, joined up and personalised experience for users when completing sequential tasks across more than one government service</b>
        </p>

        <div class="govuk-grid-row govuk-!-padding-bottom-2">
            <div class="govuk-grid-column-full center">
                <p><img class="hr-hand" src="../../../public/images/research/hr.svg"></p>
            </div>
        </div>


    </div>

</div>


<!--  Hippo Digital -->
<div id="hippo-digital" class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-4">
        <img src="../../public/images/research/Government-Digital-Service-logo.png" style="max-width: 70px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://hippodigital.co.uk" target="_blank"> <img src="../../public/images/research/hippodigital_logo-black.svg" style="max-width: 90px;"></a>
    </div>
</div>


<br /><br />

{% endblock %}
