{% extends "layout_unbranded.html" %}

{% set serviceName %}
{% include "includes/projectname.html" %} - The Hub
{% endset%}

{% block pageTitle %}
{% include "includes/projectname.html" %}
{% endblock %}

{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap" rel="stylesheet">

{% include "includes/handover-styles.html" %}

<style>
    .govuk-template {
        background-image: url(../../public/images/research/dots.svg);
        background-size: 40%;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100%;
    }

</style>

<!--  Main heading -->
<div id="project-name" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            {{ data['maintitle'] }}
        </h1>
    </div>
</div>

<!--  Main heading -->
<div id="vision" class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        {% include "includes/hubmenu.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body-l  govuk-!-padding-bottom-2">This hub showcases all of the work we’ve done on a proof of concept - <b>exploring a seamless, joined up and personalised experience for users when completing sequential tasks across more than one government service</b>
        </p>

        <div class="govuk-grid-row govuk-!-padding-bottom-2">
            <div class="govuk-grid-column-full center">
                <p><img class="hr-hand" src="../../../public/images/research/hr.svg"></p>
            </div>
        </div>

        <p>Over the next few weeks, we’ll be reaching out to teams to share our knowledge and insights around this concept and make informed recommendations for the future. </p>

        <p>Currently the hub is not complete. We’ll be adding more content once we’ve spoken to teams, ready to handover in February. For now, we ask that you don’t share the hub outside of the programme.</p>

        <p>If you’d like to discuss the work we’ve done or if you’ve got any questions, please reach out:
        </p>
        <p class="govuk-!-padding-top-4"><a href="https://gds.slack.com/archives/C0292LE95DJ"><img src="../../public/images/slack.png" class="icon" target="_blank">GOV.UK account - X-Gov team</a></p>
    </div>
</div>

<!--  Hippo Digital -->
<div id="hippo-digital" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <img src="../../public/images/research/Government-Digital-Service-logo.png" style="max-width: 70px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://hippodigital.co.uk" target="_blank"> <img src="../../public/images/research/hippodigital_logo-black.svg" style="max-width: 90px;"></a>
    </div>
</div>


<br /><br />

{% endblock %}
