{% extends "layout_handover.html" %}

{% block pageTitle %}
Feature | {{ name }}
{% endblock %}

{% block beforeContent %}
<!-- BACK TO TOP BUTTON -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['indexlink'] }}" class="govuk-breadcrumbs__link">{{ data['maintitle'] }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a href="../features/" class="govuk-breadcrumbs__link">Features</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">{% include "features/includes/logic/logic-feature-name.html" %}</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

{% block featureName %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-2">
        {% include "features/includes/logic/logic-feature-category.html" %}
    </div>
    <div class="govuk-grid-column-full govuk-!-padding-top-8">
        <h1 class="govuk-heading-xl">
            {{ fid }}. {{ name }}
        </h1>
    </div>
</div>
{% endblock %}

<div class="govuk-grid-row">

    <!-- End of two-thirds -->
    <div class="govuk-grid-column-two-thirds">

        <p>The feature will be added to the hub soon...</p>

    </div>
    <!-- End of two-thirds -->

    <!-- Start of one-third -->
    <div class="govuk-grid-column-one-third">


    </div>
    <!-- End of one-third -->
</div>

{% block footlink %}
<!--
<div id="hippo-footer" class="govuk-grid-row center govuk-!-padding-top-8">
    <div class="govuk-grid-column-full">
        <a href="https://hippodigital.co.uk" target="_blank"><img src="../../public/images/research/hippodigital_logo-black.svg" style="max-width: 120px;"></a>
    </div>
</div>
-->
{% endblock %}

{% include "includes/back-to-top.html" %}

{% endblock %}
