{% extends "layout.html" %}

{% set serviceName %}
{% include "includes/projectname.html" %} - {% include "includes/index-section-4.html" %}
{% endset%}

{% block pageTitle %}
{% include "includes/projectname.html" %} hub page
{% endblock %}

{% block beforeContent %}
<a href="../" class="govuk-breadcrumbs__link govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            {% include "includes/index-section-4.html" %}
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div id="documents" class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Contents</h2>
        {% include "../research/includes/research-menu.html" %}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <br />
        {{ data.rdd.features.fid }}
        <hr>
        <br /><br />
    </div>
</div>

<div class="govuk-grid-row">
    <div id="features" class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">{% include "../research/includes/research-section-2.html" %}</h2>
        <ul class="govuk-list govuk-list--bullet">
            {% for i in range(1, total) -%}
            <li><a href="/research/feature/{{ fids[i] }}">{{ names[i] }}</a></li>
            {%- endfor %}
        </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <br />
        <hr>
        <br /><br />
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-s">Last updated: 6-Dec-2021
            <br />
            <a href="mailto:jon.maher@digital.cabinet-office.gov.uk">Jon Maher</a>
        </p>
    </div>
</div>

<br /><br />

{% endblock %}
