{% extends "layout_feature.html" %}

<!-- Available blocks to overwrite 

1. featureVideo (Embed video above accordion)
2. description (accordion panel)
3. userfindings (accordion panel)
4. servicefindings (accordion panel)
5. risks (accordion panel)
6. recommendations (accordion panel)
7. underAccordion (Additional content space beneath accordion)
8. relatedfeatures (Manual override or related features panel - requires <li>...</li>)

-->

<!-- ADD VIDEO - start with <iframe>... -->
{% block featureVideo %}
{% endblock %}

<!-- DESCRIPTION ACCORDION -->
{% block description %}
<p>Information a user saves in their account could be used to work out what services they are eligible for.</p>
<p>If a user meets the service criteria, the GOV.UK account could suggest that they may be eligible to apply to a particular service.</p>

{% endblock %}

<!-- END USER FINDINGS -->
{% block userfindings %}
<p>Content goes here</p>
{% endblock %}

<!-- SERVICE FINDINGS -->
{% block servicefindings %}
<p>This feature was seen as having the potential to be really useful for services across a wide range of use cases...but there was considerable concern from services about user adoption/reactions.</p>
<p><strong>How to strike the right balance between government knowing everything about the user and helping the user</strong></p>
<p>For users who don't understand what services are out there, it can help them, but from a privacy activist perspective you'll get a lot of push back. Not from individuals so much as organisations acting on individuals behalf.</p>
<p>Services have concerns that suggesting eligiblity will increase the volumes of enquiries they receive from users. Therefore, careful consideration should be taken in to account for how this feature works.</p>
<p>Suggested eligibility based on new grants at a global level poses a risk to services, however suggessting eligibility based on what we know about them would be a better solution.</p>
{% endblock %}

<!-- RISKS / CHALLENGES / CONSIDERATIONS -->
{% block risks %}
<h3 class="govuk-heading-m">Risks</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>Could flood a department with enquires, slowing or even stopping a service</li>
    <li>Could feel a little too much big brother - it needs to have the right balance between government knowing everything about me and helping me -</li>
    <li>Backlash from a privacy activist perspective - organisations acting on individuals behalf who object to these changes</li>
</ul>
<br /><br />
<h3 class="govuk-heading-m">Considerations</h3>
<ul class="govuk-list govuk-list--bullet">
    <li>Would need to be carefully tested across services to see if users find the value (service concern)</li>
</ul>
{% endblock %}

<!-- RECOMMENDATIONS -->
{% block recommendations %}
<p>Content goes here</p>
{% endblock %}

<!-- CONTENT SPACE BENEATH ACCORDION -->
{% block underAccordion %}
{% endblock %}
