{% extends "layout_feature.html" %}

<!-- Available blocks to overwrite 

1. featureVideo (Embed video above accordion)
2. description (accordion panel)
3. userfindings (accordion panel)
4. servicefindings (accordion panel)
5. risks (accordion panel)
6. recommendations (accordion panel)
7. underAccordion (Additional content space beneath accordion)
8. relatedfeatures (Manual override or related features panel - requires <li>...</li>)

-->

<!-- ADD VIDEO - start with <iframe>... -->
{% block featureVideo %}
{% endblock %}

<!-- DESCRIPTION ACCORDION -->
{% block description %}
{% endblock %}

<!-- END USER FINDINGS -->
{% block userfindings %}
{% endblock %}

<!-- SERVICE FINDINGS -->
{% block servicefindings %}
{% endblock %}

<!-- RISKS / CHALLENGES / CONSIDERATIONS -->
{% block risks %}
{% endblock %}

<!-- RECOMMENDATIONS -->
{% block recommendations %}
{% endblock %}

<!-- CONTENT SPACE BENEATH ACCORDION -->
{% block underAccordion %}
{% endblock %}
