{% extends "layout_handover.html" %}

{% block extralinks %}
<li><a href="https://docs.google.com/spreadsheets/d/14Qim_YrApvCgST80fDHTsPNo3jFGOmFALhKHzS-5eAk/edit?skip_itp2_check=true#gid=0" target="_blank">Features spreadsheet (Google sheet)</a> </li>

{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-two-thirds">
    <p>We tested <b>23</b> features within phase 2.</p>
    <p>These were a combination of continued/iterated features from phase 1, and new features.</p>
    <p>We have categorised them in to the following groups:</p>


    <ul class="govuk-list govuk-list--bullet">
        <li><a href="#category">Types of data</a></li>
        <li><a href="#category">Control of data</a> </li>
        <li><a href="#category">Personalisation</a> </li>
    </ul>

</div>
<div class="govuk-grid-column-one-third hide-on-mobile">
    <p><img class="panel-image" src="../../../public/images/research/features.svg"></p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<!-- FEATURES LIST MENU 
<div class="govuk-grid-column-full">
    <ul class="govuk-list">
        {% for i in range(1, featurestotal) -%}
        <li>
            <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
        </li>
        {%- endfor %}
    </ul>
</div> -->

<div class="govuk-grid-column-full govuk-!-padding-top-2 govuk-!-padding-bottom-4">

    <p>The features are sorted by different criteria in the tabs below:</p>

    <br /><br />

    {% set priorityHtml %}
    <h2 class="govuk-heading-m">Priority</h2>
    {% include "features/includes/lists/priority.html" %}
    {% endset -%}

    {% set categoryHtml %}
    <h2 class="govuk-heading-m">Category</h2>
    {% include "features/includes/lists/category.html" %}
    {% endset -%}

    {% set userimpactHtml %}
    <h2 class="govuk-heading-m">User impact</h2>
    {% include "features/includes/lists/user-impact.html" %}
    {% endset -%}

    {% set servicevalueHtml %}
    <h2 class="govuk-heading-m">Value to service</h2>
    {% include "features/includes/lists/service-value.html" %}
    {% endset -%}

    {% set complexityHtml %}
    <h2 class="govuk-heading-m">Complexity to deliver</h2>
    {% include "features/includes/lists/complexity.html" %}
    {% endset -%}

    {{ govukTabs({
  items: [
    {
      label: "Priority",
      id: "priority",
      panel: {
        html: priorityHtml
      }
    },
    {
      label: "Category",
      id: "category",
      panel: {
        html: categoryHtml
      }
    },
    {
      label: "User impact",
      id: "user-impact",
      panel: {
        html: userimpactHtml
      }
    },
    {
      label: "Value to service",
      id: "service-value",
      panel: {
        html: servicevalueHtml
      }
    },
{
      label: "Complexity to deliver",
      id: "complexity",
      panel: {
        html: complexityHtml
      }
    }
  ]
}) }}

</div>

<div class="govuk-grid-column-full">



    <p class="govuk-!-padding-top-8 govuk-!-padding-bottom-8">The features are also sorted by the teams that may be interested in thems in the tabs below:</p>

    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>
        <ul class="govuk-tabs__list">

            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#by-team">
                    By team
                </a>
            </li>
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#by-feature">
                    By feature
                </a>
            </li>
        </ul>
        <div class="govuk-tabs__panel" id="by-feature">
            <h2 class="govuk-tabs__title">
                Contents
            </h2>

            <br /><br />
            {% for i in range(1, featurestotal) -%}

            <p class="govuk-!-padding-top-8"><b><a href="../features/{{ fids[i] }}"> <b>{{ fids[i] }} {{ names[i] }}</b></a></b></p>

            <ul class="govuk-list govuk-list--spaced">
                {% for team in featureteams[i] | sort -%}
                {% set teamindex = (1 + team).slice(-1) | int %}
                {% set teamindexx = teamindex + 1 %}
                <li><a href="../people/teams/{{ team }}"> <strong class="govuk-tag govuk-tag">{{ data['teams'][teamindex]['name'] }} </strong></a></li>
                {%- endfor %}
            </ul>

            {%- endfor %}

        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="by-team">
            <h2 class="govuk-tabs__title">
                Contents
            </h2>
            <br /><br />

            {% for team in teams -%}
            {% set teamidd = (1 + team.id) | int %}
            {% set teamiddd = ("0" + teamidd) %}

            <p class="govuk-!-padding-top-8">

                <a href="../people/teams/{{ teamiddd }}" class="tag-link">
                    <strong class="govuk-tag govuk-tag">
                        {{ team.name }}
                    </strong></a></p>

            <ul class="govuk-list govuk-list--spaced">
                {% for i in range(1, featurestotal) -%}
                {% for team in featureteams[i] | sort -%}
                {% set teamindex = (1 + team).slice(-1) | int %}
                {% set teamindexx = teamindex %}


                {% if teamiddd == teamindexx %}

                <li><a href="../features/{{ fids[i] }}">{{ names[i] }}</a></li>
                {% else %}

                {% endif %}
                {%- endfor %}
                {%- endfor %}

            </ul>

            {%- endfor %}

        </div>

    </div>




</div>

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
