{% extends "layout_handover.html" %}

{% block extralinks %}
<li><a href="https://docs.google.com/spreadsheets/d/14Qim_YrApvCgST80fDHTsPNo3jFGOmFALhKHzS-5eAk/edit?skip_itp2_check=true#gid=0" target="_blank">Features spreadsheet (Google sheet)</a> </li>

{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-two-thirds">
    <p>An intro sentence or paragraph.</p>


</div>
<div class="govuk-grid-column-one-third hide-on-mobile">
    <p><img class="panel-image" src="../../../public/images/research/features.svg"></p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<!-- FEATURES LIST MENU -->
<div class="govuk-grid-column-full">
    <ul class="govuk-list">
        {% for i in range(1, featurestotal) -%}
        <li>
            <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
        </li>
        {%- endfor %}
    </ul>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
