{% extends "layout_handover.html" %}

{% block extralinks %}
<li><a href="https://docs.google.com/spreadsheets/d/14Qim_YrApvCgST80fDHTsPNo3jFGOmFALhKHzS-5eAk/edit?skip_itp2_check=true#gid=0" target="_blank">Features spreadsheet (Google sheet)</a> </li>

{% endblock %}

{% if pagemenu[0] %}
{% block section1 %}
<div class="govuk-grid-column-two-thirds">
    <p>We tested <b>23</b> features within phase 2.</p>
    <p>These were a combination of continued/iterated features from phase 1, and new features.</p>
    <p>We have categorised them in to the following groups:</p>


    <ul class="govuk-list govuk-list--bullet">
        <li><a href="#category">Types of data</a></li>
        <li><a href="#controllist">Control of data</a> </li>
        <li><a href="#personalisationlist">Personalisation</a> </li>
    </ul>

</div>
<div class="govuk-grid-column-one-third hide-on-mobile">
    <p><img class="panel-image" src="../../../public/images/research/features.svg"></p>
</div>
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[1] %}
{% block section2 %}
<!-- FEATURES LIST MENU 
<div class="govuk-grid-column-full">
    <ul class="govuk-list">
        {% for i in range(1, featurestotal) -%}
        <li>
            <a href="../features/{{ fids[i] }}">{{ fids[i] }}. {{ names[i] }}</a>
        </li>
        {%- endfor %}
    </ul>
</div> -->

<div class="govuk-grid-column-full govuk-!-padding-top-2 govuk-!-padding-bottom-4">

    <p>The list of 30 features (not all researched) are sorted by different criteria in the tabs below:</p>

    <br /><br />

    {% set priorityHtml %}
    <h2 class="govuk-heading-m">Priority</h2>
    {% include "features/includes/lists/priority.html" %}
    {% endset -%}

    {% set categoryHtml %}
    <h2 class="govuk-heading-m">Category</h2>
    {% include "features/includes/lists/category.html" %}
    {% endset -%}

    {% set userimpactHtml %}
    <h2 class="govuk-heading-m">User impact</h2>
    {% include "features/includes/lists/user-impact.html" %}
    {% endset -%}

    {% set servicevalueHtml %}
    <h2 class="govuk-heading-m">Value to service</h2>
    {% include "features/includes/lists/service-value.html" %}
    {% endset -%}

    {% set complexityHtml %}
    <h2 class="govuk-heading-m">Complexity to deliver</h2>
    {% include "features/includes/lists/complexity.html" %}
    {% endset -%}

    {{ govukTabs({
  items: [
    {
      label: "Priority",
      id: "priority",
      panel: {
        html: priorityHtml
      }
    },
    {
      label: "Category",
      id: "category",
      panel: {
        html: categoryHtml
      }
    },
    {
      label: "User impact",
      id: "user-impact",
      panel: {
        html: userimpactHtml
      }
    },
    {
      label: "Value to service",
      id: "service-value",
      panel: {
        html: servicevalueHtml
      }
    },
{
      label: "Complexity to deliver",
      id: "complexity",
      panel: {
        html: complexityHtml
      }
    }
  ]
}) }}

</div>

{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[2] %}
{% block section3 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[3] %}
{% block section4 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[4] %}
{% block section5 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[5] %}
{% block section6 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[6] %}
{% block section7 %}
{% endblock %}
{% else %}
{% endif %}

{% if pagemenu[7] %}
{% block section8 %}
{% endblock %}
{% else %}
{% endif %}
