{% extends "layout_phase-2-round-2.html" %}

{% block pageTitle %}
{% include "phase-2-round-2/includes/service-1-name.html" %}
{% endblock %}

{% set serviceName %}
{% include "phase-2-round-2/includes/service-1-name.html" %}
{% endset%}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}

<a href="connect-employer" class="govuk-breadcrumbs__link govuk-back-link">Back</a>

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="connect-confirmation" method="POST">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="calculator-consent-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What information from your employer do you want to connect to your GOV.UK account?
                        </h1>
                    </legend>

                    <p>Here is the information held by <b>Smith &amp; Sons Ltd</b> that can be connected to your GOV.UK account.</p>

                    <p>You can disconnect any of this information at any time, but you will then need to manually reconfirm your childcare details every 3 months.</p>

                    <br />

                    <input id="employer-connection-status" name="employer-connection-status" value="connected" type="hidden">

                    <input id="pay-source" name="pay-source" value="employer" type="hidden">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="select-all" type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="select-all">
                                <b>Select all</b>
                            </label>
                        </div>


                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-7" name="calculator-consent" type="checkbox" value="spain">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-7">
                                Employment status
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-13" name="calculator-consent" type="checkbox" value="spain">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-13">
                                Employment start date
                            </label>
                        </div>

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-14" name="calculator-consent" type="checkbox" value="spain">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-14">
                                Current paid leave status
                            </label>
                        </div>


                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="calculator-consent-15" name="calculator-consent" type="checkbox" value="spain">
                            <label class="govuk-label govuk-checkboxes__label" for="calculator-consent-15">
                                Weekly pay
                            </label>
                        </div>

                    </div>

                </fieldset>
            </div>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How does this work?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>Once you've connected your GOV.UK account with your employer, they will be able to share details of your employment directly with {% include "phase-2-round-2/includes/service-1-name.html" %}.</p>

                    <p>Your details are automatically provided by your employer's payroll, so {% include "phase-2-round-2/includes/service-1-name.html" %} will always have the most up to date employment and pay details.</p>

                    <p>You can change the sharing permissions on this information in your <a href="account/">account dashboard</a>.</p>

                </div>
            </details>

            <br /> <br />

            <button class="govuk-button" data-module="govuk-button">Connect to my account</button>

        </form> <!-- /. form -->

        <br />

    </div> <!-- /. govuk-grid-column-two-thirds -->

    <div class="govuk-grid-column-one-third">

    </div>

</div> <!-- /. govuk-grid-row -->

{% include "phase-2-round-2/includes/select-all.js" %}

{% endblock %}
