<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <h3 class="govuk-heading-m">Data</h3>
                <ul class="govuk-list">
                    <li><a href="../research/features/19.html">{% include "research/features/feature-ids/19.html" %}</a> </li>
                    <li><a href="../research/features/20.html">{% include "research/features/feature-ids/20.html" %}</a> </li>
                    <li>06. Trusted / verified data</li>
                    <li><a href="../research/features/19.html">{{ data['feat19'] }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <h3 class="govuk-heading-m">Content</h3>
                <ul class="govuk-list">
                    <li>04. Curated (personalised) content</li>

                </ul>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <h3 class="govuk-heading-m">UX</h3>
                <ul class="govuk-list">
                    <li>09. Prompt user to complete profile</li>

                </ul>
            </li>
        </ul>
    </div>
</div>
