<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <h3 class="govuk-heading-m">Data</h3>
                <ul class="govuk-list">
                    <li><a href="../research/features/19.html">{{ data['feat19'] }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <h3 class="govuk-heading-m">Personalisation</h3>
                <ul class="govuk-list">
                    <li>04. Curated (personalised) content</li>

                </ul>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list govuk-list--spaced">
            <li>
                <h3 class="govuk-heading-m">Controls</h3>
                <ul class="govuk-list">
                    <li>09. Prompt user to complete profile</li>

                </ul>
            </li>
        </ul>
    </div>
</div>
