{% if fid === "01" %}
{% include "../../research/features/feature-descriptions/01.html" %}
{% elif fid === "02" %}
{% include "../../research/features/feature-descriptions/02.html" %}
{% elif fid === "03" %}
{% include "../../research/features/feature-descriptions/03.html" %}
{% elif fid === "04" %}
{% include "../../research/features/feature-descriptions/04.html" %}
{% elif fid === "05" %}
{% include "../../research/features/feature-descriptions/05.html" %}
{% elif fid === "06" %}
{% include "../../research/features/feature-descriptions/06.html" %}
{% elif fid === "07" %}
{% include "../../research/features/feature-descriptions/07.html" %}
{% elif fid === "08" %}
{% include "../../research/features/feature-descriptions/08.html" %}
{% elif fid === "09" %}
{% include "../../research/features/feature-descriptions/09.html" %}
{% elif fid === "10" %}
{% include "../../research/features/feature-descriptions/10.html" %}
{% elif fid === "11" %}
{% include "../../research/features/feature-descriptions/11.html" %}
{% elif fid === "12" %}
{% include "../../research/features/feature-descriptions/12.html" %}
{% elif fid === "13" %}
{% include "../../research/features/feature-descriptions/13.html" %}
{% elif fid === "14" %}
{% include "../../research/features/feature-descriptions/14.html" %}
{% elif fid === "15" %}
{% include "../../research/features/feature-descriptions/15.html" %}
{% elif fid === "16" %}
{% include "../../research/features/feature-descriptions/16.html" %}
{% elif fid === "17" %}
{% include "../../research/features/feature-descriptions/17.html" %}
{% elif fid === "18" %}
{% include "../../research/features/feature-descriptions/18.html" %}
{% elif fid === "19" %}
{% include "../../research/features/feature-descriptions/19.html" %}
{% elif fid === "20" %}
{% include "../../research/features/feature-descriptions/20.html" %}
{% elif fid === "21" %}
{% include "../../research/features/feature-descriptions/21.html" %}
{% elif fid === "22" %}
{% include "../../research/features/feature-descriptions/22.html" %}
{% elif fid === "23" %}
{% include "../../research/features/feature-descriptions/23.html" %}
{% elif fid === "24" %}
{% include "../../research/features/feature-descriptions/24.html" %}
{% elif fid === "25" %}
{% include "../../research/features/feature-descriptions/25.html" %}
{% elif fid === "26" %}
{% include "../../research/features/feature-descriptions/26.html" %}
{% elif fid === "27" %}
{% include "../../research/features/feature-descriptions/27.html" %}
{% elif fid === "28" %}
{% include "../../research/features/feature-descriptions/28.html" %}
{% elif fid === "29" %}
{% include "../../research/features/feature-descriptions/29.html" %}
{% elif fid === "30" %}
{% include "../../research/features/feature-descriptions/30.html" %}
{% elif fid === "31" %}
{% include "../../research/features/feature-descriptions/31.html" %}
{% elif fid === "32" %}
{% include "../../research/features/feature-descriptions/32.html" %}
{% elif fid === "33" %}
{% include "../../research/features/feature-descriptions/33.html" %}
{% else %}
NO JOY
{% endif %}
