{% if fid === "01" %}
{{ data['feat01'] }}
{% elif fid === "02" %}
{{ data['feat02'] }}
{% elif fid === "03" %}
{{ data['feat03'] }}
{% elif fid === "04" %}
{{ data['feat04'] }}
{% elif fid === "05" %}
{{ data['feat05'] }}
{% elif fid === "06" %}
{{ data['feat06'] }}
{% elif fid === "07" %}
{{ data['feat07'] }}
{% elif fid === "08" %}
{{ data['feat08'] }}
{% elif fid === "09" %}
{{ data['feat09'] }}
{% elif fid === "10" %}
{{ data['feat10'] }}
{% elif fid === "11" %}
{{ data['feat11'] }}
{% elif fid === "12" %}
{{ data['feat12'] }}
{% elif fid === "13" %}
{{ data['feat13'] }}
{% elif fid === "14" %}
{{ data['feat14'] }}
{% elif fid === "15" %}
{{ data['feat15'] }}
{% elif fid === "16" %}
{{ data['feat16'] }}
{% elif fid === "17" %}
{{ data['feat17'] }}
{% elif fid === "18" %}
{{ data['feat18'] }}
{% elif fid === "19" %}
{{ data['feat19'] }}
{% elif fid === "20" %}
{{ data['feat20'] }}
{% elif fid === "21" %}
{{ data['feat21'] }}
{% elif fid === "22" %}
{{ data['feat22'] }}
{% elif fid === "23" %}
{{ data['feat23'] }}
{% elif fid === "24" %}
{{ data['feat24'] }}
{% elif fid === "25" %}
{{ data['feat25'] }}
{% elif fid === "26" %}
{{ data['feat26'] }}
{% elif fid === "27" %}
{{ data['feat27'] }}
{% elif fid === "28" %}
{{ data['feat28'] }}
{% elif fid === "29" %}
{{ data['feat29'] }}
{% elif fid === "30" %}
{{ data['feat30'] }}
{% elif fid === "31" %}
{{ data['feat15'] }}
{% elif fid === "32" %}
{{ data['feat32'] }}
{% elif fid === "33" %}
{{ data['feat33'] }}
{% else %}
NO JOY
{% endif %}
